[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Instant Cluster
Name[de]=Instant Cluster
Exec=/opt/instantReality/bin/InstantCluster %U
TryExec=/opt/instantReality/bin/InstantCluster
Icon=instantReality-Cluster.png
Categories=Graphics;3DGraphics
