// Colors

$dark: #1f0f34; 
$textcolor: rgba(255,255,255,0.75);
$mdlblue: #7eb7e6; //Panosc light blue 
$mdlpink: #b63479; //Panosc pink
$bordercolor: #3e3e3e;
$mdldark: #818a91; // same as gray-light

/**
 * Boost Default preset inherit START
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                         #55595c !default;
$gray-light:                 #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             $gray-lightest;
$brand-success:            #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size-root: 14px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          transparent;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;


// Navbar
$navbar-height:              50px !default;
$navbar-light-hover-color:         $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;


// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-divider: "  ";


/**
 * Boost Default preset inherit - END
 */
 
