// Import everything.
@import "moodle";

// Change colour of text and icons on top navigation bar.
.navbar-light {
 a {
    color : $gray-lightest; // do not make this important as it ruins the drop down menu in the top right 
    font-size: 1.1em;
    font-weight: bold;
  }
  background-color: $dark !important; 
  border-bottom: 1px solid $dark;
  .navbar-nav .nav-link {
   color: $gray-lightest !important;
  }
}

// WARNING - this is messy: First remove all logos (top navigation bar and home page header card)
#page-wrapper .logo img { display:none; }

// Then put back the big logo on the home page header card 
#page-site-index .logo img { display: unset }

// Add the compact logo the navigation bar on the home page 
#page-site-index .navbar-light .navbar-brand {
    background-image: url(https://test.pan-learning.org/moodle/theme/PaNOSC_ExPaNDS_compact2.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
    background-size: 100%;
 }
// Finally add the compact logo to the navigation bar on all the other pages 
.navbar-light .navbar-brand {
    background-image: url(https://test.pan-learning.org/moodle/theme/PaNOSC_ExPaNDS_compact2.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
    background-size: 100%;
 }
// The removal and addition of the logo on all other pages is not strictly necessary however if not done Moodle displays a lower quality version of the logo. 
// Moodle does still display a low quality version of the large logo on the home page header card and log in page. This could be fixed at a later date. 


// Remove short title from top navigation bar 
.site-name {display: none !important;}

// Change color of hamburger icon on top navigation bar.
.btn-light {
    color: $gray-lightest;
    background: transparent !important;
    border: transparent !important;
}



// Add header with image and change color of buttons on the header. 
#page-header .card {
  height: 150px;
  background: url(https://test.pan-learning.org/moodle/theme/earth-1151659.jpg);
  background-size: cover;
  background-position: 100% 90%;
  .btn {
     color: $gray-lightest;
     background: $gray-light;
     font-size: 1.1em;
     font-weight: bold;
     border: transparent !important;
  }
  }
// Change title on header card. 
.page-context-header .page-header-headings h1 {
  font-size: 2.4em;
  font-weight: 600;
  color: $gray-lighter;
}
// Change breadcrumb navigation on header card.
.breadcrumb {
 a {
    color : $gray-lighter;
    font-size: 1.1em;
    font-weight: bold;
    }
   color : $gray-lighter;
   font-size: 1.1em;
   font-weight: bold;
}
// Increase logo on header card for home page 
 #page-header {
     .logo {
         margin: -15px 10px;
         img {
             max-height: 135px;
         }
     }
 }


// Change login page background colours. 
#page-login-index {
 background: $gray-lightest;
 .card {
    background: $gray-lighter;
 }
 .card-header {
    background: $dark;
 }
}



//Stops a weird clipping of buttons on the user profile page - not sure why
div#page-navbar {   
  position: relative;
  width: 100%;
}



//Change color of background and text on side navigation bar. 
#nav-drawer {
  background: $mdldark none repeat scroll 0 0; // area behind side navigation button
}
.navbar-nav {
  .btn-secondary:hover, .btn-default:hover {
    background-color: $dark;
    border-color: $dark;
    color: $textcolor;
  }
}
.list-group-item {
  background-color: $gray-light;
  border: medium none;
  color: $textcolor;
  &:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.list-group-item-action {
  &:focus, &:hover {
    background-color: transparent;
    color: $gray-lightest;
    font-size: 1.1em;
    font-weight: bold;
  }
}


// Change background and colour of all dropdown menus. 
.dropdown-menu {
    border-radius: 0;
    .dropdown-divider {
        display: none;
    }    
    .dropdown-item {
        color: $gray-dark;
        font-weight: bold;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 0;

        &:focus, &:hover {
           color: $gray-lightest;
           font-size: 14px;
           font-weight: bold;
        }
    }
}


 

