<!DOCTYPE html>
<html>
<head>
    <title>simrunner</title>
</head>
<body>
    <fieldset>
        <form method=post action="/logout">
        {% csrf_token %}
            <label>Logged in as {{ user }}</label>
            <input type="submit" value="Logout"/>
        </form>
    </fieldset>

    <form method=post action="/startsim" target="_blank">
    {% csrf_token %}
        <input type="hidden" name="group_name" value="{{ group_name }}">
        <input type="hidden" name="instr_displayname" value="{{ instr_displayname }}">
        <input type="hidden" name="params_jsonified" value="{{ params_jsonified }}">

        <fieldset>
            <legend>Browse instrument groups</legend>
            <ul>
                {% for g in group_names %}
                <li>
                    <a href="/instrument/{{ g }}">{{ g }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>Instruments in {{ group_name }}</legend>
            <ul>
                {% for i in instr_displaynames %}
                <li>
                    <a href="/instrument/{{ group_name }}/{{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>
                <a href="/static/doc/{{ group_name }}/{{ instr_displayname }}.html" target=_blank>
                    {{ instr_displayname }} documentation
                </a>
            </legend>
            <a href="{{ instr_image }}" target=_blank><img src="{{ instr_image }}" width="480" ></a>
            {{ instr_infostring }}
        </fieldset>

        <fieldset>
            <legend>{{ instr_displayname }}</legend>
            <table>
                {% for p in params %}
                <tr><td>
                    <label>
                        {{ p.0 }} {{p.2}} :</td><td>
                        <input type="text" name="{{ p.0 }}" value="{{ p.1 }}"></td><td>
		                {{ p.3 }}</td></tr>
                    </label>
                {% endfor %}
		</table>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Runtime configuration</legend>
            <table>
                <tr>
                    <td><label>neutron rays:</td><td>
                        <input type="text" name="neutrons" value="{{ neutrons }}"/></td>
                    </label></tr>
                <tr><td><label>simulation steps:</td><td>
                         <input type="text" name="scanpoints" value="{{ scanpoints }}"/></td>
                    </label></tr>
                <tr><td><label>random seed:</td><td>
                        <input type="text" name="seed" value="{{ seed }}"/></td>
                    </label></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Start simulation run</legend>
            <input type="submit" value="Run"/>
        </fieldset>
    </form>
</body>
</html>
