<!DOCTYPE html>
<html>
<head>
    <title>Instrument</title>
    <script type="text/javascript" src="/static/instrument.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div id="logout_container">
        <form method=post action="/logout">
        {% csrf_token %}
            <label>Logged in as {{ user }} (<a href="/recent" _target="blank">see recent simruns</a>)</label>
            <button type="submit">Logout</button>
        </form>
    </div>

    <form method=post action="/startsim" target="_blank">
    {% csrf_token %}
        <input type="hidden" name="group_name" value="{{ group_name }}">
        <input type="hidden" name="instr_displayname" value="{{ instr_displayname }}">
        <input type="hidden" name="params_jsonified" value="{{ params_jsonified }}">

        <fieldset style="{{ grpinstr_style }}">
            <legend>Browse instrument groups</legend>
            <ul>
                {% for g in group_names %}
                <li>
                    <a href="/{{ instr_urlbit }}/{{ g }}">{{ g }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset style="{{ grpinstr_style }}">
            <legend>Instruments in {{ group_name }}</legend>
            <ul>
                {% for i in instr_displaynames %}
                <li>
                    <a href="/{{ instr_urlbit }}/{{ group_name }}/{{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>
                {{ instr_displayname }}
                <a href="/static/doc/{{ group_name }}/{{ instr_displayname }}.html" target=_blank>(click for documentation)</a>
            </legend>
            <div class="centerText"><a href="{{ instr_image }}" target=_blank><img src="{{ instr_image }}" width="480" ></a></div>
            {{ instr_infostring }}
        </fieldset>

        <fieldset>
            <legend>Parameters for {{ instr_displayname }}</legend>
            <table class="params">
                <col class="paramscol"/>
                <col />
                <col />
                {% for p in params %}
                <tr>
                    <td><label>{{ p.0 }} {{p.2}} :</label></td>
                    <td><input type="text" name="{{ p.0 }}" value="{{ p.1 }}" id="paramsinput"></td>
                    <td>{{ p.3 }}</td>
                </tr>
                {% endfor %}
		    </table>
        </fieldset>

        <fieldset>
            <legend>Runtime configuration</legend>
            <table class="params">
                <col class="paramscol"/>
                <col />
                <tr>
                    <td><label>neutron rays:</label></td>
                    <td><input type="text" name="neutrons" value="{{ neutrons }}" id="paramsinput"/></td>
                </tr>
                <tr>
                    <td><label id="paramslabel">simulation steps:</label></td>
                    <td><input type="text" name="scanpoints" value="{{ scanpoints }}" id="paramsinput"/></td>
                </tr>
                <tr>
                    <td><label id="paramslabel">random seed:</label></td>
                    <td><input type="text" name="seed" value="{{ seed }}" id="paramsinput"/></td>
                </tr>
            </table>
        </fieldset>

        <fieldset id="submit-container">
            <legend>Start simulation run</legend>
            <div id="submit-wrapper">
                <button type="submit">Run</button>
            </div>
        </fieldset>
    </form>
    <p id="mcstas">A web-based interface for <a href="http://www.mcstas.org" target=_blank>McStas</a>.</p>
</body>
</html>
