<!DOCTYPE html>
<html>
<head>
  <title>simrunner</title>
  <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  <meta http-equiv="refresh" content="3" />
</head>
<body>
    <h3>{{ instr_displayname }}</h3>
    <p>Started {{ date_time_created }}</p>
    <p><a href="/instrument/{{ group_name }}/{{ instr_displayname }}">Reconfigure</a></p>
    <fieldset>
        <legend>Simulation - {{ status }}</legend>
        <p><strong>params:</strong> {% for p in params %}{{ p.0 }}={{ p.1 }}  {% endfor %}</p>
        <p><strong>neutron rays:</strong> {{ neutrons }}<p>
        <p><strong>random seed:</strong> {{ seed }}</p>
        <p><strong>simulation steps:</strong> {{ scanpoints }}</p>
    </fieldset>
    <p>A web-based interface for <a href="http://www.mcstas.org" target=_blank>McStas</a>.</p>
</body>
