<!DOCTYPE html>
<html>
<head>
    <title>Simulation Data</title>
    <script type="text/javascript" src="/static/status.js"></script>
</head>
<body>
    <h3>{{ instr_displayname }}</h3>
    <p>Completed {{ date_time_completed }}</p>
    <p><a href="/instrument/{{ group_name }}/{{ instr_displayname }}">Reconfigure</a></p>
    <fieldset>
        <legend>Simulation</legend>
        <p><strong>params:</strong> {% for p in params %}{{ p.0 }}={{ p.1 }}  {% endfor %}</p>
        <p><strong>neutron rays:</strong> {{ neutrons }}<p>
        <p><strong>random seed:</strong> {{ seed }}</p>
        <p><strong>simulation steps:</strong> {{ scanpoints }}</p>
    </fieldset>

    <fieldset>
        {% block content %}
        {% endblock %}
    </fieldset>

    <fieldset>
        <legend>Instrument layout</legend>
        <img src="/{{ data_folder }}/layout.png"/>
	    <p><a href="/{{ data_folder }}/layout.wrl">VRML view the instrument</a></p>
    </fieldset>

    <fieldset>
        <legend>Download output files</legend>
        <a href="/{{ data_folder }}/simrun.tar.gz">simrun.tar.gz</a>
        <a href="/{{ data_folder }}/{{ instr_displayname }}.instr">{{ instr_displayname }}.instr</a>
        <a href="/{{ data_folder }}/stdout.txt" target=_blank>stdout</a>
        <a href="/{{ data_folder }}/stderr.txt" target=_blank>stderr</a>
    </fieldset>
    <p>A web-based interface for <a href="http://www.mcstas.org" target=_blank>McStas</a>.</p>
</body>
