{% extends "mcsimulator/layout.html" %}
{% block title %}Login{% endblock %}
{% block head_extra %}
<style type="text/css">
    p { color: #336699; }
    div.centered {
    margin: 10px 0px 10px 0px;
    text-align: center;
    }
    // iframe{ display: none ; }
</style>
<script language="javascript">
        // targets: "", "_blank", "iframeN"
        function OnButton1(){
            document.Form.action = "/moodle/login/index.php" ;    // First target
            document.Form.target = "iframe1" ;                    // Open in iframe1
            document.Form.submit() ;                              // Submit the page
            document.Form.action = "/login/try/" ;
            document.Form.target = "iframe2" ;                    // Open in iframe2
            document.Form.submit() ;                              // Submit the page
            document.Form.action = wikiauth(document.Form.username,
                                            document.Form.password,
                                            ) ;
            document.Form.target = "iframe3" ;                    // Open in iframe3
            document.Form.submit() ;                              // Submit the page

            return true;
        }
        function wiki_auth(login, pass, ref){
            $.post('/w/api.php?action=login&lgname=' + login +
                   '&lgpassword=' + pass + '&format=json',
                   function(data) {
                       if(data.login.result == 'NeedToken') {
                           $.post('/w/api.php?action=login&lgname=' + login +
                                  '&lgpassword=' + pass + '&lgtoken='+data.login.token+'&format=json',
                                  function(data) {
                                      if(!data.error){
                                          if (data.login.result == "Success"){ document.location.href=ref; }
                                          else { console.log('Result: '+ data.login.result); }
                                      }
                                      else { console.log('Error: ' + data.error); }
                                  });
                       }
                       else { console.log('Result: ' + data.login.result); }
                       if(data.error) { console.log('Error: ' + data.error); }
                   });
        }
</script>
<script>
$(document).ready(function(){
            wiki_auth('Wikisysop', 'wrongpass', '/w/');
});
</script>
{% endblock %}
{% block content %}
  <h1>Login</h1>

  <form name=Form method="POST" action="login1.php">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <ol>
      <li>
        <label for=username>Username:</label>
        <input type="text" name="username" id="username">
      </li>
      <li>
        <label for=password>Password:</label>
        <input type="password" name="password" id="password">
      </li>
    </ol>
    <input type="submit" value="Send" name="button1" onclick="return OnButton1();"><br>
  </form>

<iframe type="hidden" NAME="iframe1" WIDTH="800" HEIGHT="160"></iframe><br>
<iframe type="hidden" NAME="iframe2" WIDTH="800" HEIGHT="160"></iframe>
<iframe type="hidden" NAME="iframe3" WIDTH="800" HEIGHT="160"></iframe>

{% endblock %}
