<!DOCTYPE html>
<html>
<head>
    <title>Instrument</title>
    <script>
        window.onload = function() {
            document.getElementById('paramsinput')[0].focus();
        };
    </script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container">
        <a href="http://e-neutrons.org" target=_blank><img src="/static/PaNOSClogo_web_RGB_50px_high.jpeg" style="height: 40px; position:relative; float:left; margin-right:8px;"/></a>
        <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <a href="http://mcxtrace.org" target=_blank><img src="/static/mcxtrace_80x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <form method=post action="/logout">
        {% csrf_token %}
            <label>Logged in as {{ user }} (<a href="/recent" _target="blank">see recent simruns</a>)</label>
            <button type="submit">Logout</button>
        </form>
    </div>

    <form method=post action="/startsim" target="_blank">
    {% csrf_token %}
        <input type="hidden" name="group_name" value="{{ group_name }}">
        <input type="hidden" name="instr_displayname" value="{{ instr_displayname }}">
        <input type="hidden" name="params_jsonified" value="{{ params_jsonified }}">

        {% if show_menu %}
        <a href="/instrument/{{ group_name }}/{{ instr_displayname }}">Hide menu</a>
        <fieldset>
            <legend>Browse instrument groups</legend>
            <ul>
                {% for g in group_names %}
                <li>
                    <a href="/{{ instr_urlbit }}/{{ g }}">{{ g }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>Instruments in {{ group_name }}</legend>
            <ul>
                {% for i in instr_displaynames %}
                <li>
                    <a href="/instrument/{{ group_name }}/{{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
            </ul>
        </fieldset>
        {% else %}
        <a href="/instrument-menu/{{ group_name }}/{{ instr_displayname }}">Show menu</a>
        {% endif %}

        <fieldset>
            <legend>
                {{ instr_displayname }}
                <a href="/static/doc/{{ group_name }}/{{ instr_displayname }}.html" target=_blank>(click for documentation)</a>
            </legend>
            <div class="centerText"><a href="{{ instr_image }}" target=_blank><img src="{{ instr_image }}" width="480"></a></div>
            {{ instr_infostring }}
        </fieldset>

        <fieldset>
            <legend>Parameters for {{ instr_displayname }}</legend>
            <table class="params">
                <col class="paramscol"/>
                <col />
                <col />
                {% for p in params %}
                <tr>
                    <td><label>{{ p.0 }} {{p.2}} :</label></td>
                    <td><input type="text" name="{{ p.0 }}" value="{{ p.1 }}" id="paramsinput"></td>
                    <td>{{ p.3 }} ({{ p.1 }})</td>
                </tr>
                {% endfor %}
		    </table>
        </fieldset>

        <fieldset>
            <legend>Runtime configuration</legend>
            <table class="params">
                <col class="paramscol"/>
                <col />
                <tr>
                    <td><label>neutron rays:</label></td>
                    <td><input type="text" name="neutrons" value="{{ neutrons }}" id="paramsinput"/></td>
                </tr>
                <tr>
                    <td><label>simulation steps:</label></td>
                    <td><input type="text" name="scanpoints" value="{{ scanpoints }}" id="paramsinput"/></td>
                </tr>
                <tr>
                    <td><label>random seed:</label></td>
                    <td><input type="text" name="seed" value="{{ seed }}" id="paramsinput"/></td>
                </tr>
                {% if gravity_visible %}
                <tr>
                    <td><label>gravity:</label></td>
                    <td><input type="checkbox" name="gravity" id="gravity"/></td>
                </tr>
                {% endif %}
            </table>
        </fieldset>

        <fieldset id="submit-container">
            <legend>Start simulation run</legend>
            <div id="submit-wrapper">
              <button type="submit">Launch</button><br>
	      (<input type="checkbox" name="force_recalc" id="force_recalc" {% if force_run %} checked disabled {% endif %} /> ensure recalculation)</td>

            </div>
        </fieldset>
	
    </form>
	    <p id="mcstas">A web-based interface for
	    <a href="http://www.mcstas.org" target=_blank>McStas</a> and <a href="http://www.mcxtrace.org" target=_blank>McXtrace</a>.</p>
	    <p id="mcstas">All contents is provided under the terms of <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/"><img align="middle" src="http://www.e-neutrons.org/wiki/resources/assets/licenses/cc-by-sa.png"></a></p>
</div>
</body>
</html>
