<!DOCTYPE html>
<html>
<head>
    <title>A web-based Interface for McStas and McXtrace</title>
    <script language="javascript">
        function onSubmit(){
            // enter moodle
            document.Form.action = "https://e-neutrons.esss.dk/moodle/login/index.php";
            document.Form.target = "ifMoodle";
            document.Form.submit();

            // enter simrunner
            document.Form.action = "/loginslim-post";
            document.Form.target = "";
            document.Form.submit();
            return true;
        }
    </script>
</head>
<body>
    <form method="POST" action="/loginslim-post">
    {% csrf_token %}
        Username
        <input type="text" name="username" id="username">
        Password
        <input type="password" name="password">
        <button type="submit" name="btnSubmit" onclick="return onSubmit();">Login</button>
    </form>

    <iframe type="hidden" name="ifMoodle" width="10" height="10" style="display:none;">
</body>
</html>
