<!DOCTYPE html>
<html>
<head>
    <title>A web-based Interface for McStas and McXtrace</title>
    <script>window.onload = function() { document.getElementById("username").focus(); }</script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container">
        <a href="http://e-neutrons.org" target=_blank><img src="/static/eneutrons_63x50.png" style="height: 40px; position:relative; float:left; margin-right:8px;"/></a>
        <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <a href="http://mcxtrace.org" target=_blank><img src="/static/mcxtrace_80x50.png" style="height: 40px; position:relative; float:left;"/></a>
    </div>
    <form method="POST" action="/login-post">
    {% csrf_token %}
        <fieldset>
            <h3 id="logintitle">Simrunner</h3>
            <table id="logintable">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" id="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>

            <div id="submit-wrapper">
                <button type="submit">Login</button>
            </div>
        </fieldset>
    </form>
	    <p id="mcstas">A web-based interface for
	    <a href="http://www.mcstas.org" target=_blank>McStas</a> and <a href="http://www.mcxtrace.org" target=_blank>McXtrace</a>.</p>
</div>
</body>
</html>
