<!DOCTYPE html>
<html>
<head>
    <title>Instrument</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container">
        <a href="https://e-neutrons.esss.dk" target=_blank><img src="/static/PaNOSClogo_web_RGB_50px_high.jpeg" style="height: 40px; position:relative; float:left; margin-right:8px;"/></a>
        <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <a href="http://mcxtrace.org" target=_blank><img src="/static/mcxtrace_80x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <form method=post action="/logout">
        {% csrf_token %}
            <label>Logged in as {{ user }} (<a href="/recent">see recent simruns</a>)</label>
            <button type="submit">Logout</button>
        </form>
    </div>

    <fieldset>
        <legend>Recent Simruns</legend>
        <ul>
            {% for d in datafolder_simname %}
            <li>
                <a href="/{{ d.0 }}/browse.html">{{ d.1 }}</a>
            </li>
            {% endfor %}
        </ul>
    </fieldset>

	<p id="mcstas">A web-based interface for
	<a href="http://www.mcstas.org" target=_blank>McStas</a> and <a href="http://www.mcxtrace.org" target=_blank>McXtrace</a>.</p>
</div>
</body>
</html>
