<!DOCTYPE html>
<html>
<head>
    <title>Simulation Data</title>
    <script type="text/javascript" src="/static/status.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container">
        <a href="http://e-neutrons.org" target=_blank><img src="/static/eneutrons_63x50.png" style="height: 40px; position:relative; float:left; margin-right:8px;"/></a>
        <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" style="height: 40px; position:relative; float:left;"/></a>
    </div>

    <h3>{{ instr_displayname }}</h3>
    <p>{{ done_label }} {{ date_time_completed }}</p>
    <p><a href="/instrument/{{ group_name }}/{{ instr_displayname }}">Reconfigure</a></p>
    <fieldset>
        <legend>Simulation</legend>
        <p><strong>params:</strong> {% for p in params %}{{ p.0 }}={{ p.1 }}  {% endfor %}</p>
        <p><strong>neutron rays:</strong> {{ neutrons }}<p>
        <p><strong>random seed:</strong> {{ seed }}</p>
        <p><strong>simulation steps:</strong> {{ scanpoints }}</p>
    </fieldset>

    <fieldset>
        {% block content %}
        {% endblock %}
    </fieldset>

    <fieldset >
        <legend>Instrument layout (<a href="/{{ data_folder }}/mcdisplay/" target="_blank">click here to view in a new tab</a> and <a href="/{{ data_folder }}/layout.png" target="_blank">click here for simple 2D view</a>)</legend>
        <div class="centerText">
	  <iframe style="{{ iframestyle }}" src="/{{ data_folder }}/mcdisplay/" width="850" height="680"></iframe></div>
    </fieldset>

    <fieldset>
        <legend>Download output files</legend>
        <div class="centerText">
        <ol>
            <li><a href="/{{ data_folder }}/simrun.tar.gz">simrun.tar.gz</a></li>
            <li><a href="/{{ data_folder }}/{{ instr_displayname }}.instr">{{ instr_displayname }}.instr</a></li>
            <li><a href="/{{ data_folder }}/stdout.txt" target=_blank>stdout</a></li>
            <li><a href="/{{ data_folder }}/stderr.txt" target=_blank>stderr</a></li>
    	    <li><a href="/{{ data_folder }}/layout.wrl">VRML</a></li>
        </ol>
        </div>
    </fieldset>
    <p id="mcstas">A web-based interface for <a href="http://www.mcstas.org" target=_blank>McStas</a>.</p>
</div>
</body>
