<!DOCTYPE html>
<html>
<head>
    <title>monitor</title>
    <script type="text/javascript" src="/static/status.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container"></div>
    <fieldset>
        <legend>
          (<a id="linlog" href="{{ twin_html }}">click here for {{ lin_or_log }}-scale</a>
	   -- <a id="datafile" target=_blank href="{{ png_dat.1 }}">click here for ascii datafile</a>)
        </legend>
        <div class="centerText">
            <iframe style="width:100%;height:600px;" src="{{ png_dat.0 }}" frameborder="0" allowfullscreen></iframe>
            <!--<a href="{{ png_dat.1 }}"><img src="{{ png_dat.0 }}"/></a>-->
        </div>
    </fieldset>
    <p id="mcstas">A web-based interface for <a href="http://www.mcstas.org" target=_blank>McStas</a>.</p>
</div>
</body>
</html>
