<!DOCTYPE html>
<html>
<head>
    <title>Simulation Status</title>
    <meta http-equiv="refresh" content="3" />
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="topbar"></div>
<div id="content">
    <div id="logout_container">
        <a href="http://e-neutrons.org" target=_blank><img src="/static/PaNOSClogo_web_RGB_50px_high.jpeg" style="height: 40px; position:relative; float:left; margin-right:8px;"/></a>
        <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" style="height: 40px; position:relative; float:left;"/></a>
        <a href="http://mcxtrace.org" target=_blank><img src="/static/mcxtrace_80x50.png" style="height: 40px; position:relative; float:left;"/></a>
    </div>

    <h3>{{ instr_displayname }}</h3>
    <p>Started {{ date_time_created }}</p>
    <fieldset>
        <legend>Simulation status: {{ status }}</legend>
        <p><strong>params:</strong> {% for p in params %}{{ p.0 }}={{ p.1 }}  {% endfor %}</p>
        <p><strong>neutron rays:</strong> {{ neutrons }}<p>
        <p><strong>random seed:</strong> {{ seed }}</p>
        <p><strong>simulation steps:</strong> {{ scanpoints }}</p>
    </fieldset>

    <fieldset>
        <legend>Debug info</legend>
        <a href="/{{ data_folder }}/stdout.txt">stdout</a>
        <a href="/{{ data_folder }}/stderr.txt">stderr</a>
    </fieldset>
    <p id="mcstas">A web-based interface for
    <a href="http://www.mcstas.org" target=_blank>McStas</a> and <a href="http://www.mcxtrace.org" target=_blank>McXtrace</a>.</p>
</div>
</body>
