<!DOCTYPE html>
<html>
<head><title>mcweb password change</title></head>
<body style="margin-left:auto;margin-right:auto;width:600px;">
<h3>mcweb password change</h3>
<p>{{ message }}</p>

<form method="POST">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <table>
            <tr><td><label for=password>Username:</label></td>
            <td><input type="text" name="username" value="{{ username }}"></td></tr>

            <tr><td><label for=password>Current password:</label></td>
            <td><input type="password" name="pw_current" value="{{ password }}"></td></tr

            <tr><td><label for=password>New password:</label></td>
            <td><input type="password" name="pw_new"></td></tr

            <tr><td><label for=password>New password (repeated):</label></td>
            <td><input type="password" name="pw_newrep"></td></tr>
        </table>
    </fieldset>
    <fieldset style="margin:5px; text-align:right;">
        <input type="submit" value="Change" style="margin-right:20px;">
    </fieldset>
</form>
</body>
</html>
