<!DOCTYPE html>
<html>
<head><title>mcweb: signups</title></head>
<body style="margin-left:auto;margin-right:auto;width:430px;">

<script>
    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        if (mm < 10) mm = "0" + mm;
        var dd = this.getDate();
        if (dd < 10) dd = "0" + dd;

        return [this.getFullYear(), mm, dd].join(''); // padding
    };

    var update_sn = function()
    {
        tbx_site = document.getElementById('tbx_site');
        tbx_sn = document.getElementById('tbx_sn');

        var date = new Date();

        document.getElementById('lbl_sn_gen').innerHTML = tbx_site.value + "_" + tbx_sn.value + "_" + date.yyyymmdd();
    }
</script>

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <legend>Select course template</legend>
        <table>
            <tr>
                <td style="text-align:center;">
                    <select>
                        <option value="volvo">-- select from the list below --</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset style="margin:5px;">
        <legend>Course info</legend>
        <table>
            <tr>
                <td style="text-align:left; width: 200px;"><label>Site</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_site" name="tbx_site" onkeyup="update_sn();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Shortname</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_sn" name="tbx_shortname" onkeyup="update_sn();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>--></label></td>
                <td style="text-align:left;"><label id="lbl_sn_gen"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Title / fullname</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_course_title"/></td>
            </tr>
        </table>
    </fieldset>

    <fieldset style="margin:5px;">
        <legend>Teacher account for this course</legend>
        <table>
            <tr>
                <td style="text-align:left; width: 200px;"><label>Username*</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_username"/></td>
            </tr>
            <tr></tr>
            <tr>
                <td style="text-align:center;" colspan="2"><label>fill out if non-existing:</label></td>
            </tr>

            <!-- -->
            <tr>
                <td style="text-align:left; width: 200px;"><label>First name</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_fn"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Last name</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_ln"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Email</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_email"/></td>
            </tr>
        </table>
    </fieldset>

    <fieldset style="margin:5px;display:{{ buttondisplay }}">
        <input type="submit" value="Create course" style="margin-right:20px;">
    </fieldset>
</form>

</body>
</html>
