{% extends 'course_manage.html' %}
{% block content %}

<div style="margin-left:auto; margin-right:auto; width:600px;">


<fieldset style="margin:5px;">
    <legend>Existing templates</legend>
    {% for t in templates %}
    <ul style="list-style-type: none; padding: 3px; margin: 0px; margin-top: 5px;">
        <li><label>{{ t }}</label></li>
    </ul>
    {% endfor %}
</fieldset>

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}

    <fieldset style="margin:5px;">
        <table>
            <legend>Create new template</legend>
            <tr>
                <td style="width:500px;"><label>Create from course</label></td>
                <td style="text-align:left;">
                    <select style="min-width:200px;" name="course_selector">
                        <option>-- select --</option>
                        {% for t in courses %}
                        <option value="{{ t }}" name="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_sn_tmpl" name="tbx_sn_tmpl" onkeyup="update_sn_tmpl();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>-></label></td>
                <td style="text-align:left;"><label id="lbl_sngen_tmpl" name="lbl_sngen_tmpl"></label></td>
            </tr>
        </table>
        <input type="hidden" id="field_shortname_tmpl" name="field_shortname_tmpl"/>
    </fieldset>

    <fieldset style="margin:5px; text-align:right;">
        <input type="submit" value="Create template" style="margin-right:20px;">
    </fieldset>
</form>
</div>

{% endblock %}
