<!DOCTYPE html>
<html>
<head><title>mcweb: signups</title></head>
<body style="margin-left:auto;margin-right:auto;width:430px;">

<script>
    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        if (mm < 10) mm = "0" + mm;
        var dd = this.getDate();
        if (dd < 10) dd = "0" + dd;
        return [this.getFullYear(), mm, dd].join('');
    };
    var update_sn = function()
    {
        tbx_site = document.getElementById('tbx_site');
        tbx_sn = document.getElementById('tbx_sn');
        var date = new Date();
        document.getElementById('lbl_sn_gen').innerHTML = tbx_site.value.toLowerCase() + "_" + tbx_sn.value.toLowerCase() + "_" + date.yyyymmdd();
    }
</script>

<p>
    <a href="{{ templates_url }}" style="margin:10px;">templates</a>
    <a href="{{ courses_url }}" style="margin:10px;">new course</a>
    <a href="{{ enroll_url }}" style="margin:10px;">bulk enroll</a>
</p>

<h3>{{ message }}</h3>

{% block content %}
{% endblock %}

<!--

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <table>
            <tr>
            {% for header in colheaders %}
                {% if header.cbx %}
                <th style="min-width:70px;"><label>{{ header.data }}<input type="checkbox"/></label></td>
                {% else %}
                <th  style="min-width:70px;"><label>{{ header.data }}</label></td>
                {% endif %}
            {% endfor %}
            </tr>
            {% for row, id in rows_ids %}
                <tr>
                {% for cell in row %}
                    {% if cell.cbx == 'unchecked' %}
                    <td style="text-align:center;"><input type="checkbox" name="{{ id }}_{{ cell.data }}"/></td>
                    {% elif cell.cbx == 'checked' %}
                    <td style="text-align:center;"><input type="checkbox" name="{{ id }}_{{ cell.data }}" checked/></td>
                    {% elif cell.btn %}
                    <td style="text-align:center;"><input type="button" name="{{ id }}_{{ cell.data }}" onclick="location.href='/userlist_au_action/{{ cell.data }}/{{ id }}';" value="{{ cell.data }}"/></td>
                    {% elif cell.txt %}
                    <td style="text-align:left;"><input style="text-align:center;" type="text" name="{{ id }}_{{ cell.header }}" value="{{ cell.data }}"/></td>
                    {% else %}
                    <td style="text-align:left;"><label name="{{ id }}_{{ cell.data }}">{{ cell.data }}</label></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </fieldset>
    <fieldset style="margin:5px;display:{{ buttondisplay }}">
        <label>Click to add users to LDAP and moodle, and send email notifications: <input type="submit" value="Add users" style="margin-right:20px;"></label>
    </fieldset>
</form>

<form enctype="multipart/form-data" method="POST" action="{{ uploadnext }}" style="display:{{ uploaddisplay }}">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <table>
            <tr><td colspan="2">To add signups from bulk, pload a csv-file with columns firstname, lastname, email and username. Courses to auto-enroll must be named in each row. The dilimeter must be the comma (,).</td></tr>
                <tr><td><input type="file" name="up_file"></td></tr>
            <tr><td><input type="submit" value="Upload" style="margin-right:20px;"></td></tr>
        </table>
    </fieldset>
</form>

-->

</body>
</html>
