<!DOCTYPE html>
<head><title></title></head>
<body>
    <form action="/signup-get/" method="get" target="_blank">
        <ul>
            <li><label>First Name: </label><input type="text" name="firstname"></li>
            <li><label>Last Name: </label><input type="text" name="lastname"></li>
            <li><label>Email: </label><input type="text" name="email"></li>
            <li><label>Requested username: </label><input type="text" name="username"></li>
            {% for c in courses %}
            <li><input type="checkbox" name="{{ c }}" value="{{ c }}"> {{ c }}</li>{% endfor %}
            <li><input type="submit"></li>
        </ul>
    </form>
</body>
