<!DOCTYPE html>
<html>
<head><title>mcweb: signups</title></head>
<body>
<p>
    <a href="/userlist_au/new" style="margin:10px;">new</a>
    <a href="/userlist_au/limbo" style="margin:10px;">limbo</a>
    <a href="/userlist_au/added" style="margin:10px;">added</a>
</p>
<h3>{{ message }}</h3>

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <table>
            <!-- create headers -->
            <tr>
            {% for header in colheaders %}
                {% if header.cbx %}
                <th style="min-width:70px;"><label>{{ header.data }}<input type="checkbox"/></label></td>
                {% else %}
                <th  style="min-width:70px;"><label>{{ header.data }}</label></td>
                {% endif %}
            {% endfor %}
            </tr>
            <!-- create rows -->
            {% for row, id in rows_ids %}
                <tr>
                {% for cell in row %}
                    {% if cell.cbx == 'unchecked' %}
                    <td style="text-align:center;"><input type="checkbox" name="{{ id }}_{{ cell.data }}"/></td>
                    {% elif cell.cbx == 'checked' %}
                    <td style="text-align:center;"><input type="checkbox" name="{{ id }}_{{ cell.data }}" checked/></td>
                    {% elif cell.btn %}
                    <td style="text-align:center;"><input type="button" name="{{ id }}_{{ cell.data }}" onclick="location.href='/userlist_au_action/{{ cell.data }}/{{ id }}';" value="{{ cell.data }}"/></td>
                    {% else %}
                    <td style="text-align:left;"><label name="{{ id }}_{{ cell.data }}">{{ cell.data }}</label></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </fieldset>
    <fieldset style="margin:5px;display:{{ buttondisplay }}">
        <label>Click to add users to LDAP and moodle, and send email notifications: <input type="submit" value="Add users" style="margin-right:20px;"></label>
    </fieldset>
</form>
</body>
</html>
