<div class="container">
  <div class="row">
    <div class="col-md-12 margin-top_20">

      <fieldset>
        <legend>Apps</legend>
         <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Address</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>/repo/webvis/webvis-app.html</td>
                <td>WebVis</td>
                <td>
                  <div class="button button-default">
                    <a href="repo/webvis/webvis-app.html" target="_blank">Start</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>/repo/webvis/webvis-gen-app.html</td>
                <td>WebVis</td>
                <td>
                  <div class="button button-default">
                    <a href="repo/webvis/webvis-gen-app.html" target="_blank">Start</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </fieldset>

    </div>
  </div>
</div>
