<div class="container" ng-controller="hubController as h">
  <div class="row">
    <div class="col-md-12 margin-top_20">

      <fieldset>
        <legend>Tools</legend>
         <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Clear instantService cache</td>
                <td>
                  <div class="button button-default" ng-click="h.postClearCache()">
                    Clear Cache
                  </div>
                </td>
              </tr>
<!--
              <tr>
                <td>2</td>
                <td>Change delivery setup to internal</td>
                <td>
                  <div class="button button-default" ng-click="h.postDeliveryInternal()">
                    Delivery Internal
                  </div>
                </td>
              </tr>

              <tr>
                <td>3</td>
                <td>Change delivery setup to nginx using http</td>
                <td>
                  <div class="button button-default" ng-click="h.postDeliveryNginxHttp()">
                    Delivery nginx (http)
                  </div>
                </td>
              </tr>

              <tr>
                <td>4</td>
                <td>Change delivery setup to nginx using https/spdy</td>
                <td>
                  <div class="button button-default" ng-click="h.postDeliveryNginxHttps()">
                    Delivery nginx (https/spdy)
                  </div>
                </td>
              </tr>

              <tr>
                <td>5</td>
                <td>Change delivery setup to internal by ip address</td>
                <td>
                  <div class="button button-default"ng-click="h.postDeliveryInternalByIp()">
                    Delivery Internal by ip address
                  </div>
                </td>
              </tr>

              <tr>
                <td>6</td>
                <td>Change delivery setup to nginx using http by ip address</td>
                <td>
                  <div class="button button-default"ng-click="h.postDeliveryNginxHttpByIp()">
                    Delivery nginx (http) by ip address
                  </div>
                </td>
              </tr>

              <tr>
                <td>7</td>
                <td>Change delivery setup to nginx using https/spdy by ip adress</td>
                <td>
                  <div class="button button-default"ng-click="h.postDeliveryNginxHttpsByIp()">
                    Delivery nginx (https/spdy) by ip address
                  </div>
                </td>
              </tr>
-->
            </tbody>
          </table>
      </fieldset>

    </div>
  </div>
</div>

<!--
<div class="container margin-top_20">
    <div class="row">
        <div class="col-md-10 tools_wrapper">
            <div class="col-sm-4">
              <div class="button button-default " href="#"></div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery Hermes</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginx (https/spdy)</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginx (http)</div>
            </div>    
-->
<!--
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery Hermes localhost</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginx localhost (https/spdy)</div>
            </div>

            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginx localhost (http)</div>
            </div>  
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery HermesGV</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginxGV (https/spdy)</div>
            </div>

            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginxGV localhost (htts)</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginxGV (http)</div>
            </div>
            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery HermesGV localhost</div>
            </div>

            <div class="col-sm-4">
              <div class="button button-default " href="#">Delivery nginxGV localhost (https/spdy)</div>
            </div>
-->
<!--
        </div>
    </div>
</div>
-->
