@import url('reset.css');
@import url('navigation.css');
@import url('suche.css');
@import url('ie6hinweis.css');
@import url('formulare.css');

/*     nmi3
***************************************************************/


a:hover { text-decoration:none; }

a:link {
	color: #000;
	text-decoration:underline ;
	}
a:visited {
	color: #000;
	text-decoration:underline;
	}
a:focus {
	color: #23b9ce;
	text-decoration:underline;
	}
a:hover {
	color: #23b9ce;
	text-decoration:underline;
	
	}
a:active {
	color: #23b9ce;
	text-decoration:underline;
}


/*	html
*******************************************************************************/
html {
 	background: #fff; 	
	background: url(../layout/back_html.gif) repeat-x;
}


/*	body
*******************************************************************************/
body {
  	font-family:  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #555;
	width: 980px;
	margin:0 auto;
	padding:0;	
	background: url(../layout/back_body.gif) no-repeat 0 39px;		
}


#wrapper {
	width: 980px;
	display: inline-block;
}

.clear {
	clear:both;
}

.clboth {  
	display:block;
	clear:both;
	line-height:0;
	height:1px;
	font-size:0;
	visibility:hidden;
}


.warning, 
#main-block .warning { color:#a02929; }

/*     header
************/

#header {
	width: 980px;
	height: 200px;
	display: inline-block;
}

/*	help
*******************************************************************************/
body#help  {
	width: 100%;
  	background-color: #fff !important;
	min-height: 450px;
	background: url(../layout/back_html.gif) repeat-x;
}

body#help #wrapper {
	width: 670px !important;

	display: inline-block;
}

body#help #content {
	float: right;
	width: 640px;
	padding: 7px 5px 0 0;
	margin: 0;
	display: inline-block;
}

body#help h5 {
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;	
	font-size: 24px;
	color: #fff;
	margin: 0 0 25px 0;
}

body#help .textbild img {
	border: 1px solid #555;
}

.red {
	color: #e53932;
}

.blue {
	color: #2688ce;
}

/*     Logo
**********/

#logo {
	display: block;
	position: absolute;
	margin: 70px 0 0 140px;
	width: 82px;
	height: 92px;
}

#logo a {
	display: block;
	width: 82px;
	height: 92px;
	text-indent:-1700em;
	text-decoration: none;
	background: url(../layout/nmi3_logo.png) no-repeat 0 0;		
}



/*     sidebar
*************/
 
#sidebar {
	display: block;
	float: left;
  	width: 250px;
	margin: 79px 0 0 35px;
}

.ueberschrift {
	display: block;
	width: 240px;
	color: #282828;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	letter-spacing: 0.035em;
}

#sidebar h2 {
	display: block;
	width: 240px;
	color: #282828;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 10px 0;
	letter-spacing: 0.035em;
}

#sidebar .textbild p {
	display: block;
	font-weight: normal;
	text-transform: none;
	width: 240px;
	font-size: 11px;
	line-height: 1.2;
	color: #555;
	margin: 0 0 8px 0;
	letter-spacing: 0;
}


/*     login
*************/

#rex_com_userfenster {

	
}

#com-user-box-angemeldet,
#com-user-box-angemeldet ul {
	margin: 0;
	padding: 0;
}

#rex_com_userfenster label {
	float: left;
	display: block;
	width: 65px;
	font-size: 11px;
	color: #555;
	letter-spacing: 0;	
	margin: 4px 0 5px 0;
}

#rex_com_userfenster input {
	display: block;
	font-weight: bold;
	text-transform: none;
	width: 161px;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 3px;
	color: #555;
	border: 1px solid #777;
}

#rex_com_userfenster input:focus {
	color: #000;
	border: 1px solid #23b9ce;
}

#rex_com_userfenster a.login {
	*line-height:  1.2;
	*margin:  -12px 2px 0 0;
	float: right;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #282828;
	text-decoration: none;
	padding: 0 0 0 7px;
	background: url(../content/arrow_right_small_grey.png) no-repeat left center;
}

#rex_com_userfenster a.passwort {
	margin: 0 0 0 65px;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #aaa;
	text-decoration: none;
	padding: 0 0 0 7px;
	background: url(../content/arrow_right_small_light_grey.png) no-repeat left center;	
}

#rex_com_userfenster a.login:hover{
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}

#rex_com_userfenster a.passwort:hover {
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}

.logininfotext .textbild p{
	display: block;
	font-weight: normal;
	text-transform: none;
	width: 155px !important;
	font-size: 11px;
	line-height: 1.2;
	color: #555;
	margin: -5px 0 0 65px !important;
	letter-spacing: 0;	
}


ul.login {
	margin: 10px 0 50px 0 !important;
	padding: 0;
}

ul.login li{
	margin: 2px 0 5px 0;
}


ul.login li a{
	display: block;
	letter-spacing: 0.035em;	
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	color: #777;
	margin: 0 0 0 9px;
	padding: 0 0 1px 8px;
	background: url(../content/arrow_right_small_light_grey.png) no-repeat left center;
}

ul.login li a:hover,
ul.login li a.active{
	color: #23b9ce;
	background-color: transparent;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}



/*     content
*************/

#content {
	float: left;
	width: 665px;
	padding: 0 0 0 0;
	margin: 38px 0 30px 30px;
	display: inline-block;
}


/*     footer
*************/

#footer {
	float: right;
	width: 635px;
	padding: 12px 15px 15px 15px;
	height: 120px;
	margin: 0 0 30px 0;
	display: inline-block;
	background: url(../layout/back_footer.gif) repeat-x 0 0;		
	font-weight: normal;
	text-transform: none;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0;
	color: #555;
  	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;	
}

#footer img {
	border: none;
	margin: -12px 0 0 -5px !important;
	padding: 0;
}

.footernavi {
	display: block;
	height: 30px;
	width: 450px;
	float: left;
}

.footermetanavi {
	color: #fff;
	display: block;
	height: 30px;
	float: right;
	text-align: right;
}

#footer ul li {
	color: #fff;
	float: left;
}

#footer ul li a{
	padding: 0 3px 0 3px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


#footer ul li a.aktiv{
	color: #555;
}

#footer ul li a:hover {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

#footer ul li a.top{
		padding: 0 12px 0 3px;
		background: url(../content/arrow_top.gif) no-repeat right 5px;
}

#footer ul li a.top:hover{
		background: url(../content/arrow_top.gif) no-repeat right -20px;
}

.footerleft {
	margin: 15px 0 0 0;
	float: left;
	width: 300px;
}

.footerleft a,
.footerright a{
	text-decoration: none;
}


.footerright {
	margin: 15px 0 0 0;
	float: right;
	width: 300px;
	text-align: right;
}

#footer table {
	font-size: 11px;
	
}

#footer td {
	line-height: 1.25;
	padding: 0 5px 0 0;
	margin: 0;
}



.small {
	font-weight: normal;
	text-transform: none;
	font-size: 11px;
	line-height: 1.2;
	color: #555;
	letter-spacing: 0.035em;
	margin: 0 0 1px 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/*textbild*/

.textbild .floatLeft {
	float:left;
	margin: 0 15px 0 0;
	padding: 0;
}

.textbild .floatRight {
	float:right;
	margin: 0 0 0 15px;
	padding: 0 !important;
}

.textbild .floatLeft p,
.textbild .floatRight p {
	margin: 0 !important;
	padding: 0 !important;
}


.textbild img {
	margin: 0 0 3px 0;
	padding: 0;
	border: none;
}

.textbild .border {
	border: 1px solid #999;
}

.subline {
	font-size: 11px !important;
	margin: 0 0 10px 0 !important;
	padding: 0;
}

.subline p{
	font-size: 11px !important;
	margin: 2px 0 10px 0;
	padding: 0;
}

.subline .extern  {
	margin: 0;
	padding: 0;
	background: none;
}

/* zweispalter */

.zweispalter {
	width: 665px; 
	margin-bottom: 10px;
}

.zweispalter_1 {
	float: left;
  	width: 315px;
}

.zweispalter_2 {
	float: left;
  	width: 315px;
  	margin-left: 35px;
}

.zweispalter .floatLeft {
	float:left;
	margin: 0 15px 0 0;
	
}

.zweispalter .floatRight {
	float:right;
	margin: 0 0 0 15px;
}

.zweispalter img {
	margin: 0;
	border: 1px solid #f00;
}


/*Schriften*/


#content p {
	margin-bottom: 14px;
	line-height: 1.5;
	font-size: 12px;
	color: #333;
}
 
#content sup {
	font-weight: normal;
	font-size: 11px;
	color: #313131;
}

/*Überschriften*/
	
h1,h2,h3,h4,h5,h6 {
	margin-bottom:10px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;
}
	
h1 { font-size: 24px; color: #2ba1b2; }
h2 { font-size: 16px; color: #555; line-height: 1.25; margin: 0 0 15px 0; }
h3 { font-size: 14px; color: #282828; font-weight: bold;}
h4 { font-size: 16px; color: #555; 	}
h5 { font-size: 14px; color: #2ba1b2; 	}
h6 { font-size: 12px; color: #2ba1b2; font-weight: bold;	}


/*Listen*/


#content ul	{list-style: none; margin: 0 0 20px 0;}
#content ul ul	{list-style: none; margin: 10px 0 5px 0;}
#content ul li	{
  	font-family:  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 12px;	
	color: #333;
	margin-bottom: 10px;
	line-height: 1.30;
	margin: 0 0 0 2px;
	padding: 0 0 4px 15px;
	background: url(../content/dot.png) 0px 5px no-repeat;
}


#content ol	{list-style: decimal; margin: 0 15px 20px 0;}
#content ol ol	{list-style: decimal; margin: 10px 0 5px 0;}
#content ol li	{
  	font-family:  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 12px;	
	color: #333;
	margin-bottom: 10px;
	line-height: 1.30;
	margin: 0 0 0 20px;
	padding: 0 0 4px 0;	
}




/*Tabellen*/

table {
	margin-bottom: 15px;
	line-height: 20px;
	font-size: 12px;
	color: #333;
}

td,th {
	padding: 0 18px 0 0;
}


/******/

.abstand {
	clear: both;
	display: inline-block;
	min-height: 35px;
	width: 100%;
}


.abstandtrennline {
	clear: both;
	display: inline-block;
	height: 35px;
	width: 100%;
	background:  url(../content/trenner.gif) repeat-x left center;
}

.extern  {
padding-left: 14px;
color: #1b509e;
background: url(../content/ext_link.png) 0 3px no-repeat;

}

a.email {
	padding-left: 14px;
	background: url(../content/email.gif) 0 5px no-repeat;
}


a.email:hover {
	background: url(../content/email.gif) 0 -17px no-repeat;
}

#footer a.email {
	padding: 0;
	background: none;
}


.textbildlink .extern,
#footer .extern {
	margin: 0;
	padding: 0;
	background-image: none !important;
	text-decoration: none !important;
	border: none !important;
}

.noflashplayer {
	background-image: none !important;
	text-decoration: none !important;
	border: none !important;	
}



/*Accordion*/

.accordionueberschrift {
	color: #000;
	font-weight: bold;
	margin: 0;
	padding: 5px 3px 5px 20px;
	background: url(../content/arrow_right_small_grey.png) no-repeat 10px center;
}

.accordionueberschrift.hover {
	color: #23b9ce;
	cursor:pointer;
	background: url(../content/arrow_right_small_blue.png) no-repeat 10px center;
}

.accordionueberschrift.aktiv {
	color: #23b9ce;
	background: #efefef url(../content/arrow_small_down.png) no-repeat 8px center;	
}


.accordioninhalt {
	width: 625px;
	background-color: #efefef;
	padding: 5px 20px 10px 20px;
	margin: 0 0 10px 0;
	display: inline-block;
}



/* accordion Download */

	.acc_download_container {
		display: inline-block;
		width: 658px;
		padding: 0 5px 0 0;
		background: #efefef;
		margin: 0 0 8px -17px;
	}

	.acc_download_container a,
	.acc_download_container a:link,
	.acc_download_container a:visited  {
		width: 625px;	
		color: #555;
		font-weight: bold;
		margin: 3px;
		display: inline-block;
		text-decoration: none;
		padding: 10px 0 3px 28px;

	}

	.acc_download_container a:active,
	.acc_download_container a:hover {
		color: #000;
		background-color: #8adce6 !important;
		cursor: pointer;
	}

	.acc_download_container .filename {
		float: left;
		font-size: 10px;
		font-weight: normal;
		margin: 3px 0 0 0;
	}


	.acc_download_beschreibung {
		font-weight: normal;
		line-height: 1.2;
		margin: 8px 10px 5px 0;
	}


/* Sitemap */

#sitemap {
}

#sitemap ul {
	margin: 0;
	padding: 0;
}

#sitemap ul li{
	margin: 0 !important;
	padding: 0 !important;
	background-image: none;
}

#sitemap ul ul {
	margin: 15px 0 25px 20px;
	padding: 20px;
	background-color: #f1f1f1;	
}

#sitemap ul ul li{
	margin: 0 0 8px 0 !important;
}

#sitemap ul ul ul {
	margin: 10px 0 20px 20px;
	padding: 0;
}

#sitemap ul ul ul li{
	margin: 0 0 5px 0 !important;
}

#sitemap ul ul ul ul{
	margin: 10px 0 20px 20px;
	padding: 0;
}

#sitemap ul ul ul ul li{
	margin: 0 0 5px 0 !important;
}


ul a.level1 {
	margin-bottom: 5px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;
	font-size: 24px;
	color: #2ba1b2;	
	text-decoration: none;
}

ul a.level1:hover {
	color: #282828;	
}

ul a.level2 {
	margin-bottom:10px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;
	font-size: 16px;
	color: #2ba1b2;	
	text-decoration: none;
}

ul a.level2:hover {
	color: #282828;	
}	

ul a.level3 {
	margin-bottom:10px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;
	font-size: 14px;
	color: #282828;	
	text-decoration: none;
	margin: 0 0 15px 20px;	
}

ul a.level3:hover {
	color: #2ba1b2;
}

ul a.level4 {
	margin-bottom:10px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	color: #282828;	
	text-decoration: none;
	margin: 0 0 15px 20px;	
}

ul a.level4:hover {
	color: #2ba1b2;
}

/*     BX Slider
*************/

.bx-next,
.bx-prev,
.bx-pager,
.bx-pager a,
.bx-auto .start,
.bx-auto .stop,
.bx-captions,
.bx-auto,	
.bx-auto a
  {
	border: 1px solid red;
}

.bx-wrapper {
	display: inline;
}
	
.bx-window {
	float: right;
	width: 450px !important;
	height: 360px !important;
	margin: 0;
	padding: 0;	
	background-color: #efefef;

}

.thumbs ul {
	margin: 0;
	padding: 0;
	width: 205px;
	list-style: none;	
	background-image: none;
	overflow: hidden;
}

.thumbs ul li	{
	background-image: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.thumbs ul li a { 
	margin: 0 0 8px 0 !important;
	padding: 8px !important;
	width: 190px;
	display: inline-block;
	color: #555;
	text-decoration: none !important;
	background: url(../content/back_slider_nav.gif) no-repeat -10px 0 !important;	
}

.thumbs ul li a:hover { 
	color: #000;
	background: url(../content/back_slider_nav.gif) no-repeat -1196px 0 !important;	
}

.thumbs ul li a .title {
	text-decoration: none;
	font-weight: bold;
	display: block;
	
}

.thumbs ul li a .description {
	font-size: 11px;
	font-weight: normal;
	text-decoration: none !important;
	display: block;
}

.thumbs ul li.pager-active a {
	color: #fff;
	background: url(../content/back_slider_nav.gif) no-repeat -596px 0 !important;	
}

.bx-window ul li {
	margin: 2px !important;
	background-image: none !important;
	width: 446px;
	height: 356px;
	background-color: #efefef !important;
	padding: 0 !important;
}



.bx-window ul li img {
	z-index: 1;
}

.bx-window ul li .slidertext {
	position: absolute;
	z-index: 100;
	display: inline-block;
	background: url(../content/trans_white.png);	
	padding: 8px;
	margin: 10px;
	width: 410px;
	bottom: 0;
	color: #000;
}

.slidertext a {
	float: right;
	margin: -10px 5px 0 0;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #282828;
	text-decoration: none;
	padding: 0 0 0 7px;
	background: url(../content/arrow_right_small.png) no-repeat 0 -67px;
}

.slidertext a:hover,
.slidertext a.active {
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}

/*	Downloads  *****************************************************************/
	
.download_container {
	display: inline-block;
	width: 665px;
	padding: 0 5px 0 0;
	background: #efefef;
	margin: 0 0 10px 0;
}

.download_container a,
.download_container a:link,
.download_container a:visited  {
	width: 635px;	
	color: #555;
	font-weight: bold;
	margin: 3px;
	display: inline-block;
	text-decoration: none;
	padding: 10px 0 3px 28px;

}

.download_container a:active,
.download_container a:hover {
	color: #000;
	background-color: #8adce6 !important;
	cursor: pointer;
}

.download_container .filename {
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin: 3px 0 0 0;
}
	
	
.download_beschreibung {
	font-weight: normal;
	line-height: 1.2;
	margin: 8px 10px 5px 0;
}




/*	News
************************/

.date {
	float: right;
	text-align: right;
	display: block;
	font-weight: normal;
	text-transform: none;
	font-size: 11px;
	line-height: 1.4;
	color: #555;
	margin: 0;
}
h3 a.newsheadlinemitlink {
	display: inline-block;
}


h3 a.newsheadlinemitlink span {
	float: left;
	width: 560px;
	display: inline-block;
}

h3 a.newsheadlinemitlink span.arrow {
	float: left;
	margin: 3px 0 0 0;	
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../content/arrow_right_big_grey.png) no-repeat left center;	
}

h3 a.newsheadlinemitlink:hover span.arrow {
		background: url(../content/arrow_right_big_blue.png) no-repeat left center;
} 
h3 a.newsheadlinemitlink  {
	color: #000;
	text-decoration: none;
}

h3 a.newsheadlinemitlink:hover  {
	color: #23b9ce;

}

.newstrenner {
	clear: both;
	height: 35px;
	padding: 0 !important;
	margin: 0 !important;	
	background:  url(../content/trenner.gif) repeat-x left center !important;
}

#scroller-body .date {
	float: left;
	width: 100%;
	text-align: left;
	display: block;
	font-weight: normal;
	text-transform: none;
	font-size: 11px;
	color: #555;
	padding: 0 !important;
	margin: 0 0 2px 0 !important;
}

#scroller-body h4 {
	font-size: 12px !important;
	color: #000;
	text-decoration: none;
}

#scroller-body #news .textbild a,
#scroller-body #events .textbild a  {
	padding: 0 0 3px 0;
	margin: 0 0 15px 0;
	display: inline-block;
	width: 232px;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

#scroller-body .textbild a:hover h4,
#scroller-body .textbild a:hover .date {
	color: #0cb9ce !important;

}


/* Tabs
*********/

#scroller-header {
	margin: 0;
	height:10px;
}



#scroller-header a {
	letter-spacing: 0.035em;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #949494;
	text-decoration: none;
	padding: 0 8px 0 7px;
	background: url(../content/arrow_right_small_light_grey.png) no-repeat left center;
	float: left;
}


#scroller-header a:hover {
	text-decoration:none; 
	color:#000;
	background: url(../content/arrow_right_small_grey.png) no-repeat left center;	
}

#scroller-header a.selected {
	color:#23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}

#scroller-body {
	font-size: 11px;
	width: 234px;
	margin: 6px 0 40px 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #0db9cf;
}

#mask {
	width: 234px;
	overflow:hidden;
	margin:0 auto;
}

#panel {

}

#panel div {
float:left;
}

/*	Socialmedialinks  *****************************************************************/

#socialmedialinks {
	margin: 5px 0 0 5px;
	width: 125px;
	height: 28px;
	overflow: hidden;
}

ul#socialmedialinks li {
	display: inline-block;	
	margin: 2px 0 0 8px;
	overflow: hidden;	
}

a .facebook {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent:-1700em;
	text-decoration: none;
	border: 1px solid #fff;
	background: url(../content/social_icons.gif) no-repeat 0 -28px;
}
a .twitter {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent:-1700em;
	text-decoration: none;
	border: 1px solid #fff;	
	background: url(../content/social_icons.gif) no-repeat -25px -28px;
}
a .youtube {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent:-1700em;
	text-decoration: none;
	border: 1px solid #fff;	
	background: url(../content/social_icons.gif) no-repeat -50px -28px;
}
a .facebook:hover {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;	
	background-position: 0 0;
	cursor: pointer;
}
a .twitter:hover {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;	
	background-position: -25px 0;
	cursor: pointer;
}
a .youtube:hover {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;	
	background-position: -50px 0;
	cursor: pointer;
}


a.back {
	float: right;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #282828;
	text-decoration: none !important;
	padding: 0 0 0 7px;
	margin: 10px 0 0 0;
	background: url(../content/arrow_right_small_grey.png) no-repeat left center;
}

a.back:hover {
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}




/*	Events & Meetings  *****************************************************************/
	
.monat {
	width: 100%;
	font-size: 11px;
	display: block;
	border-bottom: 1px solid #2ba1b2;
	padding: 10px 0 5px 0;
	margin: 20px 0 20px 0;
	text-align: right;
}

.accordionueberschrift.kalender {
	background-image: none;
}

.accordionueberschrift .datum  {
	padding: 0 0 0 10px;
	background: url(../content/arrow_right_small_light_grey.png) no-repeat left center;
}
.accordionueberschrift.hover .datum  {
	color: #000;
	padding: 0 0 0 10px;
	background: url(../content/arrow_right_small_grey.png) no-repeat left center;	
}

.accordionueberschrift.hover .ueberschrift {
	color: #2ba1b2;
}

.eventstrenner {
	width: 100%;
	height: 1px;
	margin: 8px 0 8px 0;
	border-top: 1px solid #eee;
}

.select_jahr {
	float: right;
}
	
.select_jahr select {
	border: 1px solid #2ba1b2;
	padding: 5px;
	font-weight: bold;
}

.datum {
	color: #555;
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin: 0 0 4px 0;
}

.ueberschrift {
	margin-bottom: 5px;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;	
	font-size: 16px;
	color: #333;
	text-transform: none;
	width: 100%;
}

.eventleft {
	width: 100px;
	font-size: 11px;
	text-align: left;
	float: left;
	padding: 4px 0 0 0;	
}

.eventright {
	width: 520px;
	font-size: 12px;
	text-align: left;
	float: left;
	padding: 0 0 10px 0;
}

.monatstrenner {
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	background-color: #2ba1b2;
	width: 100%;
	display: inline-block;
	padding: 4px 0 3px 3px;
	margin: 20px 0 10px 0;
}

.green{
	color: #2ba1b2 !important;
}

.eventleft1 {
	width: 60px;
	font-size: 11px;
	text-align: left;
	float: left;
	padding: 4px 0 0 0;	
	height: 12px;
}

.eventright2 p {
	margin: 0 !important;
	padding: 0 !important;
}

.eventright2 {
	width: 460px;
	font-size: 12px;
	text-align: left;
	float: left;
	padding: 0 0 2px 0;
}

.eventstrenner2 {
	clear: both;
	width: 100%;
	height: 11px;
	margin: 25px 0 10px 0;
	border-bottom: 1px solid #ddd;	
}

.eventright img {
	clear: both;
	width: 200px;
	margin: 0 0 20px 15px;
	border: 1px solid #999 !important;
}


a.eventpdf {
	padding-left: 20px;
	width: 100%;
	display: block;
}

a.btnPrint {
		clear: both;
		float: left;
		font-weight: bold;
		text-transform: none;
		font-size: 11px;
		color: #282828;
		text-decoration: none !important;
		margin: 0 0;
		padding: 0 0 0 8px;
		background: url(../content/arrow_right_small_grey.png) no-repeat left center;
}

a.btnPrint:hover {
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}


.footermetanavi a.btnPrint {
	font-weight: normal;
	background: none;
}


.ajaxworking {
	padding: 0 0 0 20px;
	background: url(../content/ajax_loader) no-repeat 0;
}

.ueberschriftinliste {
	display: inline-block;
	margin: 5px 0 5px 0;
	display: inline-block;
	font-weight:normal;
  	font-family: "PT Sans Caption", Arial, Verdana, sans-serif;
	line-height: 1.1;	
	font-size: 16px;
	color: #333;
	text-transform: none;
	width: 100%;

}

.ajaxcontent_abmeldung {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0 5px 0 0;
}

.ajaxcontent_abmeldung a{
	float: right;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
	color: #282828;
	text-decoration: none;
	padding: 0 0 0 7px;
	margin: 0 5px 0 5px;
	background: url(../content/arrow_right_small_grey.png) no-repeat left center;
}

.ajaxcontent_abmeldung a:hover{
	color: #23b9ce;
	background: url(../content/arrow_right_small_blue.png) no-repeat left center;
}

.eventsliste {
	border-top: 1px solid #eee;
	padding: 8px 0 10px 5px;
	margin: 0 0 1px 0;
}

.eventsliste:hover {
	color: #23b9ce;
	background: #f5f5f5;
}

.userliste {
	display: inline-block;
	float: right;
	margin: 15px 0 0 0;
	width: 660px;
}

.usercounter {
	display: inline-block;
	float: left;
	font-size: 12px;	
	width: 20px;
	text-align: right;
	margin: 0 0 7px 0;	
	color: #aaa;
}

.userleft {
	display: inline-block;	
	width: 630px;
	font-size: 12px;
	text-align: left;
	margin: 0 0 7px 10px;
	float: left;
}

a.mailanalle {
	font-size: 12px;
	display: block;
	margin: 15px 0 15px 30px;
	padding: 0 0 0 18px;
	background: url(../content/emailanalle.gif) 0 0px no-repeat;
}

a.mailanalle:hover {
	background: url(../content/emailanalle.gif) 0 -38px no-repeat;
}

.keineanmeldung {
	font-size: 12px;
	display: block;
	padding: 15px 0 15px 30px;
	font-weight: bold;
	font-style: italic;
}

.infowindow {
	display: inline-block;
}

.infowindow h4 {
	font-size: 12px !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1 !important;
	margin: 0 0 5px 0 !important;
	color: #000 !important;
}

.infowindow p {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 5px 0 !important;
	padding: 0 !important;
	line-height: 1.2 !important;

}
.infowindow a {
	clear: both;
	display: inline-block;
	margin: 5px 0 3px 0 !important;
}

.infotrenner {
	clear: both;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #aaa;
	padding: 13px 0 5px 0;
}
