<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-Axis'>/**
</span> * @enum {String}
 * Enumeration for the conversation type
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.Axis = {
<span id='webvis-Axis-property-NEGATIVE_X'>    NEGATIVE_X: &quot;negX&quot;,
</span><span id='webvis-Axis-property-NEGATIVE_Y'>    NEGATIVE_Y: &quot;negY&quot;,
</span><span id='webvis-Axis-property-NEGATIVE_Z'>    NEGATIVE_Z: &quot;negZ&quot;,
</span><span id='webvis-Axis-property-POSITIVE_X'>    POSITIVE_X: &quot;posX&quot;,
</span><span id='webvis-Axis-property-POSITIVE_Y'>    POSITIVE_Y: &quot;posY&quot;,
</span><span id='webvis-Axis-property-POSITIVE_Z'>    POSITIVE_Z: &quot;posZ&quot;
</span>};</pre>
</body>
</html>
