<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-EventType'>/**
</span> * @enum {String}
 * Enumeration for the event type
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.EventType = {
<span id='webvis-EventType-property-VISIBLE_CHANGED'>    VISIBLE_CHANGED: &quot;visibleChanged&quot;,
</span><span id='webvis-EventType-property-HIGHLIGHT_CHANGED'>    HIGHLIGHT_CHANGED: &quot;highlightChanged&quot;,
</span><span id='webvis-EventType-property-COLOR_CHANGED'>    COLOR_CHANGED: &quot;colorChanged&quot;,
</span><span id='webvis-EventType-property-TRANSCODINGSTATE_CHANGED'>    TRANSCODINGSTATE_CHANGED: &quot;transcodingStateChanged&quot;,
</span><span id='webvis-EventType-property-NODE_ADDED'>    NODE_ADDED: &quot;nodeAdded&quot;,
</span><span id='webvis-EventType-property-MOUSE_MOVE'>    MOUSE_MOVE: &quot;mouseMove&quot;,
</span><span id='webvis-EventType-property-MOUSE_OVER'>    MOUSE_OVER: &quot;mouseOver&quot;,
</span><span id='webvis-EventType-property-MOUSE_OUT'>    MOUSE_OUT: &quot;mouseOut&quot;,
</span><span id='webvis-EventType-property-CLICK'>    CLICK: &quot;click&quot;,
</span><span id='webvis-EventType-property-BACKGROUND_CLICK'>    BACKGROUND_CLICK: &quot;backgroundClick&quot;,
</span><span id='webvis-EventType-property-LOAD'>    LOAD: &quot;load&quot;,
</span><span id='webvis-EventType-property-ERROR'>    ERROR: &quot;error&quot;,
</span><span id='webvis-EventType-property-CONNECTION_LOST'>    CONNECTION_LOST: &quot;connectionLost&quot;,
</span><span id='webvis-EventType-property-MEASUREMENT_CHANGED'>    MEASUREMENT_CHANGED:  &quot;measurementChanged&quot;,
</span><span id='webvis-EventType-property-MEASUREMENT_FINISHED'>    MEASUREMENT_FINISHED: &quot;measurementFinished&quot;,
</span><span id='webvis-EventType-property-CLIPPLANE_ADDED'>    CLIPPLANE_ADDED: &quot;clipPlaneAdded&quot;
</span>};
</pre>
</body>
</html>
