<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-ExplorationMode'>/**
</span> * @enum {String}
 * Enumeration for the navigation mode
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.ExplorationMode = {
<span id='webvis-ExplorationMode-property-ALL'>    ALL: &quot;all&quot;,
</span><span id='webvis-ExplorationMode-property-PAN'>    PAN: &quot;pan&quot;,
</span><span id='webvis-ExplorationMode-property-NONE'>    NONE: &quot;none&quot;,
</span><span id='webvis-ExplorationMode-property-ROTATE'>    ROTATE: &quot;rotate&quot;,
</span><span id='webvis-ExplorationMode-property-ZOOM'>    ZOOM: &quot;zoom&quot;
</span>};</pre>
</body>
</html>
