<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-FileExtension'>/**
</span> * @enum {String}
 * Enumeration for the file extensions
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.FileExtension = {
<span id='webvis-FileExtension-property-CATIA'>    CATIA: &quot;.catpart&quot;,
</span><span id='webvis-FileExtension-property-COLLADA'>    COLLADA: &quot;.dae&quot;,
</span><span id='webvis-FileExtension-property-JT'>    JT: &quot;.jt&quot;,
</span><span id='webvis-FileExtension-property-JSON'>    JSON: &quot;.json&quot;,
</span><span id='webvis-FileExtension-property-HSI'>    HSI: &quot;.hsi&quot;,
</span><span id='webvis-FileExtension-property-OBJECT'>    OBJECT: &quot;.obj&quot;,
</span><span id='webvis-FileExtension-property-PLMXML'>    PLMXML: &quot;.plmxml&quot;,
</span><span id='webvis-FileExtension-property-SHAPE'>    SHAPE: &quot;.shape&quot;,
</span><span id='webvis-FileExtension-property-VRML'>    VRML: &quot;.wrl&quot;,
</span><span id='webvis-FileExtension-property-X3DB'>    X3DB: &quot;.x3db&quot;,
</span><span id='webvis-FileExtension-property-X3D'>    X3D: &quot;.x3d&quot;,
</span><span id='webvis-FileExtension-property-RVM'>    RVM: &quot;.rvm&quot;
</span>};
</pre>
</body>
</html>
