<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-Measure-method-constructor'><span id='webvis-Measure'>/**
</span></span> * @class webvis.Measure
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @param {Object} params
 * @param {String} params.id
 * @param {Number} [params.cappingStrength=0.0]
 * @param {String} [params.cappingColor=&quot;1 1 1&quot;]
 * @param {webvis.Axis} [params.axis=webvis.Axis.POSITIVE_X]
 * @constructor
 * Creates a new ClipPlane instance.
 */
webvis.Measure = function ( params )
{

    var _id = params.id;

    var _line = null;

    var _sphereOne = null;
    var _sphereTwo = null;

    var _color = params.color;

    var _size = params.size;

    var _proxyParent = params.proxyParent;

    var _proxy = null;

    var _startPoint = null;
    var _endPoint = null;
    var _distance = 0.000;

    var _highlight = true;

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

    var createLine = function()
    {
        var shape = document.createElement(&quot;Shape&quot;);
        shape.setAttribute( &quot;isPickable&quot;, &quot;false&quot; );

        var app = document.createElement(&quot;Appearance&quot;);

        var mat = document.createElement(&quot;Material&quot;);
        mat.setAttribute( &quot;emissiveColor&quot;, _color );

        var depthMode = document.createElement(&quot;DepthMode&quot;);
        depthMode.setAttribute( &quot;enableDepthTest&quot;, &quot;false&quot; );

        var line = document.createElement(&quot;LineSet&quot;);
        line.setAttribute(&quot;vertexCount&quot;, &quot;2&quot;);

        var coordinates = document.createElement(&quot;Coordinate&quot;);
        coordinates.setAttribute( &quot;point&quot;, _startPoint.x + &quot; &quot; + _startPoint.y + &quot; &quot; + _startPoint.z + &quot;, &quot; +
                                                _endPoint.x + &quot; &quot; + _endPoint.y + &quot; &quot; + _endPoint.z);

        app.appendChild( mat );
        app.appendChild( depthMode );

        line.appendChild( coordinates );

        shape.appendChild( app );
        shape.appendChild( line );

        _proxy.appendChild(shape);

        return coordinates;
    };

    var createSphere = function( position )
    {
        var transform = document.createElement( &quot;Transform&quot; );
        transform.setAttribute( &quot;translation&quot;, position.x + &quot; &quot; + position.y + &quot; &quot; + position.z);

        var shape = document.createElement( &quot;Shape&quot; );
        shape.setAttribute( &quot;isPickable&quot;, &quot;false&quot; );

        var app = document.createElement( &quot;Appearance&quot; );

        var mat = document.createElement( &quot;Material&quot; );
        mat.setAttribute( &quot;emissiveColor&quot;, _color );

        var depthMode = document.createElement(&quot;DepthMode&quot;);
        depthMode.setAttribute( &quot;enableDepthTest&quot;, &quot;false&quot; );

        var sphere = document.createElement( &quot;Sphere&quot; );
        sphere.setAttribute( &quot;radius&quot;, _size );

        app.appendChild( mat );
        app.appendChild( depthMode );

        shape.appendChild( app );
        shape.appendChild( sphere );

        transform.appendChild( shape );

        _proxy.appendChild(transform);

        return transform
    };

    var createProxy = function ()
    {
        _proxy = document.createElement( &quot;Group&quot; );
        _proxy.setAttribute( &quot;id&quot;, _id );

        _line = createLine();
        _sphereOne = createSphere( _startPoint );
        _sphereTwo = createSphere( _endPoint );

        _proxyParent.appendChild( _proxy );
    };

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Measure-property-ID'>    /**
</span>     * @property ID
     * Get the measure id.
     * @type {String}
     * @readonly
     */
    Object.defineProperty( this, &quot;ID&quot;, {
        get: function () {
            return _id;
        },
        set: function () {
            console.error( &quot;[Measure] ID is read only&quot;);
        }
    });

<span id='webvis-Measure-property-StartPoint'>    /**
</span>     * @property StartPoint
     * Get the measure start point.
     * @type {x3dom.fields.SFVec3f}
     * @readonly
     */
    Object.defineProperty( this, &quot;StartPoint&quot;, {
        get: function () {
            return _startPoint;
        },
        set: function () {
            console.error( &quot;[Measure] StartPoint is read only&quot;);
        }
    });

<span id='webvis-Measure-property-EndPoint'>    /**
</span>     * @property EndPoint
     * Get the measure end point.
     * @type {x3dom.fields.SFVec3f}
     * @readonly
     */
    Object.defineProperty( this, &quot;EndPoint&quot;, {
        get: function () {
            return _endPoint;
        },
        set: function () {
            console.error( &quot;[Measure] EndPoint is read only&quot;);
        }
    });

<span id='webvis-Measure-property-Distance'>    /**
</span>     * @property Distance
     * Get the distance between start and  end point.
     * @type {Number}
     * @readonly
     */
    Object.defineProperty( this, &quot;Distance&quot;, {
        get: function () {
            return _distance;
        },
        set: function () {
            console.error( &quot;[Measure] Distance is read only&quot;);
        }
    });

<span id='webvis-Measure-property-Highlight'>    /**
</span>     * @property Highlight
     * Get or set the highlight value.
     * @type {Number}
     * @readonly
     */
    Object.defineProperty( this, &quot;Highlight&quot;, {
        get: function () {
            return _highlight;
        },
        set: function ( val ) {
            _highlight = val;

            var materials = _proxy.getElementsByTagName(&quot;Material&quot;);

            for (var i = 0; i &lt; materials.length; i++) {
                if ( _highlight ) {
                    materials[ i ].setAttribute(&quot;emissiveColor&quot;, _color );
                }
                else
                {
                    materials[ i ].setAttribute(&quot;emissiveColor&quot;, &quot;1.0 1.0 1.0&quot;);
                }
            }
        }
    });

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

    this.SetPoint = function ( x, y, z )
    {
        if ( !_startPoint )
        {
            _startPoint = new x3dom.fields.SFVec3f( x, y, z );
            _endPoint = new x3dom.fields.SFVec3f( x, y, z );

            createProxy();

            return false;
        }
        else
        {
            return true;
        }
    };

    this.UpdatePoint = function ( x, y, z )
    {
        if ( _startPoint )
        {
            _endPoint.x = x;
            _endPoint.y = y;
            _endPoint.z = z;

            _distance = Math.abs( _startPoint.subtract( _endPoint).length() );

            _line.setAttribute( &quot;point&quot;, _startPoint.x + &quot; &quot; + _startPoint.y + &quot; &quot; + _startPoint.z + &quot;, &quot; +
                                         _endPoint.x + &quot; &quot; + _endPoint.y + &quot; &quot; + _endPoint.z);

            _sphereTwo.setAttribute( &quot;translation&quot;, _endPoint.x + &quot; &quot; + _endPoint.y + &quot; &quot; + _endPoint.z);
        }
    };

    this.Remove = function ( )
    {
        _proxyParent.removeChild( _proxy );
    };
};
</pre>
</body>
</html>
