<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};

<span id='webvis-MetaData-method-constructor'><span id='webvis-MetaData'>/**
</span></span> * @class webvis.MetaData
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @constructor
 * Creates a new MetaData instance.
 */
webvis.MetaData = function( params ) {
//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-MetaData-property-_key'>    /**
</span>     * @property {String}
     * Holds the key of the meta data.
     * @private
     */
    this._key = params.key || null;

<span id='webvis-MetaData-property-_value'>    /**
</span>     * @property {String}
     * Holds the value of the meta data.
     * @private
     */
    this._value = params.value || null;

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

};

//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-MetaData-property-Key'>/**
</span> * @property Key
 * Get or set the key.
 * @type {String}
 */
Object.defineProperty( webvis.MetaData.prototype, &quot;Key&quot;, {
    get: function () {
        return this._key;
    },
    set: function ( val ) {
        this._key = val;
    }
});

<span id='webvis-MetaData-property-Value'>/**
</span> * @property Value
 * Get or set the key.
 * @type {String}
 */
Object.defineProperty( webvis.MetaData.prototype, &quot;Value&quot;, {
    get: function () {
        return this._value;
    },
    set: function ( val ) {
        this._value = val;
    }
});

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------
</pre>
</body>
</html>
