<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-MimeType'>/**
</span> * @enum {String}
 * Enumeration for the mime types
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.MimeType = {
<span id='webvis-MimeType-property-CATIA'>    CATIA: &quot;application/catia&quot;,
</span><span id='webvis-MimeType-property-COLLADA'>    COLLADA: &quot;model/collada+xml&quot;,
</span><span id='webvis-MimeType-property-JT'>    JT: &quot;model/jt&quot;,
</span><span id='webvis-MimeType-property-MULTIPART'>    MULTIPART: &quot;model/x-multipart&quot;,
</span><span id='webvis-MimeType-property-PLMXML'>    PLMXML: &quot;application/x-plmxml&quot;,
</span><span id='webvis-MimeType-property-SHAPE'>    SHAPE: &quot;model/shape&quot;,
</span><span id='webvis-MimeType-property-X3D'>    X3D: &quot;model/x3d+xml&quot;,
</span><span id='webvis-MimeType-property-X3DB'>    X3DB: &quot;model/x3db&quot;,
</span><span id='webvis-MimeType-property-JSONTREE'>    JSONTREE: &quot;jsontree&quot;,
</span><span id='webvis-MimeType-property-JSON'>    JSON: &quot;model/json&quot;,
</span><span id='webvis-MimeType-property-HSI'>    HSI: &quot;model/x-hsi&quot;,
</span><span id='webvis-MimeType-property-SRC'>    SRC: &quot;model/x-src&quot;,
</span><span id='webvis-MimeType-property-RVM'>    RVM: &quot;model/x-rvm&quot;
</span>};</pre>
</body>
</html>
