<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};

<span id='webvis-Node-method-constructor'><span id='webvis-Node'>/**
</span></span> * @class webvis.Node
 * @extends webvis.EventTarget
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @constructor
 * Creates a new Node instance.
 */
webvis.Node = function( params ) {

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Node-property-_id'>    /**
</span>     * @property {String}
     * Holds the id of the node.
     * @private
     */
    this._id = params.id;

<span id='webvis-Node-property-_name'>    /**
</span>     * @property {String}
     * Holds the name of the node.
     * @private
     */
    this._name = params.name || params.id;

<span id='webvis-Node-property-_localID'>    /**
</span>     * @property {String}
     * Holds the local id inside the model.
     * @private
     */
    this._localID = params.localID;

<span id='webvis-Node-property-_modelUrl'>    /**
</span>     * @property {String}
     * Holds the url of the model this node belongs to.
     * @private
     */
    this._modelUrl = params.modelUrl;

<span id='webvis-Node-property-_metaData'>    /**
</span>     * @property {webvis.MetaData[]}
     * Holds the meta data of the node.
     * @private
     */
    this._metaData = params.meta || null;

<span id='webvis-Node-property-_parent'>    /**
</span>     * @property {webvis.Node}
     * Holds the parent of the node.
     * @private
     */
    this._parent = params.parent || null;

<span id='webvis-Node-property-_visible'>    /**
</span>     * @property {webvis.VisibleState}
     * Holds the visible flag of the node.
     * @private
     */
    this._visible = (params.visible) ? webvis.VisibleState.VISIBLE : webvis.VisibleState.INVISIBLE;

<span id='webvis-Node-property-_highlight'>    /**
</span>     * @property {Boolean}
     * Holds the highlight flag of the node.
     * @private
     */
    this._highlight = false;

<span id='webvis-Node-property-_color'>    /**
</span>     * @property {String}
     * Holds the color of the node.
     * @private
     */
    this._color = null;

<span id='webvis-Node-property-_url'>    /**
</span>     * @property {String}
     * Holds the url of the node.
     * @private
     */
    this._url = params.url || null;

<span id='webvis-Node-property-_originalURL'>    /**
</span>     * @property {String}
     * Holds the url of the node.
     * @private
     */
    this._originalURL = params.url || null;

<span id='webvis-Node-property-_children'>    /**
</span>     * @property {webvis.Node[]}
     * Holds the children of the node.
     * @private
     */
    this._children = [];

<span id='webvis-Node-property-_volume'>    /**
</span>     * @property {webvis.Volume}
     * Holds the volume of the node.
     * @private
     */
    this._volume = params.volume || new webvis.Volume();

<span id='webvis-Node-property-_matrix'>    /**
</span>     * @property {Array}
     * Holds the transform matrix of the node.
     * @private
     */
    this._matrix = params.matrix || [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1];

<span id='webvis-Node-property-_geoNodeID'>    /**
</span>     * @property {string}
     * Holds the id of the node with the geometry representation
     * @private
     */
    this._geoNodeID = params.geoNodeID || null;


<span id='webvis-Node-property-_transcodingState'>    /**
</span>     * @property {webvis.TranscoderJobState}
     * Holds the actual state of transcoding.
     * @private
     */
    this._transcodingState = params.needTranscoding ? webvis.TranscoderJobState.OPEN : webvis.TranscoderJobState.CLOSED;

<span id='webvis-Node-property-_snapshots'>    /**
</span>     * @property {Object}
     * Holds the list of available snapshots.
     * @private
     */
    this._snapshots = {};

};


//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

webvis.Node.prototype = new webvis.EventTarget();
webvis.Node.prototype.constructor = webvis.Node;


//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------
<span id='webvis-Node-property-ID'>/**
</span> * @property ID
 * Get or set the id.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;ID&quot;, {
    get : function () {
        return this._id;
    },
    set : function ( val ) {
        this._id = val;
    }
} );


<span id='webvis-Node-property-Name'>/**
</span> * @property Name
 * Get or set the name.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Name&quot;, {
    get : function () {
        return this._name;
    },
    set : function ( val ) {
        this._name = val;
    }
} );


<span id='webvis-Node-property-LocalID'>/**
</span> * @property LocalID
 * Get or set the LocalID.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;LocalID&quot;, {
    get : function () {
        return this._localID;
    },
    set : function ( val ) {
        this._localID = val;
    }
} );


<span id='webvis-Node-property-ModelUrl'>/**
</span> * @property ModelUrl
 * Get or set the ModelUrl.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;ModelUrl&quot;, {
    get : function () {
        return this._modelUrl;
    },
    set : function ( val ) {
        this._modelUrl = val;
    }
} );


<span id='webvis-Node-property-Parent'>/**
</span> * @property Parent
 * Get or set the parent.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Parent&quot;, {
    get : function () {
        return this._parent;
    },
    set : function ( val ) {
        this._parent = val;
    }
} );


<span id='webvis-Node-property-Children'>/**
</span> * @property Children
 * Get the children.
 * @type {webvis.Node}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Children&quot;, {
    get : function () {
        return this._children;
    }
} );


<span id='webvis-Node-property-URL'>/**
</span> * @property URL
 * Get or set the URL.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;URL&quot;, {
    get : function () {
        return this._url;
    },
    set : function ( val ) {
        this._url = val;
    }
} );

<span id='webvis-Node-property-URL'>/**
</span> * @property URL
 * Get or set the URL.
 * @type {String}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;OriginalURL&quot;, {
    get : function () {
        return this._originalURL;
    },
    set : function ( val ) {
        this._originalURL = val;
    }
} );


<span id='webvis-Node-property-MetaData'>/**
</span> * @property MetaData
 * Get or set the metadata.
 * @type {webvis.MetaData[]}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;MetaData&quot;, {
    get : function () {
        return this._metaData;
    },
    set : function ( val ) {
        this._metaData = val;
    }
} );


<span id='webvis-Node-property-NumberOfChildren'>/**
</span> * @property NumberOfChildren
 * Get the number of children.
 * @type {Number}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;NumberOfChildren&quot;, {
    get : function () {
        return this._children.length;
    }
} );

<span id='webvis-Node-property-Volume'>/**
</span> * @property Volume
 * Get the volume of the node.
 * @type {webvis.Volume}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Volume&quot;, {
    get : function () {
        return this._volume;
    }
} );

<span id='webvis-Node-property-Matrix'>/**
</span> * @property Matrix
 * Get the transform matrix of the node.
 * @type {Array}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Matrix&quot;, {
    get : function () {
        return this._matrix;
    }
} );

<span id='webvis-Node-property-GeoNodeID'>/**
</span> * @property GeoNodeID
 * Get the node id of the geometry representation
 * @type {Array}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;GeoNodeID&quot;, {
    get : function () {
        return this._geoNodeID;
    }
} );


<span id='webvis-Node-property-TranscodingState'>/**
</span> * @property TranscodingState
 * Get or set the transcoding state of the node.
 * @type {webvis.TranscoderJobState}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;TranscodingState&quot;, {
    get : function () {
        return this._transcodingState;
    },
    set : function ( val ) {
        if( this._transcodingState != val ) {
            this._transcodingState = val;
            this.DispatchEvent( webvis.EventType.TRANSCODINGSTATE_CHANGED );
        }
    }
} );

<span id='webvis-Node-property-Color'>/**
</span> * @property Color
 * Get or set the color of the node.
 * @type {webvis.VisibleState}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Color&quot;, {
    get : function () {
        return this._color;
    },
    set : function ( val ) {

        if ( this._color != val ) {
            this._color = val;

            //Dispatch visible changed event
            //self.DispatchEvent( webvis.EventType.COLOR_CHANGED );

            //Set visible value to all children
            for ( var c = 0; c &lt; this._children.length; c++ ) {
                this._children[ c ].Color = val;
            }
        }
    }
} );

<span id='webvis-Node-property-Visible'>/**
</span> * @property Visible
 * Get or set the visibility of the node.
 * @type {webvis.VisibleState}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Visible&quot;, {
    get : function () {
        return this._visible;
    },
    set : function ( val ) {

        if ( this._visible != val ) {
            this._visible = val;
            //Dispatch visible changed event

            if ( this._parent ) {
                this._parent.UpdateVisibleState ( this._visible );
            }

            this.DispatchEvent ( webvis.EventType.VISIBLE_CHANGED );
        }
    }
} );


<span id='webvis-Node-property-Highlight'>/**
</span> * @property Highlight
 * Get or set the highlight of the node.
 * @type {Boolean}
 */
Object.defineProperty ( webvis.Node.prototype, &quot;Highlight&quot;, {
    get : function () {
        return this._highlight;
    },
    set : function ( val ) {

        if ( this._highlight != val ) {

            this._highlight = val;

            //Dispatch highlight changed event
            this.DispatchEvent ( webvis.EventType.HIGHLIGHT_CHANGED );
        }
    }
} );

<span id='webvis-Node-property-NumberOfVisible'>/**
</span> * @property NumberOfVisible
 * Get the number of children.
 * @type {Number}
 * @readonly
 */
Object.defineProperty ( webvis.Node.prototype, &quot;NumberOfVisible&quot;, {
    get : function () {
        return this._children.length;
    }
} );

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Node-method-AddMetaData'>/**
</span> * @method AddMetaData
 * Add a meta data to the node.
 * @param {webvis.MetaData} metadata
 */
webvis.Node.prototype.AddMetaData = function ( metadata ) {
    this._metaData.push ( metadata );
};


<span id='webvis-Node-method-AddChild'>/**
</span> * @method AddChild
 * Add a child to the node.
 * @param {webvis.Node} node
 * @param {boolean} checkVisibility
 */
webvis.Node.prototype.AddChild = function ( node, checkVisibility ) {
    this._children.push ( node );

    this.DispatchEvent( new webvis.Event( {
        type: webvis.EventType.NODE_ADDED,
        target: node
    } ) );

    //Update parent visible states
    if ( checkVisibility ) {
        this.UpdateVisibleState ( node.Visible );
    }
};

<span id='webvis-Node-method-UpdateVisibleState'>/**
</span> * @method UpdateVisibleState
 * Update the parent visible state.
 * @param {webvis.VisibleState} childState
 */
webvis.Node.prototype.UpdateVisibleState = function ( childState ) {
    if ( this._visible != childState ) {
        //If new child state is partial, set this node also to partial
        //Else check child states
        if ( childState == webvis.VisibleState.PARTIAL ) {
            this._visible = childState;
        }
        else {
            //Init visible nodes counter
            var visibleNodes = 0;

            var totalNodes = this._children.length;

            //Check children states
            for ( var c = 0; c &lt; this._children.length; c++ ) {
                if ( this._children[ c ].Visible == webvis.VisibleState.VISIBLE ) {
                    visibleNodes++;
                }
            }

            //If visible node count is 0, new state is invisible
            //Else if node count is equal total count new state is visible
            //Else new state is partial
            if ( visibleNodes == 0 ) {
                this._visible = webvis.VisibleState.INVISIBLE;
            }
            else if ( visibleNodes == totalNodes ) {
                this._visible = webvis.VisibleState.VISIBLE;
            }
            else {
                this._visible = webvis.VisibleState.PARTIAL;
            }
        }

        //Dispatch visible changed event
        this.DispatchEvent ( webvis.EventType.VISIBLE_CHANGED );
        //If there is a parent, update its state too
        if(this._parent)
        {
            this._parent.UpdateVisibleState( this._visible );
        }

    }
};

<span id='webvis-Node-method-UpdateHighlightState'>/**
</span> * @method UpdateHighlightState
 * Update the parent highlight state.
 * @param {Boolean} childState
 */
webvis.Node.prototype.UpdateHighlightState = function ( childState ) {
    if ( this._highlight != childState ) {
        //Init highlighted nodes flag
        var highlightedNodes = 0;
        var totalNodes = this._children.length;

        //Check children states
        for ( var c = 0; c &lt; this._children.length; c++ ) {
            if ( this._children[ c ].Highlight ) {
                highlightedNodes++;
            }
        }

        if ( highlightedNodes == totalNodes &amp;&amp; this._highlight == false ) {
            this._highlight = true;

            //Dispatch visible changed event
            this.DispatchEvent ( webvis.EventType.HIGHLIGHT_CHANGED );

            //If there is a parent, update its state too
            if ( this._parent ) {
                this._parent.UpdateHighlightState ( this._highlight );
            }
        }
        else if ( this._highlight == true ) {
            this._highlight = false;

            //Dispatch visible changed event
            this.DispatchEvent ( webvis.EventType.HIGHLIGHT_CHANGED );

            //If there is a parent, update its state too
            if ( this._parent ) {
                this._parent.UpdateHighlightState ( this._highlight );
            }
        }
    }
};

<span id='webvis-Node-method-AddSnapshot'>/**
</span> * @method AddSnapshot
 * Add a snapshot of the current state of the node.
 * @param {String} id
 */
webvis.Node.prototype.AddSnapshot = function ( id ) {

    var snapshot = {};

    var propertyNames = Object.getOwnPropertyNames( webvis.Node.prototype );

    for ( var i=0; i&lt;propertyNames.length; i++ )
    {
        var obj = Object.getOwnPropertyDescriptor( webvis.Node.prototype, propertyNames[ i ]);

        if ( obj.get &amp;&amp; obj.set ) {
            snapshot[ propertyNames[ i ] ] = this[ propertyNames[ i ] ];
        }
    }

    this._snapshots[ id ] = snapshot;
};

<span id='webvis-Node-method-ApplySnapshot'>/**
</span> * @method ApplySnapshot
 * Apply a snapshot with the given id.
 * @param {String} id
 */
webvis.Node.prototype.ApplySnapshot = function ( id ) {

    var snapshot = this._snapshots[ id ];

    for (var propertyName in snapshot )
    {
        this[ propertyName ] = snapshot[ propertyName ];

    }
};

<span id='webvis-Node-method-RemoveSnapshot'>/**
</span> * @method RemoveSnapshot
 * Remove a snapshot with the given id.
 * @param {String} id
 */
webvis.Node.prototype.RemoveSnapshot = function ( id ) {
    this._snapshots[ id ] = null;
};</pre>
</body>
</html>
