<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};

<span id='webvis-NodeTree-method-constructor'><span id='webvis-NodeTree'>/**
</span></span> * @class webvis.NodeTree
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @constructor
 * Creates a new NodeTree instance.
 */
webvis.NodeTree = function( params )
{
//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

    webvis.utils.Extend( this, new webvis.EventTarget() );

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

    var self = this;

<span id='webvis-NodeTree-property-_root'>    /**
</span>     * @property {webvis.Node}
     * The root node of the node tree.
     * @private
     */
    var _root = null;

<span id='webvis-NodeTree-property-_rootID'>    /**
</span>     * @property {String}
     * Holds the unique ID of the root node.
     * @private
     */
    var _rootID = null;

<span id='webvis-NodeTree-property-_nodeMap'>    /**
</span>     * @property {Object}
     * The map for fast node appending.
     * @private
     */
    var _nodeMap = {};

<span id='webvis-NodeTree-property-_nodeUrlMap'>    /**
</span>     * @property {Object}
     * The map for fast node appending.
     * @private
     */
    var _nodeUrlMap = {};

<span id='webvis-NodeTree-property-_modelMap'>    /**
</span>     * @property {Object}
     * The map for node/model reference
     * @private
     */

    var _modelMap = {};

//----------------------------------------------------------------------------------------------------------------------
// Constructor
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-NodeTree-method-initialize'>    /**
</span>     * @method initialize
     * TODO Description
     * @private
     */
    var initialize = function ()
    {
        //Set or Generate unique root id
        _rootID = params.rootID || &quot;WebVIS_Root_&quot; + webvis.utils.GenerateUniqueId();

        _root = new webvis.Node( { id: _rootID, name: &quot;Models&quot;, visible: webvis.VisibleState.VISIBLE } );

        _root.AddEventListener( webvis.EventType.VISIBLE_CHANGED, function ( event ) {
            self.DispatchEvent( event );
        } );

        _root.AddEventListener( webvis.EventType.HIGHLIGHT_CHANGED, function ( event ) {
            self.DispatchEvent( event );
        } );

        _root.AddEventListener( webvis.EventType.NODE_ADDED, function ( event ) {
            self.DispatchEvent( event );
        } );

        _root.AddEventListener( webvis.EventType.COLOR_CHANGED, function ( event ) {
            self.DispatchEvent( event );
        } );

        _root.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {
            self.DispatchEvent( event );
        } );

        _nodeMap[ _rootID ] = _root;
    };

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-NodeTree-method-AddNode'>    /**
</span>     * @method AddNode
     * Add a component to the tree.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} params.url
     * @param {String} [params.name=id]
     * @param {String} [params.parent=rootID]
     * @param {Boolean} [params.visible=true]
     * @param {String} [params.volume=null]
     * @param {String} [params.matrix=null]
     * @param {webvis.MetaData[]} [params.meta=null]
     * @param {boolean} checkVisibility
     */
    this.AddNode = function ( params, checkVisibility )
    {
        //Add component to the parent
        var parent = _nodeMap[ params.parentID ];
        if ( parent )
        {
            //Create Assembly
            var node = new webvis.Node({
                id: params.id,
                url: params.url,
                localID: params.localID,
                modelUrl: params.modelUrl,
                name: params.name,
                parent: parent,
                meta: params.meta,
                visible: (params.visible) ? 1 : 0,
                matrix: params.matrix,
                volume: params.volume,
                needTranscoding: params.needTranscoding
            } );

            //Add component to the map
            _nodeMap[ params.id ] = node;
            _modelMap[ params.modelUrl ][ params.localID ] = node;
            if(node.URL)
            {
                _nodeUrlMap[ node.URL ] = node;
            }

            parent.AddChild( node, checkVisibility );
        }
        else
        {
            console.error( &quot;[NodeTree -&gt; AddNode] Invalid parent node&quot; );
        }
    };

<span id='webvis-NodeTree-method-_addModel'>    /**
</span>     * @method _addModel
     * @param modelUrl
     */

    this._addModel = function( modelUrl )
    {
        _modelMap[modelUrl] = {};
    };

<span id='webvis-NodeTree-method-Hide'>    /**
</span>     * @method Hide
     * Hide a node
     * @param id
     */
    this.Hide = function ( id )
    {
        var node = _nodeMap[ id ];
        if ( node )
        {
            node.Visible = webvis.VisibleState.INVISIBLE;


            var func = function( n ){
                n.Visible = webvis.VisibleState.INVISIBLE;
            };

//            this.VisitParents( node, func );
            this.VisitChildren( node, func );
        }
    };

<span id='webvis-NodeTree-method-Hide'>    /**
</span>     * @method Hide
     * Set the color of a node
     * @param {String} id
     * @param {String} color
     */
    this.Color = function ( id, color )
    {
        if ( _nodeMap[ id ] )
        {
            _nodeMap[ id ].Color = color;
        }
    };

<span id='webvis-NodeTree-method-HideAll'>    /**
</span>     * @method HideAll
     * Hide all nodes
     * @param id
     */
    this.HideAll = function ()
    {
        this.Hide( _rootID );
    };

<span id='webvis-NodeTree-method-HideOpposite'>    /**
</span>     * @method HideOpposite
     * Hide all opposite nodes
     * @param {String} id
     */
    this.HideOpposite = function ( id )
    {
        this.HideAll();
        this.Show( id );
    };

<span id='webvis-NodeTree-method-Show'>    /**
</span>     * @method Show
     * Show a node
     */

    this.Show = function ( id )
    {
        var node = _nodeMap[ id ];
        if ( node )
        {
            node.Visible = webvis.VisibleState.VISIBLE;

            var func = function( node ){
                node.Visible = webvis.VisibleState.VISIBLE;
            };

//            this.VisitParents( node, func );
            this.VisitChildren( node, func );

        }
    };

    this.VisitChildren = function ( node, func )
    {
        var children = node.Children;
        for ( var c = 0; c &lt; children.length; c++ ) {
            var child = children[ c ];
            func( child );
            this.VisitChildren( child, func );
        }
    };

    this.VisitParents = function ( node, func )
    {
        if(node.Parent)
        {
            func( node.Parent );
            this.VisitParents( node.Parent, func );
        }
    };

<span id='webvis-NodeTree-method-ShowAll'>    /**
</span>     * @method ShowAll
     * Show all node
     */
    this.ShowAll = function ()
    {
        this.Show( _rootID );
    };

<span id='webvis-NodeTree-method-Unhighlight'>    /**
</span>     * @method Unhighlight
     * Unhighlight a node
     * @param id
     */
    this.Unhighlight = function ( id )
    {
        var node = _nodeMap[ id ];
        if ( node )
        {
            node.Highlight = false;

            var func = function( node ){
                node.Highlight = false;
            };

            this.VisitChildren( node, func );
        }
        return node;
    };

<span id='webvis-NodeTree-method-Highlight'>    /**
</span>     * @method Highlight
     * Unhighlight a node
     * @param id
     */
    this.Highlight = function ( id )
    {
        var node = _nodeMap[ id ];
        if ( node )
        {
            node.Highlight = true;

            var func = function( node ){
                node.Highlight = true;
            };

            this.VisitChildren( node, func );

            if(node.Parent)
            {
                node.Parent.UpdateHighlightState(node.Highlight);
            }
        }

        return node;
    };

<span id='webvis-NodeTree-method-Get'>    /**
</span>     * @method Get
     * Get a node
     * @param id
     * @return webvis.Node
     */
    this.Get = function ( id )
    {
        if ( _nodeMap[ id ] )
        {
            return _nodeMap[ id ];
        }
        else
        {
            return null;
        }
    };

<span id='webvis-NodeTree-method-Get'>    /**
</span>     * @method Get
     * Get a node
     * @param id
     * @return webvis.Node
     */
    this.MapWithURL = function ( url, node )
    {
        _nodeUrlMap[url] = node;
    };

<span id='webvis-NodeTree-method-Get'>    /**
</span>     * @method Get
     * Get a node
     * @param id
     * @return webvis.Node
     */
    this.GetWithURL = function ( id )
    {
        if ( _nodeUrlMap[ id ] )
        {
            return _nodeUrlMap[ id ];
        }
        else
        {
            return null;
        }
    };

<span id='webvis-NodeTree-method-GetFromModel'>    /**
</span>     * @method GetFromModel
     * Get a node. Search only in specified model.
     * @param id
     * @param modelUrl
     * @return webvis.Node
     */
    this.GetFromModel = function ( id, modelUrl )
    {
        var node;
        if ( node = _modelMap[ modelUrl ][ id ] )
        {
            return node;
        }
        else
        {
            return null;
        }
    };

<span id='webvis-NodeTree-method-GetModels'>    /**
</span>     * @method GetModels
     * Get the list of modelUrls
     * @return webvis.Node
     */
    this.GetModels = function ()
    {
        return Object.keys( _modelMap );
    };

<span id='webvis-NodeTree-method-RemoveChild'>    /**
</span>     * @method RemoveChild
     * Remove a node
     * @param id
     * @return webvis.Node
     */
    this.RemoveChild = function ( id )
    {
        if ( _nodeMap[ id ] &amp;&amp; _nodeMap[ id ].Parent )
        {
            _nodeMap[ id ].Parent.RemoveChild( id );
            _nodeMap[ id ] = null;
        }
    };

<span id='webvis-NodeTree-method-AddSnapshot'>    /**
</span>     * @method AddSnapshot
     * Add a nodetree snapshot
     * @param id
     */
    this.AddSnapshot = function ( id )
    {
        for ( var nodeID in _nodeMap ) {
            _nodeMap[ nodeID ].AddSnapshot( id );
        }
    };

<span id='webvis-NodeTree-method-ApplySnapshot'>    /**
</span>     * @method ApplySnapshot
     * Apply a snapshot with the given id.
     * @param {String} id
     */
    this.ApplySnapshot = function ( id ) {
        for ( var nodeID in _nodeMap ) {
            _nodeMap[ nodeID ].ApplySnapshot( id );
        }
    };

<span id='webvis-NodeTree-method-RemoveSnapshot'>    /**
</span>     * @method RemoveSnapshot
     * Remove a snapshot with the given id.
     * @param {String} id
     */
    this.RemoveSnapshot = function ( id ) {
        for ( var nodeID in _nodeMap ) {
            _nodeMap[ nodeID ].RemoveSnapshot( id );
        }
    };


//----------------------------------------------------------------------------------------------------------------------
// Execute Constructor
//----------------------------------------------------------------------------------------------------------------------

    initialize();
};</pre>
</body>
</html>
