<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-OptimizationMode'>/**
</span> * @enum {String}
 * Enumeration for the optimization method
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.OptimizationMode = {
<span id='webvis-OptimizationMode-property-NONE'>    NONE: &quot;&quot;,
</span><span id='webvis-OptimizationMode-property-COLLAPSE'>    COLLAPSE: &quot;collapse&quot;,
</span><span id='webvis-OptimizationMode-property-COLLAPSE_ID'>    COLLAPSE_ID: &quot;collapse+id&quot;,
</span><span id='webvis-OptimizationMode-property-RESTRUCTURE'>    RESTRUCTURE: &quot;restructure&quot;,
</span><span id='webvis-OptimizationMode-property-RESTRUCTURE_ID'>    RESTRUCTURE_ID: &quot;restructure+id&quot;,
</span><span id='webvis-OptimizationMode-property-RESTRUCTURE_ATLAS'>    RESTRUCTURE_ATLAS: &quot;restructure_atlas&quot;,
</span><span id='webvis-OptimizationMode-property-RESTRUCTURE_ATLAS_ID'>    RESTRUCTURE_ATLAS_ID: &quot;restructure_atlas+id&quot;,
</span><span id='webvis-OptimizationMode-property-COLLAPSE_RESTRUCTURE'>    COLLAPSE_RESTRUCTURE: &quot;collapse_restructure&quot;,
</span><span id='webvis-OptimizationMode-property-COLLAPSE_RESTRUCTURE_ID'>    COLLAPSE_RESTRUCTURE_ID: &quot;collapse_restructure+id&quot;,
</span><span id='webvis-OptimizationMode-property-REUSE'>    REUSE: &quot;reuse&quot;
</span>};
</pre>
</body>
</html>
