<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-ReplyType'>/**
</span> * @enum {String}
 * Enumeration for the delivered format
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.ReplyType = {
<span id='webvis-ReplyType-property-ID'>    ID: &quot;id&quot;,
</span><span id='webvis-ReplyType-property-PATH'>    PATH: &quot;path&quot;,
</span><span id='webvis-ReplyType-property-RESULT'>    RESULT: &quot;result&quot;,
</span><span id='webvis-ReplyType-property-REDIRECT'>    REDIRECT: &quot;redirect&quot;
</span>};
</pre>
</body>
</html>
