<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};

<span id='webvis-Search-method-constructor'><span id='webvis-Search'>/**
</span></span> * @class webvis.Search
 * @author
 * @constructor
 * Creates a new Transcoder instance.
 */
webvis.Search = function( params )
{

//----------------------------------------------------------------------------------------------------------------------
// Implements
//----------------------------------------------------------------------------------------------------------------------

    webvis.utils.Extend( this, new webvis.EventTarget() );

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

    var self = this;
<span id='webvis-Search-property-_host'>    /**
</span>     * @property {string}
     * The URL of the Host where the Trancoder is running.
     * @private
     */
    var _host = params.host || &quot;http://localhost&quot;;

<span id='webvis-Search-property-_port'>    /**
</span>     * @property {number}
     * The port number the transcoder is listening.
     * @private
     */
    var _port = params.port || 4242;


//----------------------------------------------------------------------------------------------------------------------
// Constructor
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Search-method-constructor2'>    /**
</span>     * @method constructor2
     * TODO Description
     * @private
     */
    var initialize = function ()
    {
    };

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Search-property-Host'>    /**
</span>     * @property Host
     * Get or set the host.
     * @type {String}
     */
    Object.defineProperty( this, &quot;Host&quot;, {
        get: function () {
            return _host;
        },
        set: function ( val ) {
            _host = val;
        }
    });

<span id='webvis-Search-property-Port'>    /**
</span>     * @property Port
     * Get or set the port.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;Port&quot;, {
        get: function () {
            return _port;
        },
        set: function ( val ) {
            _port = val;
        }
    });

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

       //model behind model search string, call callback with result
    this.SearchName = function(searchStr, uri, callback){

        //Create new XMLHttpRequest.
        var xhr = new XMLHttpRequest();
        //Initialize the request.
        xhr.open( &quot;GET&quot;, _host + &quot;:&quot; + _port + &quot;/api/service/mongodb/name/&quot; + encodeURIComponent(uri) + '/' + encodeURIComponent(encodeURIComponent(searchStr)), true );

        //Handle the onload-event.
        xhr.onload = function(e)
        {
            if(this.status == 200){
                data = JSON.parse(this.responseText);
                callback(uri, data);
            }
            else{
                console.log('error');
                callback();
            }
        }

        //Send request.
        xhr.send( null );
    }


    this.DatabaseStatus = function (callback)
    {
        //Create new XMLHttpRequest.
        var xhr = new XMLHttpRequest();

        //Initialize the request.
        xhr.open( &quot;GET&quot;, _host + &quot;:&quot; + _port + &quot;/api/service/checkMongo&quot;, true );
        //Handle the onload-event.
        xhr.onload = function()
        {
            if(this.status == 200){
                callback(true);
            }
        }
        xhr.onerror = function(){
            callback(false);
        }

        //Send request.
        xhr.send( null );
    }

//----------------------------------------------------------------------------------------------------------------------
// Execute Constructor
//----------------------------------------------------------------------------------------------------------------------

    initialize();
};

</pre>
</body>
</html>
