<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-Unit'>/**
</span> * @enum {Number}
 * Enumeration for the units.
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.Unit = {
<span id='webvis-Unit-property-UNSPECIFIED'>    UNSPECIFIED: 0,
</span><span id='webvis-Unit-property-INCHES'>    INCHES: 1,
</span><span id='webvis-Unit-property-FEET'>    FEET: 2,
</span><span id='webvis-Unit-property-MILES'>    MILES: 3,
</span><span id='webvis-Unit-property-MILLIMETERS'>    MILLIMETERS: 4,
</span><span id='webvis-Unit-property-CENTIMETERS'>    CENTIMETERS: 5,
</span><span id='webvis-Unit-property-METERS'>    METERS: 6,
</span><span id='webvis-Unit-property-KILOMETERS'>    KILOMETERS: 7,
</span><span id='webvis-Unit-property-MICROINCHES'>    MICROINCHES: 8,
</span><span id='webvis-Unit-property-MILS'>    MILS: 9,
</span><span id='webvis-Unit-property-YARDS'>    YARDS: 10,
</span><span id='webvis-Unit-property-ANGSTROMS'>    ANGSTROMS: 11,
</span><span id='webvis-Unit-property-NANOMETERS'>    NANOMETERS: 12,
</span><span id='webvis-Unit-property-MICRONS'>    MICRONS: 13,
</span><span id='webvis-Unit-property-DECIMETERS'>    DECIMETERS: 14,
</span><span id='webvis-Unit-property-DECAMETERS'>    DECAMETERS: 15,
</span><span id='webvis-Unit-property-HECTOMETERS'>    HECTOMETERS: 16,
</span><span id='webvis-Unit-property-GIGAMETERS'>    GIGAMETERS: 17,
</span><span id='webvis-Unit-property-ASTRONOMICAL'>    ASTRONOMICAL: 18,
</span><span id='webvis-Unit-property-LIGHTYEARS'>    LIGHTYEARS: 19,
</span><span id='webvis-Unit-property-PARSECS'>    PARSECS: 20
</span>};</pre>
</body>
</html>
