<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js"><span id='webvis-Viewer'>/**
</span> * @enum {String}
 * Enumeration for the available viewers
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @readonly
 * @static
 */
webvis.Viewer = {
<span id='webvis-Viewer-property-PIXI'>    PIXI: &quot;pixi&quot;,
</span><span id='webvis-Viewer-property-X3DOM16'>    X3DOM16: &quot;x3dom16&quot;,
</span><span id='webvis-Viewer-property-X3DOM20'>    X3DOM20: &quot;x3dom20&quot;
</span>};</pre>
</body>
</html>
