<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};


<span id='webvis-Viewer16-method-constructor'><span id='webvis-Viewer16'>/**
</span></span> * @class webvis.Viewer16
 * @extends webvis.EventDispatcher
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @constructor
 * @param {Object} params
 * @param {String} [params.wrapper=null]
 * @param {String} [params.rootID=null]
 * @param {String} [params.highlightColor=&quot;yellow&quot;]
 * @param {webvis.RenderMode} [params.renderMode=webvis.RenderMode.TRIANGLES]
 * @param {webvis.ExplorationMode} [params.explorationMode=webvis.ExplorationMode.ROTATE]
 */
webvis.Viewer16 = function( params )
{
//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

    webvis.utils.Extend( this, new webvis.EventTarget() );

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

    var self = this;

<span id='webvis-Viewer16-property-_rootID'>    /**
</span>     * @property {String}
     * Holds the unique ID of the root assembly.
     * @private
     */
    var _rootID = null;


<span id='webvis-Viewer16-property-_clipPlanesParentID'>    /**
</span>     * @property {String}
     * Holds the unique ID of clipplanes parent.
     * @private
     */
    var _clipPlanesParentID = null;

<span id='webvis-Viewer16-property-_measuresParentID'>    /**
</span>     * @property {String}
     * Holds the unique ID of measures parent.
     * @private
     */
    var _measuresParentID = null;


    //TODO: Can / should we move this out of the viewer classes?
<span id='webvis-Viewer16-property-_interactionMode'>    /**
</span>     * @property {String}
     * Current interaction mode.
     * @private
     */
    var _interactionMode = webvis.InteractionMode.DEFAULT;


<span id='webvis-Viewer16-property-_supportedMimeTypes'>    /**
</span>     * Holds the supported mime types
     * @type {webvis.MimeType[]}
     * @readonly
     * @private
     */
    var _supportedMimeTypes = [
        webvis.MimeType.X3D,
        webvis.MimeType.MULTIPART
    ];

<span id='webvis-Viewer16-property-_x3domRuntime'>    /**
</span>     * Holds the X3DOM Runtime object
     * @type {x3dom.Runtime}
     * @private
     */
    var _x3domRuntime = null;


<span id='webvis-Viewer16-property-_x3domNavigationInfo'>    /**
</span>     * Holds the X3DOM NavigationInfo object
     * @type {x3dom.nodeTypes.NavigationInfo}
     * @private
     */
    var _x3domNavigationInfo = null;


<span id='webvis-Viewer16-property-_x3domViewarea'>    /**
</span>     * Holds the X3DOM Viewarea object
     * @type {x3dom.Viewarea}
     * @private
     */
    var _x3domViewarea = null;


<span id='webvis-Viewer16-property-_x3domEnvironment'>    /**
</span>     * Holds the X3DOM Environment object
     * @type {x3dom.nodeTypes.Environment}
     * @private
     */
    var _x3domEnvironment = null;


<span id='webvis-Viewer16-property-_singlePartList'>    /**
</span>     * Holds all loaded single parts
     * @type {Object}
     * @private
     */
    var _singlePartList = null;

<span id='webvis-Viewer16-property-_multiPartList'>    /**
</span>     * Holds all loaded multi parts
     * @type {Array}
     * @private
     */
    var _multiPartList = null;

<span id='webvis-Viewer16-property-_clipPlaneList'>    /**
</span>     * Holds all the clipping planes
     * @type {Object}
     * @private
     */
    var _clipPlaneList = null;

<span id='webvis-Viewer16-property-_measureList'>    /**
</span>     * Holds all the measure lines
     * @type {Object}
     * @private
     */
    var _measureList = null;

<span id='webvis-Viewer16-property-_activeMeasureID'>    /**
</span>     * Holds the active measure id
     * @type {String}
     * @private
     */
    var _activeMeasureID = null;

<span id='webvis-Viewer16-property-_snapshots'>    /**
</span>     * @property {Object}
     * Holds the list of available snapshots.
     * @private
     */
    var _snapshots = {};

//----------------------------------------------------------------------------------------------------------------------
// Constructor
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Viewer16-method-initialize'>    /**
</span>     * @method initialize
     * TODO Description
     * @private
     */
    this.initialize = function ()
    {
        //Check params
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;wrapper&quot;, required: false, default: null },
            { key: &quot;rootID&quot;, required: false, default: null },
            { key: &quot;renderMode&quot;, required: false, default: webvis.RenderMode.TRIANGLES },
            { key: &quot;explorationMode&quot;, required: false, default: webvis.ExplorationMode.ROTATE }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16] Invalid parameters&quot; );
        }
        else
        {
            //Set or Generate unique scene id
            _rootID = params.rootID || &quot;WebVIS_Root_&quot; + webvis.utils.GenerateUniqueId();

            //Initialize single part list
            _singlePartList = [];

            //Initialize multi part list
            _multiPartList = [];

            //Initialize clipping plane list
            _clipPlaneList = {};

            //Initialize measure list
            _measureList = {};

            //Initialize X3DOM
            initializeX3DOM();

            //Initialize render mode
            _x3domViewarea._points = params.renderMode;

            //Initialize exploration mode
            _x3domNavigationInfo._vf.explorationMode = params.explorationMode;
        }
    };

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Viewer16-method-initializeX3DOM'>    /**
</span>     * @method initializeX3DOM
     * TODO Description
     * @private
     */
    var initializeX3DOM = function ()
    {
        //Create X3D element
        var x3d = document.createElement( &quot;X3D&quot; );
        x3d.setAttribute( &quot;style&quot;, &quot;width:100%; height:100%; margin:0; padding:0; border:none&quot; );

        //Generate unique WebVIS root id
        _clipPlanesParentID = &quot;WebVIS_ClipPlanes_&quot; + webvis.utils.GenerateUniqueId();
        _measuresParentID = &quot;WebVIS_Measures_&quot; + webvis.utils.GenerateUniqueId();

        //Create Scene element
        var scene = document.createElement( &quot;Scene&quot; );
        scene.setAttribute( &quot;experimentalClipPlanes&quot;, &quot;true&quot; );
        scene.onbackgroundClicked = function ( event ) {
            event.Type = &quot;backgroundClicked&quot;;
            self.DispatchEvent( event );
        };

        //Transform for Z-UP
        var rootTransform = document.createElement( &quot;Transform&quot; );
        rootTransform.setAttribute( &quot;rotation&quot;, &quot;1 0 0 -1.57&quot; );

        var transform = document.createElement( &quot;Transform&quot; );
        transform.setAttribute( &quot;id&quot;, _rootID );

        //Append root to the root transform element
        rootTransform.appendChild( transform );

        var clipPlanes = document.createElement( &quot;Transform&quot; );
        clipPlanes.setAttribute( &quot;id&quot;, _clipPlanesParentID );

        //Append clipplanes to the root transform element
        rootTransform.appendChild( clipPlanes );

        var measures = document.createElement( &quot;Transform&quot; );
        measures.setAttribute( &quot;id&quot;, _measuresParentID );

        //Append measure to the root transform element
        scene.appendChild( measures );

        scene.appendChild(rootTransform);

        //Append the scene to X3D element
        x3d.appendChild( scene );

        if ( params.wrapper &amp;&amp; document.getElementById( params.wrapper ) )
        {
            document.getElementById( params.wrapper ).appendChild( x3d );
        }
        else
        {
            document.body.appendChild( x3d );
        }

        //Reload X3DOM to initialize the scene
        x3dom.reload();

        //Get the X3DOM runtime
        _x3domRuntime = x3d.runtime;

        //Get the X3DOM viewarea
        _x3domViewarea = _x3domRuntime.canvas.doc._viewarea;

        //Get the X3DOM scene
        _x3domNavigationInfo = _x3domRuntime.canvas.doc._scene.getNavigationInfo();

        //Get the X3DOM environment
        _x3domEnvironment = _x3domRuntime.canvas.doc._scene.getEnvironment();
    };

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Viewer16-property-RenderMode'>    /**
</span>     * @property RenderMode
     * Get or set the render mode.
     * @type {webvis.RenderMode}
     */
    Object.defineProperty( this, &quot;RenderMode&quot;, {
        get: function () {
            return _x3domViewarea._points;
        },
        set: function ( val ) {
            _x3domViewarea._points = val;
        }
    });


<span id='webvis-Viewer16-property-ExplorationMode'>    /**
</span>     * @property ExplorationMode
     * Get or set the exploration mode.
     * @type {webvis.ExplorationMode}
     */
    Object.defineProperty( this, &quot;ExplorationMode&quot;, {
        get: function () {
            return _x3domNavigationInfo._vf.explorationMode;
        },
        set: function ( val ) {
            _x3domNavigationInfo._vf.explorationMode = val;
        }
    });


<span id='webvis-Viewer16-property-FrustumCulling'>    /**
</span>     * @property FrustumCulling
     * Get or set the frustum culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;FrustumCulling&quot;, {
        get: function () {
            return _x3domEnvironment._vf.frustumCulling;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.frustumCulling = val;
        }
    });


<span id='webvis-Viewer16-property-SmallFeatureCulling'>    /**
</span>     * @property SmallFeatureCulling
     * Get or set the small feature culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;SmallFeatureCulling&quot;, {
        get: function () {
            return _x3domEnvironment._vf.smallFeatureCulling;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.smallFeatureCulling = val;
        }
    });

<span id='webvis-Viewer16-property-SmallFeatureThreshold'>    /**
</span>     * @property SmallFeatureThreshold
     * Get or set the small feature threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;SmallFeatureThreshold&quot;, {
        get: function () {
            return _x3domEnvironment._vf.smallFeatureThreshold;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.smallFeatureThreshold = val;
        }
    });

<span id='webvis-Viewer16-property-LowPriorityCulling'>    /**
</span>     * @property LowPriorityCulling
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;LowPriorityCulling&quot;, {
        get: function () {
            return _x3domEnvironment._vf.lowPriorityCulling;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.lowPriorityCulling = val;
        }
    });

<span id='webvis-Viewer16-property-LowPriorityThreshold'>    /**
</span>     * @property LowPriorityThreshold
     * Get or set the low priority threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;LowPriorityThreshold&quot;, {
        get: function () {
            return _x3domEnvironment._vf.lowPriorityThreshold;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.lowPriorityThreshold = val;
        }
    });


<span id='webvis-Viewer16-property-AdaptiveRenderControl'>    /**
</span>     * @property AdaptiveRenderControl
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;AdaptiveRenderControl&quot;, {
        get: function () {
            return _x3domEnvironment._vf.enableARC;
        },
        set: function ( val ) {
            _x3domEnvironment._vf.enableARC = val;
        }
    });


<span id='webvis-Viewer16-property-SupportedMimeTypes'>    /**
</span>     * @property SupportedMimeTypes
     * Get the supported mime types.
     * @type {webvis.MimeType[]}
     * @readonly
     */
    Object.defineProperty( this, &quot;SupportedMimeTypes&quot;, {
        get: function () {
            return _supportedMimeTypes;
        },
        set: function () {
            console.error( &quot;[Viewer16] SupportedMimeTypes is read only&quot;);
        }
    });


<span id='webvis-Viewer16-property-InteractionMode'>    /**
</span>     * @property InteractionMode
     * Get the active interaction mode..
     * @type {webvis.InteractionMode}
     * @readonly
     */
    Object.defineProperty( this, &quot;InteractionMode&quot;, {
        get: function () {
            return _interactionMode;
        },
        set: function () {
            console.error( &quot;[Viewer16] InteractionMode is read only&quot;);
        }
    });

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-Viewer16-method-AddNode'>    /**
</span>     * @method AddNode
     * Add an Inline node to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} params.url
     * @param {String} [params.parent=RootElementID]
     * param {Boolean} [params.visible=true]
     * @param {String} [params.matrix=identity]
     */
    this.AddNode = function ( node )
    {
        if ( node.URL == null )
        {
            this.AddAssembly( node );
        }
        else
        {
            this.AddPart( node );
        }
    };

<span id='webvis-Viewer16-method-AddAssembly'>    /**
</span>     * @method AddAssembly
     * Add an Inline node to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} [params.parent=RootElementID]
     * param {Boolean} [params.visible=true]
     * @param {String} [params.matrix=identity]
     */
    this.AddAssembly = function ( node )
    {
        if ( _singlePartList[ node.ID ] )
        {
            console.error( &quot;[Viewer16 -&gt; AddNode] ID already exists&quot; );
        }
        else
        {
            //Create Inline node
            var matrixTransform = document.createElement( &quot;MatrixTransform&quot; );

            //Set attributes
            matrixTransform.setAttribute( &quot;id&quot;, node.ID );
            matrixTransform.setAttribute( &quot;render&quot;, (node.Visible) ? &quot;true&quot; : &quot;false&quot; );

            //Set matrix attribute if available
            if ( node.Matrix )
            {
                matrixTransform.setAttribute(&quot;matrix&quot;, node.Matrix);
            }

            //Append it to the scene
            if ( !document.getElementById( node.Parent.ID ) )
            {
                console.error( &quot;[Viewer16 -&gt; AddNode] Invalid parent element.&quot; );
                return;
            }
            else
            {
                document.getElementById( node.Parent.ID ).appendChild( matrixTransform );
            }
        }
    };

<span id='webvis-Viewer16-method-AddPart'>    /**
</span>     * @method AddPart
     * Add an Inline node to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} params.url
     * @param {String} [params.parent=RootElementID]
     * @param {Boolean} [params.visible=true]
     */
    this.AddPart = function ( node )
    {
        if ( node.TranscodingState != webvis.TranscoderJobState.CLOSED )
        {
            node.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {
                if ( event.Target.TranscodingState == webvis.TranscoderJobState.CLOSED ) {
                    self.AddPart( event.Target );
                }
            } );

            return;
        }


        if ( _singlePartList[ node.ID ] )
        {
            console.error( &quot;[Viewer16 -&gt; AddInline] ID already exists&quot; );
        }
        else
        {
            //Create Inline node
            var inline = document.createElement( &quot;Inline&quot; );

            //Set attributes
            inline.setAttribute( &quot;id&quot;, node.ID );
            inline.setAttribute( &quot;url&quot;, node.URL );
            inline.setAttribute( &quot;render&quot;, (node.Visible) ? &quot;true&quot; : &quot;false&quot; );

            //Append it to the scene
            if ( !document.getElementById( node.Parent.ID ) )
            {
                console.error( &quot;[Viewer16 -&gt; AddInline] Invalid parent element.&quot; );
                return;
            }
            else
            {
                document.getElementById( node.Parent.ID ).appendChild( inline );
            }

            //Add onload event listener
            inline.addEventListener( &quot;load&quot;, function ( event ) {
                //Insert into the single part list
                _singlePartList[ node.ID ] = this;
                //Dispatch load event
                //self.DispatchEvent( event );
            }, false );

            //Add onerror event listener
            inline.addEventListener( &quot;error&quot;, function ( event ) {
                console.error( &quot;[Viewer16 -&gt; AddInline] Fail to load: &quot; + node.ID );
                //Delete the inline node from scene
                this.parentNode.removeChild( this );
                //Dispatch error event
                //self.DispatchEvent( event );
            }, false );

            //Add onclick event listener
            inline.addEventListener( &quot;click&quot;, function ( event ) {
                if ( _interactionMode == webvis.InteractionMode.MEASURE )
                {
                    if ( _measureList[ _activeMeasureID ].SetPoint( event.worldX, event.worldY, event.worldZ ) )
                    {
                        _interactionMode = webvis.InteractionMode.DEFAULT;
                        _x3domRuntime.getCanvas().removeAttribute( &quot;style&quot; );
                        _activeMeasureID = null;
                    }
                }

                //Overwrite event type
                event.partID = this.id;
                event.Type = &quot;click&quot;;
                self.DispatchEvent( event );

                event.preventDefault();
                return false;
            }, false );

            //Add onmousemove event listener
            inline.addEventListener( &quot;mousemove&quot;, function ( event ) {
                if ( _interactionMode == webvis.InteractionMode.MEASURE &amp;&amp; _measureList[ _activeMeasureID ].StartPoint )
                {
                    _measureList[ _activeMeasureID ].UpdatePoint( event.worldX, event.worldY, event.worldZ );

                    self.DispatchEvent( new webvis.Event( {
                        type: webvis.EventType.MEASUREMENT_FINISHED,
                        target: _measureList[ _activeMeasureID ]
                    }));
                }
                else {
                    event.partID = this.id;
                    event.Type = &quot;mousemove&quot;;
                    self.DispatchEvent( event );
                }
            }, false );

            //Add onmouseover event listener
            inline.addEventListener( &quot;mouseover&quot;, function ( event ) {
                //Overwrite event type
                event.partID = this.id;
                event.Type = &quot;mouseover&quot;;
                self.DispatchEvent( event );
            }, false );

            //Add onmouseout event listener
            inline.addEventListener( &quot;mouseout&quot;, function ( event ) {
                //Overwrite event type
                event.partID = this.id;
                event.Type = &quot;mouseout&quot;;
                self.DispatchEvent( event );
            }, false );
        }
    };


<span id='webvis-Viewer16-method-AddMultiPart'>    /**
</span>     * @method AddMultiPart
     * Add a MultiPart node to the scene.
     * @param {Object} params
     * @param {String} params.url
     * @param {String} params.urlIdMap
     * @param {String} [params.parent=RootElement]
     * @param {Boolean} [params.visible=true]
     */
    this.AddMultiPart = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;url&quot;, required: true, default: null },
            { key: &quot;urlIdMap&quot;, required: true, default: null },
            { key: &quot;parent&quot;, required: false, default: _rootID },
            { key: &quot;visible&quot;, required: false, default: true }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16 -&gt; AddMultiPart] Invalid parameters&quot; );
        }
        else
        {
            //Create MultiPart node
            var multiPart = document.createElement( &quot;MultiPart&quot; );

            //Set MultiPart attributes
            multiPart.setAttribute( &quot;url&quot;, params.url );
            multiPart.setAttribute( &quot;urlIDMap&quot;, params.urlIdMap );
            multiPart.setAttribute( &quot;solid&quot;, &quot;false&quot; );
            multiPart.setAttribute( &quot;initialVisibility&quot;, (params.visible) ? &quot;visible&quot; : &quot;invisible&quot; );

            //Append it to the scene
            if ( !document.getElementById( params.parent ) )
            {
                console.error( &quot;[Viewer16 -&gt; AddMultiPart] Invalid parent element.&quot; );
            }
            else
            {
                document.getElementById( params.parent ).appendChild( multiPart );
            }

            //Add load event listener
            multiPart.addEventListener(&quot;load&quot;, function (event) {
                _multiPartList.push( this );
                self.DispatchEvent( event );
            }, false);

            //Add error event listener
            multiPart.addEventListener(&quot;error&quot;, function (event) {
                console.error( &quot;[Viewer16 -&gt; AddMultiPart] Fail to load: &quot; + params.url );
                //Delete the inline node from scene
                this.parentNode.removeChild( this );
                //Dispatch error event
                self.DispatchEvent( event );
            }, false);

            //Add click event listener
            multiPart.addEventListener(&quot;click&quot;, function (event) {
                if ( _interactionMode == webvis.InteractionMode.MEASURE )
                {
                    if ( _measureList[ _activeMeasureID ].SetPoint( event.worldX, event.worldY, event.worldZ ) )
                    {
                        _interactionMode = webvis.InteractionMode.DEFAULT;
                        _x3domRuntime.getCanvas().removeAttribute( &quot;style&quot; );
                        _activeMeasureID = null;
                    }
                }

                //Overwrite event type
                event.Type = &quot;click&quot;;
                self.DispatchEvent( event );

                event.preventDefault();
                return false;
            }, false);

            //Add mousemove event listener
            multiPart.addEventListener(&quot;mousemove&quot;, function (event) {
                if ( _interactionMode == webvis.InteractionMode.MEASURE &amp;&amp; _measureList[ _activeMeasureID ].StartPoint )
                {
                    _measureList[ _activeMeasureID ].UpdatePoint( event.worldX, event.worldY, event.worldZ );

                    self.DispatchEvent( new webvis.Event( {
                        type: webvis.EventType.MEASUREMENT_FINISHED,
                        target: _measureList[ _activeMeasureID ]
                    }));
                }
                else {
                    event.Type = &quot;mousemove&quot;;
                    self.DispatchEvent( event );
                }
            }, false);

            //Add mouseenter event listener
            multiPart.addEventListener(&quot;mouseenter&quot;, function (event) {
                //Overwrite event type
                event.Type = &quot;mouseover&quot;;
                self.DispatchEvent( event );
            }, false);

            //Add mouseleave event listener
            multiPart.addEventListener(&quot;mouseleave&quot;, function (event) {
                event.Type = &quot;mouseout&quot;;
                self.DispatchEvent( event );
            }, false);
        }
    };

<span id='webvis-Viewer16-method-AddMeasure'>    /**
</span>     * @method AddMeasure
     * Add a distance measuring between to points.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} [params.color=&quot;1 1 0&quot;]
     * @param {Number} [params.size=0.1]
     */
    this.AddMeasure = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;color&quot;, required: false, default: &quot;0 1 0&quot; },
            { key: &quot;size&quot;, required: false, default: 0.1 }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16 -&gt; AddMeasure] Invalid parameters&quot; );
        }
        else if ( _measureList[ params.id ] )
        {
            console.error( &quot;[Viewer16 -&gt; AddMeasure] ID already exists&quot; );
        }
        else
        {
            //Set InteractionMode to measure
            _interactionMode = webvis.InteractionMode.MEASURE;

            //Change canvas cursor style
            _x3domRuntime.getCanvas().setAttribute( &quot;style&quot;, &quot;cursor:crosshair;&quot; );

            //Set additional internal parameter
            params.proxyParent = document.getElementById( _measuresParentID );

            //Create measure
            _measureList[ params.id ] = new webvis.Measure( params );

            _activeMeasureID = params.id;
        }
    };

<span id='webvis-Viewer16-method-RemoveMeasure'>    /**
</span>     * @method RemoveMeasure
     * Remove a measure from the scene.
     * @param {String} id
     */
    this.RemoveMeasure = function ( id )
    {
        if ( !id )
        {
            console.error( &quot;[Viewer16 -&gt; RemoveMeasure] Invalid parameters&quot; );
        }
        else if ( !_measureList[ id ] )
        {
            console.error( &quot;[Viewer16 -&gt; RemoveMeasure] ID not exists&quot; );
        }
        else
        {
            _measureList[ id ].Remove();
            delete _measureList[ id ];
        }
    };



<span id='webvis-Viewer16-method-AddClipPlane'>    /**
</span>     * @method AddClipPlane
     * Add a Clipping plane to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} [params.cappingStrength=0.0]
     * @param {String} [params.cappingColor=&quot;1 1 1&quot;]
     * @param {webvis.Axis} [params.axis=webvis.Axis.POSITIVE_X]
     */
    this.AddClipPlane = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;cappingStrength&quot;, required: false, default: 0.0 },
            { key: &quot;cappingColor&quot;, required: false, default: &quot;1 1 1&quot; },
            { key: &quot;axis&quot;, required: false, default: webvis.Axis.POSITIVE_X }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16 -&gt; AddClipPlane] Invalid parameters&quot; );
        }
        else if ( _clipPlaneList[ params.id ] )
        {
            console.error( &quot;[Viewer16 -&gt; AddClipPlane] ID already exists&quot; );
        }
        else
        {
            params.clipScope = document.getElementById( _rootID );
            params.proxyParent = document.getElementById( _clipPlanesParentID );
            params.runtime = _x3domRuntime;


            _clipPlaneList[ params.id ] = new webvis.ClipPlane( params );
        }
    };

<span id='webvis-Viewer16-method-RemoveClipPlane'>    /**
</span>     * @method RemoveClipPlane
     * Remove a Clipping plane from the scene.
     * @param {String} id
     */
    this.RemoveClipPlane = function ( id )
    {
        if ( !id )
        {
            console.error( &quot;[Viewer16 -&gt; RemoveClipPlane] Invalid parameters&quot; );
        }
        else if ( !_clipPlaneList[ id ] )
        {
            console.error( &quot;[Viewer16 -&gt; RemoveClipPlane] ID not exists&quot; );
        }
        else
        {
            _clipPlaneList[ id ].Remove();
            delete _clipPlaneList[ id ];
        }
    };

<span id='webvis-Viewer16-method-ClipPlaneAxis'>    /**
</span>     * @method ClipPlaneAxis
     * Set the Clipping plane axis.
     * @param {Object} params
     * @param {String} params.id
     * @param {webvis.Axis} params.axis
     */
    this.ClipPlaneAxis = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;axis&quot;, required: true, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16 -&gt; ClipPlaneAxis] Invalid parameters&quot; );
        }
        else if ( !_clipPlaneList[ params.id ] )
        {
            console.error( &quot;[Viewer16 -&gt; ClipPlaneAxis] ID not exists&quot; );
        }
        else
        {
            _clipPlaneList[ params.id ].Axis = params.axis;
        }
    };


<span id='webvis-Viewer16-method-ClipPlanePosition'>    /**
</span>     * @method ClipPlanePosition
     * Set the Clipping plane position.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} params.position
     */
    this.ClipPlanePosition = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;position&quot;, required: true, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[Viewer16 -&gt; ClipPlanePosition] Invalid parameters&quot; );
        }
        else if ( !_clipPlaneList[ params.id ] )
        {
            console.error( &quot;[Viewer16 -&gt; ClipPlaneAxis] ID not exists&quot; );
        }
        else
        {
            _clipPlaneList[ params.id ].Position = params.position;
        }
    };


<span id='webvis-Viewer16-method-Show'>    /**
</span>     * @method Show
     * Show a part
     * @param {String} id
     */
    this.Show = function ( id )
    {
        var i, part, clipPlane;

        if ( _singlePartList[ id ] )
        {
            _singlePartList[ id ].render = true;
        }
        else
        {
            for ( i = 0; i &lt; _multiPartList.length; i++ )
            {
                part = _multiPartList[ i ].getParts( [ id ] );

                if ( part )
                {
                    part.setVisibility( true );
                    break;
                }
            }
        }

        for ( clipPlane in _clipPlaneList )
        {
            _clipPlaneList[ clipPlane ].UpdateVolume();;
        }
    };



<span id='webvis-Viewer16-method-Hide'>    /**
</span>     * @method Hide
     * Hide a part
     * @param {String} id
     */
    this.Hide = function ( id )
    {
        var i, part, clipPlane;

        if ( _singlePartList[ id ] )
        {
            _singlePartList[ id ].render = false;
        }
        else
        {
            for ( i=0; i &lt; _multiPartList.length; i++ )
            {
                part = _multiPartList[ i ].getParts( [ id ] );

                if ( part )
                {
                    part.setVisibility( false );
                    break;
                }
            }
        }

        for ( clipPlane in _clipPlaneList )
        {
            _clipPlaneList[ clipPlane ].UpdateVolume();;
        }
    };

<span id='webvis-Viewer16-method-ShowAll'>    /**
</span>     * @method ShowAll
     * Show all parts
     */
    this.ShowAll = function ()
    {
        var i, part, parts, clipPlane;

        for ( part in _singlePartList )
        {
            _singlePartList[ part ].render = true;
        }

        for ( i = 0; i &lt; _multiPartList.length; i++ )
        {
            parts = _multiPartList[ i ].getParts();
            parts.setVisibility( true );
        }

        for ( clipPlane in _clipPlaneList )
        {
            _clipPlaneList[ clipPlane ].UpdateVolume();;
        }
    };

<span id='webvis-Viewer16-method-HideAll'>    /**
</span>     * @method HideAll
     * Hide all parts
     */
    this.HideAll = function ()
    {
        var i, part, parts, clipPlane;

        for ( part in _singlePartList )
        {
            _singlePartList[ part ].render = false;
        }

        for ( i = 0; i &lt; _multiPartList.length; i++ )
        {
            parts = _multiPartList[ i ].getParts();
            parts.setVisibility( true );
        }

        for ( clipPlane in _clipPlaneList )
        {
            _clipPlaneList[ clipPlane ].UpdateVolume();;
        }
    };

<span id='webvis-Viewer16-method-Highlight'>    /**
</span>     * @method Highlight
     * Highlight a part
     * @param {String} id
     */
    this.Highlight = function ( id )
    {
        var i, part;

        if ( _singlePartList[ id ] )
        {
            _singlePartList[ id ].highlight( true, &quot;yellow&quot; );
        }
        else if ( _measureList[ id ] )
        {
            _measureList[ id ].Highlight = true;
        }
        else
        {
            for ( i=0; i &lt; _multiPartList.length; i++ )
            {
                part = _multiPartList[ i ].getParts( [ id ] );

                if ( part )
                {
                    part.highlight( &quot;yellow&quot; );
                    break;
                }
            }
        }
    };

<span id='webvis-Viewer16-method-Unhighlight'>    /**
</span>     * @method Unhighlight
     * Unhiglight a part
     * @param {String} id
     */
    this.Unhighlight = function ( id )
    {
        var i, part;

        if ( _singlePartList[ id ] )
        {
            _singlePartList[ id ].highlight( false, &quot;yellow&quot; );
        }
        else if ( _measureList[ id ] )
        {
            _measureList[ id ].Highlight = false;
        }
        else
        {
            for ( i=0; i &lt; _multiPartList.length; i++ )
            {
                part = _multiPartList[ i ].getParts( [ id ] );

                if ( part )
                {
                    part.unhighlight();
                    break;
                }
            }
        }
    };


<span id='webvis-Viewer16-method-Color'>    /**
</span>     * @method Color
     * Set part color
     * @param {String} id
     * @param {String} color
     */
    this.Color = function ( id, color )
    {
        var i, part;

        if ( _singlePartList[ id ] )
        {
            _singlePartList[ id ].highlight( true, color );
        }
        else
        {
            for ( i = 0; i &lt; _multiPartList.length; i++ )
            {
                part = _multiPartList[ i ].getParts( [ id ] );

                if ( part )
                {
                    if (color) part.setColor( color );
                    else part.resetColor();
                    break;
                }
            }
        }
    };


<span id='webvis-Viewer16-method-Fit'>    /**
</span>     * @method Fit
     * Fits the active parts to the screen
     */
    this.Fit = function ()
    {
        _x3domRuntime.fitAll();
    };


<span id='webvis-Viewer16-method-Fit'>    /**
</span>     * @method Fit
     * Fits the active parts to the screen
     */
    this.FitPart = function ( id )
    {
        var i;

        if ( _singlePartList[ id ] )
        {
            _x3domRuntime.fitObject( _singlePartList[ id ] );
        }
        else
        {
            for ( i=0; i &lt; _multiPartList.length; i++ )
            {
                _multiPartList[ i ].fitPart( id );
            }
        }
    };


<span id='webvis-Viewer16-method-FitMeasurement'>    /**
</span>     * @method FitMeasurement
     * Fits the view to a measurement's geometry
     * @param {String} id - id of the measurement
     */
    this.FitMeasurement = function (id)
    {
        //TODO: implement
        console.log(&quot;FIT MEASUREMENT NOT IMPLEMENTED YET FOR X3DOM 1.6 VIEWER&quot;)
    };


<span id='webvis-Viewer16-method-FitAxis'>    /**
</span>     * @method FitAxis
     * Fits the active parts with given axis to the screen
     * @param {webvis.Axis} axis
     */
    this.FitAxis = function ( axis )
    {
        _x3domRuntime.showAll( axis );
    };


<span id='webvis-Viewer16-method-Screenshot'>    /**
</span>     * @method Screenshot
     * Returns a Base64 encoded png image consisting of the current rendering
     * @return {Object} Base64 encoded png image string, width and height
     * @return {String} return.url Base64 encoded png image string
     * @return {Number} return.width The width of the image
     * @return {Number} return.height The height of the image
     */
    this.Screenshot = function (callback)
    {
        callback({
            url:_x3domRuntime.getScreenshot(),
            width: _x3domRuntime.getWidth(),
            height: _x3domRuntime.getHeight()
        });
    };

<span id='webvis-Viewer16-method-AddSnapshot'>    /**
</span>     * @method AddSnapshot
     * Add a viewer snapshot
     * @param id
     */
    this.AddSnapshot = function ( id ) {
        _snapshots[ id ] = {
            matrix: _x3domRuntime.viewpoint()._viewMatrix.copy(),
            center: _x3domRuntime.viewpoint()._vf.centerOfRotation.copy(),
            rot: _x3domViewarea._rotMat.copy(),
            trans: _x3domViewarea._transMat.copy(),
            move: _x3domViewarea._movement.copy()
        };
    };

<span id='webvis-Viewer16-method-ApplySnapshot'>    /**
</span>     * @method ApplySnapshot
     * Apply a snapshot with the given id.
     * @param {String} id
     */
    this.ApplySnapshot = function ( id ) {
        _x3domRuntime.viewpoint()._viewMatrix = _snapshots[ id ].matrix;
        _x3domRuntime.viewpoint()._vf.centerOfRotation = _snapshots[ id ].center;
        _x3domViewarea._rotMat = _snapshots[ id ].rot;
        _x3domViewarea._transMat = _snapshots[ id ].trans;
        _x3domViewarea._movement = _snapshots[ id ].move;
        _x3domRuntime.triggerRedraw();
    };

<span id='webvis-Viewer16-method-RemoveSnapshot'>    /**
</span>     * @method RemoveSnapshot
     * Remove a snapshot with the given id.
     * @param {String} id
     */
    this.RemoveSnapshot = function ( id ) {
        _snapshots[ id ] = null;
    };

    this.initialize();

}; //EOC</pre>
</body>
</html>
