<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">webvis = webvis || {};


<span id='webvis-ViewerPixi-method-constructor'><span id='webvis-ViewerPixi'>/**
</span></span> * @class webvis.ViewerPixi
 * @extends webvis.EventDispatcher
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @constructor
 * @param {Object} params
 * @param {String} [params.wrapper=null]
 * @param {String} [params.rootID=null]
 * @param {String} [params.highlightColor=&quot;yellow&quot;]
 * @param {webvis.RenderMode} [params.renderMode=webvis.RenderMode.TRIANGLES]
 * @param {webvis.ExplorationMode} [params.explorationMode=webvis.ExplorationMode.ROTATE]
 */
webvis.ViewerPixi = function( params )
{
//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

    webvis.utils.Extend( this, new webvis.EventTarget() );

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

    var self = this;

<span id='webvis-ViewerPixi-property-_rootID'>    /**
</span>     * @property {String}
     * Holds the unique ID of the root component.
     * @private
     */
    var _rootID = null;


<span id='webvis-ViewerPixi-property-_host'>    /**
</span>     * @property {String}
     * Holds the host of the remote renderer.
     * @private
     */
    var _host = params.host || &quot;localhost&quot;;


<span id='webvis-ViewerPixi-property-_port'>    /**
</span>     * @property {Number}
     * Holds the port the remote renderer is listening.
     * @private
     */
    var _port = params.port || 35668;

<span id='webvis-ViewerPixi-property-_streamedView'>    /**
</span>     * @property {HTMLImageElement}
     * Holds the image for the streamed view.
     * @private
     */
    var _streamedView = null;


<span id='webvis-ViewerPixi-property-_supportedMimeTypes'>    /**
</span>     * Holds the supported mime types
     * @type {webvis.MimeType[]}
     * @readonly
     * @private
     */
    var _supportedMimeTypes = [
        webvis.MimeType.X3D,
        webvis.MimeType.JT
    ];

<span id='webvis-ViewerPixi-property-_idToUrlMap'>    /**
</span>     * Holds the urls to the given id
     * @type {Object}
     * @private
     */
    var _idToUrlMap = null;

    var _explorationmode = webvis.ExplorationMode.ROTATE;

    var _button = 0;


//----------------------------------------------------------------------------------------------------------------------
// Constructor
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-ViewerPixi-method-initialize'>    /**
</span>     * @method initialize
     * TODO Description
     * @private
     */
    this.initialize = function ()
    {
        //Check params
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;wrapper&quot;, required: false, default: null },
            { key: &quot;rootID&quot;, required: false, default: null },
            { key: &quot;renderMode&quot;, required: false, default: webvis.RenderMode.TRIANGLES },
            { key: &quot;explorationMode&quot;, required: false, default: webvis.ExplorationMode.ROTATE }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[ViewerPixi] Invalid parameters&quot; );
        }
        else
        {
            //Set or Generate unique scene id
            _rootID = params.rootID || &quot;WebVIS_Root_&quot; + webvis.utils.GenerateUniqueId();

            //Initialize id to url map
            _idToUrlMap = {};

            _idToUrlMap[ _rootID ] = &quot;http://&quot; + _host + &quot;:&quot; + _port + &quot;/Pixi/context/view/0&quot;;

            //Initialize X3DOM
            initializePIXI();
        }
    };

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-ViewerPixi-method-initializeX3DOM'>    /**
</span>     * @method initializeX3DOM
     * TODO Description
     * @private
     */
    var initializePIXI = function ()
    {
        window.onresize = function ( event )
        {
            updateStreamedViewSize();
        };

        //Create img element that receive the streamed view
        _streamedView = document.createElement( &quot;img&quot; );
        _streamedView.setAttribute( &quot;id&quot;, _rootID );
        _streamedView.setAttribute( &quot;style&quot;, &quot;width:100%; height:100%; margin:0; padding:0; border:none&quot; );

        _streamedView.addEventListener( &quot;dragstart&quot;, function ( event ) {
            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;dragend&quot;, function ( event ) {
            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;drag&quot;, function ( event ) {
            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;contextmenu&quot;, function ( event ) {
            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;mousedown&quot;, function ( event ) {
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;mouseState=&quot; + event.button + &quot; 1&quot;);

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;mouseup&quot;, function ( event ) {
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;mouseState=&quot; + event.button + &quot; 2&quot;);

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;mousemove&quot;, function ( event ) {
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], false);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;mousePosition=&quot; + ( event.pageX - _streamedView.offsetLeft ) + &quot; &quot; +
                                        ( event.pageY - _streamedView.offsetTop ) );

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;touchstart&quot;, function ( event ) {
            var touch = event.changedTouches[0];
            touch.button = _button;

            var xhr = new XMLHttpRequest();
            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
            xhr.send(&quot;mousePosition=&quot; + (touch.pageX - _streamedView.offsetLeft) + &quot; &quot; +
                                        (touch.pageY - _streamedView.offsetTop));
            xhr.onreadystatechange = function()
            {
                if (xhr.readyState==4 &amp;&amp; xhr.status==200) {
                    var xhr2 = new XMLHttpRequest();
                    xhr2.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
                    xhr2.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
                    xhr2.send(&quot;mouseState=&quot; + touch.button + &quot; 1&quot;);
                }
            };

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;touchend&quot;, function ( event ) {
            var touch = event.changedTouches[0];
            touch.button = _button;
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
            xhr.send(&quot;mouseState=&quot; + touch.button + &quot; 2&quot;);

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;touchcancel&quot;, function ( event ) {
            var touch = event.changedTouches[0];
            touch.button = _button;
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
            xhr.send(&quot;mouseState=&quot; + touch.button + &quot; 2&quot;);

            event.preventDefault();
            return false;
        } );


        _streamedView.addEventListener( &quot;touchmove&quot;, function ( event ) {
            var touch = event.changedTouches[0];
            touch.button = _button;

            var xhr = new XMLHttpRequest();
            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
            xhr.send(&quot;mousePosition=&quot; + (touch.pageX - _streamedView.offsetLeft) + &quot; &quot; +
                                        (touch.pageY - _streamedView.offsetTop));

            event.preventDefault();
            return false;
        } );


        document.addEventListener( &quot;keypress&quot;, function ( event ) {
            var key = event.charCode || event.keyCode;
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
            xhr.send(&quot;keyEvent=&quot; + key + &quot; 1&quot;);

            event.preventDefault();
            return false;
        } );



        //Append the image to the document
        if ( params.wrapper &amp;&amp; document.getElementById( params.wrapper ) )
        {
            document.getElementById( params.wrapper ).appendChild( _streamedView );
        }
        else
        {
            document.body.appendChild( _streamedView );
        }

        //Build websocket URL
        var url = &quot;ws://&quot; + _host + &quot;:&quot; + _port + &quot;/Pixi/context/view/0/frameBuffer/wsJPEGbase64&quot;;

        //Create the Socket
        var socket = new WebSocket( url ) || new MozWebSocket( url ) || null;

        if ( !socket )
        {
            console.error( &quot;[ViewerPixi -&gt; Initialize] Failed to create Socket&quot; );
        }
        else
        {
            socket.onmessage = function ( event )
            {
                _streamedView.src = &quot;data:image/jpeg;base64,&quot; + event.data;
            };

            socket.onopen = function()
            {
                updateStreamedViewSize();
            };

            socket.onclose = function()
            {
                self.DispatchEvent( webvis.EventType.CONNECTION_LOST );
            };

            socket.onerror = function()
            {
                self.DispatchEvent( webvis.EventType.CONNECTION_LOST );
            };
        }
    };

    var updateStreamedViewSize = function ( )
    {
        var style = window.getComputedStyle( _streamedView );

        var xhr = new XMLHttpRequest();

        xhr.open( &quot;POST&quot; , &quot;http://&quot; + _host + &quot;:&quot; + _port + &quot;/Pixi/context/view/0&quot;, false );

        xhr.setRequestHeader( &quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot; );

        xhr.send( &quot;width=&quot; + parseInt( style.width ) + &quot;&amp;height=&quot; + parseInt( style.height ) );
    };

//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-ViewerPixi-property-RenderMode'>    /**
</span>     * @property RenderMode
     * Get or set the render mode.
     * @type {webvis.RenderMode}
     */
    Object.defineProperty( this, &quot;RenderMode&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] RenderMode is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] RenderMode is NIY&quot;);
        }
    });


<span id='webvis-ViewerPixi-property-ExplorationMode'>    /**
</span>     * @property ExplorationMode
     * Get or set the exploration mode.
     * @type {webvis.ExplorationMode}
     */
    Object.defineProperty( this, &quot;ExplorationMode&quot;, {
        get: function () {
            return _explorationmode;
        },
        set: function ( val ) {
            _explorationmode = val;
            if(_explorationmode == webvis.ExplorationMode.ROTATE) { _button = 0; }
            else if(_explorationmode == webvis.ExplorationMode.PAN) { _button = 1; }
            else if(_explorationmode == webvis.ExplorationMode.ZOOM) { _button = 2; }
        }
    });


<span id='webvis-ViewerPixi-property-FrustumCulling'>    /**
</span>     * @property FrustumCulling
     * Get or set the frustum culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;FrustumCulling&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] FrustumCulling is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] FrustumCulling is NIY&quot;);
        }
    });


<span id='webvis-ViewerPixi-property-SmallFeatureCulling'>    /**
</span>     * @property SmallFeatureCulling
     * Get or set the small feature culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;SmallFeatureCulling&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] SmallFeatureCulling is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] SmallFeatureCulling is NIY&quot;);
        }
    });

<span id='webvis-ViewerPixi-property-SmallFeatureThreshold'>    /**
</span>     * @property SmallFeatureThreshold
     * Get or set the small feature threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;SmallFeatureThreshold&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] SmallFeatureThreshold is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] SmallFeatureThreshold is NIY&quot;);
        }
    });

<span id='webvis-ViewerPixi-property-LowPriorityCulling'>    /**
</span>     * @property LowPriorityCulling
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;LowPriorityCulling&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] LowPriorityCulling is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] LowPriorityCulling is NIY&quot;);
        }
    });

<span id='webvis-ViewerPixi-property-LowPriorityThreshold'>    /**
</span>     * @property LowPriorityThreshold
     * Get or set the low priority threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;LowPriorityThreshold&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] LowPriorityThreshold is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] LowPriorityThreshold is NIY&quot;);
        }
    });


<span id='webvis-ViewerPixi-property-AdaptiveRenderControl'>    /**
</span>     * @property AdaptiveRenderControl
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;AdaptiveRenderControl&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] AdaptiveRenderControl is NIY&quot;);
        },
        set: function ( val ) {
            console.error( &quot;[ViewerPixi] AdaptiveRenderControl is NIY&quot;);
        }
    });


<span id='webvis-ViewerPixi-property-SupportedMimeTypes'>    /**
</span>     * @property SupportedMimeTypes
     * Get the supported mime types.
     * @type {webvis.MimeType[]}
     * @readonly
     */
    Object.defineProperty( this, &quot;SupportedMimeTypes&quot;, {
        get: function () {
            return _supportedMimeTypes;
        },
        set: function () {
            console.error( &quot;[ViewerPixi] SupportedMimeTypes is read only&quot;);
        }
    });


<span id='webvis-ViewerPixi-property-InteractionMode'>    /**
</span>     * @property InteractionMode
     * Get the active interaction mode..
     * @type {webvis.InteractionMode}
     * @readonly
     */
    Object.defineProperty( this, &quot;InteractionMode&quot;, {
        get: function () {
            console.error( &quot;[ViewerPixi] InteractionMode is read only&quot;);
        },
        set: function () {
            console.error( &quot;[ViewerPixi] InteractionMode is read only&quot;);
        }
    });

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

    this.AddNode = function ( node )
    {
        if ( node.URL == null )
        {
            this.AddAssembly( node );
        }
        else
        {
            this.AddPart( node );
        }
    };

<span id='webvis-ViewerPixi-method-AddNode'>    /**
</span>     * @method AddNode
     * Add an Inline node to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} [params.parent=RootElementID]
     * param {Boolean} [params.visible=true]
     * @param {String} [params.matrix=identity]
     */
    this.AddAssembly = function ( node )
    {
        //Check parameters
       /* params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;parent&quot;, required: false, default: _rootID },
            { key: &quot;visible&quot;, required: false, default: true },
            { key: &quot;matrix&quot;, required: false, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[ViewerPixi -&gt; AddNode] Invalid parameters&quot; );
        }
        else if ( _idToUrlMap[ params.id ] )
        {
            console.error( &quot;[ViewerPixi -&gt; AddNode] ID already exists&quot; );
        }
        else
        {
            //Create Inline node
            /*var matrixTransform = document.createElement( &quot;MatrixTransform&quot; );

            //Set attributes
            matrixTransform.setAttribute( &quot;id&quot;, params.id );
            matrixTransform.setAttribute( &quot;render&quot;, params.visible );

            //Set matrix attribute if available
            if ( params.matrix )
            {
                matrixTransform.setAttribute(&quot;matrix&quot;, params.matrix);
            }

            //Append it to the scene
            if ( !document.getElementById( params.parent ) )
            {
                console.error( &quot;[ViewerPixi -&gt; AddNode] Invalid parent element.&quot; );
                return;
            }
            else
            {
                document.getElementById( params.parent ).appendChild( matrixTransform );
            }
        }*/
    };

<span id='webvis-ViewerPixi-method-AddPart'>    /**
</span>     * @method AddPart
     * Add an Inline node to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} params.url
     * @param {String} [params.parent=RootElementID]
     * @param {Boolean} [params.visible=true]
     */
    this.AddPart = function ( node )
    {
        //Check parameters
        if ( false &amp;&amp; _idToUrlMap[ node.ID ] )
        {
            console.error( &quot;[ViewerPixi -&gt; AddPart] ID already exists&quot; );
        }
        else
        {
            //Dirty HACK
            if( !params.visible ) {
                params.needAddPart = true;
                _idToUrlMap[ node.ID ] = node
            }
            else
            {
                //Get the filename from url
                var filename = node.URL.substring(node.URL.lastIndexOf(&quot;/&quot;) + 1, node.URL.lastIndexOf(&quot;.&quot;));

                _idToUrlMap[ node.ID ] = _idToUrlMap[ _rootID ] + &quot;/&quot; + filename;

                var xhr = new XMLHttpRequest();

                xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);

                xhr.setRequestHeader(&quot;Content-type&quot;, &quot;text/plain&quot;);

                xhr.onload = function() {
                    if (params.matrix)
                    {
                        xhr = new XMLHttpRequest();

                        xhr.open(&quot;POST&quot;, _idToUrlMap[ node.ID ], true);

                        xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

                        xhr.send(&quot;transformation=&quot; + node.Matrix);
                    }
                };

                xhr.send(node.URL);


            }
        }
    };


<span id='webvis-ViewerPixi-method-AddMultiPart'>    /**
</span>     * @method AddMultiPart
     * Add a MultiPart node to the scene.
     * @param {Object} params
     * @param {String} params.url
     * @param {String} params.urlIdMap
     * @param {String} [params.parent=RootElement]
     * @param {Boolean} [params.visible=true]
     */
    this.AddMultiPart = function ( params )
    {

    };

<span id='webvis-ViewerPixi-method-AddMeasure'>    /**
</span>     * @method AddMeasure
     * Add a distance measuring between to points.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} [params.color=&quot;1 1 0&quot;]
     * @param {Number} [params.size=0.1]
     */
    this.AddMeasure = function ( params )
    {

    };

<span id='webvis-ViewerPixi-method-RemoveMeasure'>    /**
</span>     * @method RemoveMeasure
     * Remove a measure from the scene.
     * @param {String} id
     */
    this.RemoveMeasure = function ( id )
    {

    };


<span id='webvis-ViewerPixi-method-AddClipPlane'>    /**
</span>     * @method AddClipPlane
     * Add a Clipping plane to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} [params.cappingStrength=0.0]
     * @param {String} [params.cappingColor=&quot;1 1 1&quot;]
     * @param {webvis.Axis} [params.axis=webvis.Axis.POSITIVE_X]
     */
    this.AddClipPlane = function ( params )
    {

    };

<span id='webvis-ViewerPixi-method-RemoveClipPlane'>    /**
</span>     * @method RemoveClipPlane
     * Remove a Clipping plane from the scene.
     * @param {String} id
     */
    this.RemoveClipPlane = function ( id )
    {

    };

<span id='webvis-ViewerPixi-method-ClipPlaneAxis'>    /**
</span>     * @method ClipPlaneAxis
     * Set the Clipping plane axis.
     * @param {Object} params
     * @param {String} params.id
     * @param {webvis.Axis} params.axis
     */
    this.ClipPlaneAxis = function ( params )
    {

    };


<span id='webvis-ViewerPixi-method-ClipPlanePosition'>    /**
</span>     * @method ClipPlanePosition
     * Set the Clipping plane position.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} params.position
     */
    this.ClipPlanePosition = function ( params )
    {

    };


<span id='webvis-ViewerPixi-method-Show'>    /**
</span>     * @method Show
     * Show a part
     * @param {String} id
     */
    this.Show = function ( id )
    {
        if(id == _rootID) return;

        if(_idToUrlMap[ id ]) {

            if( _idToUrlMap[ id ].needAddPart &amp;&amp; _idToUrlMap[ id ].needAddPart == true ) {
                _idToUrlMap[ id ].needAddPart = false;
                _idToUrlMap[ id ].visible = true;
                this.AddPart(_idToUrlMap[ id ]);
            } else {

                var xhr = new XMLHttpRequest();

                xhr.open(&quot;POST&quot;, _idToUrlMap[ id ], true);

                xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

                xhr.send(&quot;enabled=1&quot;);
            }
        }
    };

<span id='webvis-ViewerPixi-method-Hide'>    /**
</span>     * @method Hide
     * Hide a part
     * @param {String} id
     */
    this.Hide = function ( id )
    {
        if(id == _rootID) return;

        if(_idToUrlMap[ id ]) {

            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ id ], true);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;enabled=0&quot;);
        }
    };

<span id='webvis-ViewerPixi-method-ShowAll'>    /**
</span>     * @method ShowAll
     * Show all parts
     */
    this.ShowAll = function ()
    {

    };

<span id='webvis-ViewerPixi-method-HideAll'>    /**
</span>     * @method HideAll
     * Hide all parts
     */
    this.HideAll = function ()
    {

    };

<span id='webvis-ViewerPixi-method-Highlight'>    /**
</span>     * @method Highlight
     * Highlight a part
     * @param {String} id
     */
    this.Highlight = function ( id )
    {
        if(_idToUrlMap[ id ]) {
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ id ], true);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;selected=1&quot;);
        }
    };

<span id='webvis-ViewerPixi-method-Unhighlight'>    /**
</span>     * @method Unhighlight
     * Unhiglight a part
     * @param {String} id
     */
    this.Unhighlight = function ( id )
    {
        if(_idToUrlMap[ id ]) {
            var xhr = new XMLHttpRequest();

            xhr.open(&quot;POST&quot;, _idToUrlMap[ id ], true);

            xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);

            xhr.send(&quot;selected=0&quot;);
        }
    };


<span id='webvis-ViewerPixi-method-Color'>    /**
</span>     * @method Color
     * Set part color
     * @param {String} id
     * @param {String} color
     */
    this.Color = function ( id, color )
    {

    };


<span id='webvis-ViewerPixi-method-Fit'>    /**
</span>     * @method Fit
     * Fits the active parts to the screen
     */
    this.Fit = function ()
    {
        var xhr = new XMLHttpRequest();

        xhr.open(&quot;POST&quot;, _idToUrlMap[ _rootID ], true);
        xhr.setRequestHeader(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded&quot;);
        xhr.send(&quot;keyEvent=97 1&quot;);
    };


<span id='webvis-ViewerPixi-method-Fit'>    /**
</span>     * @method Fit
     * Fits the active parts to the screen
     */
    this.FitPart = function ( id )
    {

    };


<span id='webvis-ViewerPixi-method-FitMeasurement'>    /**
</span>     * @method FitMeasurement
     * Fits the view to a measurement's geometry
     * @param {String} id - id of the measurement
     */
    this.FitMeasurement = function (id)
    {
        //TODO: implement
        console.log(&quot;FIT MEASUREMENT NOT IMPLEMENTED YET FOR PIXI VIEWER&quot;)
    };


<span id='webvis-ViewerPixi-method-FitAxis'>    /**
</span>     * @method FitAxis
     * Fits the active parts with given axis to the screen
     * @param {webvis.Axis} axis
     */
    this.FitAxis = function ( axis )
    {

    };


<span id='webvis-ViewerPixi-method-Screenshot'>    /**
</span>     * @method Screenshot
     * Returns a Base64 encoded png image consisting of the current rendering
     * @return {Object} Base64 encoded png image string, width and height
     * @return {String} return.url Base64 encoded png image string
     * @return {Number} return.width The width of the image
     * @return {Number} return.height The height of the image
     */
    this.Screenshot = function (callback)
    {
        var canvas = document.createElement( &quot;canvas&quot; );

        var ctx = canvas.getContext(&quot;2d&quot;);

        canvas.height = _streamedView.height;

        canvas.width = _streamedView.width;

        ctx.drawImage(_streamedView, 0, 0);

        var dataURL = canvas.toDataURL( &quot;image/png&quot; );

        canvas = null;

        callback({
            url: dataURL,
            width: _streamedView.width,
            height: _streamedView.height
        });
    };

}; //EOC</pre>
</body>
</html>
