<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The source code</title>
  <link href="../resources/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="../resources/prettify/prettify.js"></script>
  <style type="text/css">
    .highlight { display: block; background-color: #ddd; }
  </style>
  <script type="text/javascript">
    function highlight() {
      document.getElementById(location.hash.replace(/#/, "")).className = "highlight";
    }
  </script>
</head>
<body onload="prettyPrint(); highlight();">
  <pre class="prettyprint lang-js">var webvis = webvis || {};

<span id='webvis-WebVIS-method-constructor'><span id='webvis-WebVIS'>/**
</span></span> * @class webvis.WebVIS
 * @constructor
 * @author Timo Sturm &lt;timo.sturm@igd.fraunhofer.de&gt;
 * @param {Object} params
 * @param {String} params.hub
 * @param {String} [params.wrapper=body]
 * @param {webvis.Viewer} [params.preferredViewer=webvis.Viewer.X3DOM20]
 */
webvis.WebVIS = function( params )
{
//----------------------------------------------------------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------------------------------------------------------

    webvis.utils.Extend( this, new webvis.EventTarget() );

//----------------------------------------------------------------------------------------------------------------------
// Private Properties
//----------------------------------------------------------------------------------------------------------------------

    var self = this;

<span id='webvis-WebVIS-property-_version'>    /**
</span>     *
     * @type {Object}
     * @private
     */
    var _version = { major: 2, minor: 0, revision: 0, build: 0 };

<span id='webvis-WebVIS-property-_wrapperID'>    /**
</span>     *
     * @type {String}
     * @private
     */
    var _wrapperID = null;

<span id='webvis-WebVIS-property-_rootID'>    /**
</span>     * @property {String}
     * Holds the unique ID of the root assembly.
     * @private
     */
    var _rootID = null;

    var _insertMode = 0;

<span id='webvis-WebVIS-property-_hub'>    /**
</span>     *
     * @type {webvis.Hub}
     * @private
     */
    var _hub = null;


<span id='webvis-WebVIS-property-_viewer'>    /**
</span>     *
     * @type {webvis.Viewer}
     * @private
     */
    var _viewer = null;


<span id='webvis-WebVIS-property-_nodeTree'>    /**
</span>     *
     * @type {webvis.NodeTree}
     * @private
     */
    var _nodeTree = null;

    var _uriList = [];

    //TODO remove this hack
    this.getNodeTree = function()
    {
        return _nodeTree;
    };
    this.getTranscoder = function()
    {
        return _transcoder;
    };
<span id='webvis-WebVIS-property-_transcoder'>    /**
</span>     *
     * @type {webvis.Transcoder}
     * @private
     */
    var _transcoder = null;
    var _searchService = null;

//----------------------------------------------------------------------------------------------------------------------
// Constructor
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-WebVIS-method-initialize'>    /**
</span>     * @method initialize
     * TODO Description
     * @private
     */
    var initialize = function ()
    {
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;hub&quot;, required: true, default: null },
            { key: &quot;wrapper&quot;, required: false, default: null},
            { key: &quot;preferredViewer&quot;, required: false, default: webvis.Viewer.X3DOM20}
        ]);

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS] Invalid parameters&quot; );
        }
        else
        {
            //Generate unique WebVIS root id
            _rootID = &quot;WebVIS_Root_&quot; + webvis.utils.GenerateUniqueId();

            //Create WebVIS wrapper
            var wrapper = document.createElement( &quot;div&quot; );

            //Generate unique WebVIS wrapper id
            _wrapperID = &quot;WebVIS_&quot; + webvis.utils.GenerateUniqueId();

            //Set wrapper id
            wrapper.setAttribute( &quot;id&quot;, _wrapperID );
            wrapper.style.width = &quot;100%&quot;;
            wrapper.style.height = &quot;100%&quot;;

            //Append the WebVIS wrapper to the document
            if ( params.wrapper &amp;&amp; document.getElementById( params.wrapper ) )
            {
                document.getElementById( params.wrapper ).appendChild( wrapper );
            }
            else
            {
                document.body.appendChild( wrapper );
            }

            //Initialize the HUB
            _hub = webvis.utils.LoadJSON( params.hub );

            //Initialize the Transcoder
            var hubURL = self.GetHubURLFromURLParameters();
            if(hubURL)
            {
                var cutpos = hubURL.lastIndexOf(&quot;:&quot;);
                var hubPort = hubURL.substring(cutpos + 1);
                hubURL = hubURL.substring(0, cutpos);
            }
            else
            {
                hubURL = _hub.transcoder.host || (location.protocol + &quot;//&quot; + location.hostname);
            }

            _transcoder = new webvis.Transcoder( { host: hubURL, port: hubPort || _hub.transcoder.port } );

            //Initialize Search Ressource
            //_searchService = new webvis.Search( { host: _hub.transcoder.host, port: _hub.transcoder.port } );
            _searchService = new webvis.Search( { host: _hub.transcoder.host } );

            //Initialize the preferred Viewer
            initializeViewer( params.preferredViewer );

            //Initialize the NodeTree
            initializeNodeTree();

        }
    };

//----------------------------------------------------------------------------------------------------------------------
// Private Methods
//----------------------------------------------------------------------------------------------------------------------
<span id='webvis-WebVIS-method-initializeViewer16'>    /**
</span>     * @method initializeViewer16
     * TODO Description
     * @private
     */
    var initializeViewer = function ( preferredViewer )
    {
        switch ( preferredViewer )
        {
            case webvis.Viewer.PIXI:
                _viewer = new webvis.ViewerPixi( { wrapper: _wrapperID, rootID: _rootID, host: _hub.pixi.host, port: _hub.pixi.port } );
                break;
            case webvis.Viewer.X3DOM16:
                _viewer = new webvis.Viewer16( { wrapper: _wrapperID, rootID: _rootID } );
                break;
            case webvis.Viewer.X3DOM20:
                _viewer = new webvis.Viewer20( { wrapper: _wrapperID, rootID: _rootID } );
                break;
        }

        _viewer.AddEventListener(&quot;mousemove&quot;, function ( event )
        {
<span id='webvis-WebVIS-event-MOUSE_MOVE'>            /**
</span>             * @event MOUSE_MOVE
             * Fired during the mouse moves over part.
             * @param {webvis.MouseEvent} event
             */
            self.DispatchEvent( new webvis.MouseEvent( {
                type: webvis.EventType.MOUSE_MOVE,
                mouseX: event.layerX, mouseY: event.layerY,
                worldX: event.worldX, worldY: event.worldY, worldZ: event.worldZ,
                normalX: event.normalX, normalY: event.normalY, normalZ: event.normalZ,
                button: event.button,
                target: _nodeTree.Get( event.partID )
            } ) );
        } );

        _viewer.AddEventListener(&quot;mouseover&quot;, function ( event )
        {
<span id='webvis-WebVIS-event-MOUSE_OVER'>            /**
</span>             * @event MOUSE_OVER
             * Fired when the mouse enter a part.
             * @param {webvis.MouseEvent} event
             */
            self.DispatchEvent( new webvis.MouseEvent( {
                type: webvis.EventType.MOUSE_OVER,
                mouseX: event.layerX, mouseY: event.layerY,
                worldX: event.worldX, worldY: event.worldY, worldZ: event.worldZ,
                normalX: event.normalX, normalY: event.normalY, normalZ: event.normalZ,
                button: event.button,
                target: _nodeTree.Get( event.partID )
            } ) );
        } );

        _viewer.AddEventListener(&quot;mouseout&quot;, function ( event )
        {
<span id='webvis-WebVIS-event-MOUSE_OUT'>            /**
</span>             * @event MOUSE_OUT
             * Fired when the mouse leave a part.
             * @param {webvis.MouseEvent} event
             */
            self.DispatchEvent( new webvis.MouseEvent( {
                type: webvis.EventType.MOUSE_OUT,
                mouseX: event.layerX, mouseY: event.layerY,
                worldX: event.worldX, worldY: event.worldY, worldZ: event.worldZ,
                normalX: event.normalX, normalY: event.normalY, normalZ: event.normalZ,
                button: event.button,
                target: _nodeTree.Get( event.partID )
            } ) );
        } );

        _viewer.AddEventListener(&quot;click&quot;, function ( event )
        {
<span id='webvis-WebVIS-event-CLICK'>            /**
</span>             * @event CLICK
             * Fired when a part is clicked.
             * @param {webvis.MouseEvent} event
             */
            var node = _nodeTree.Get( event.partID ) || _nodeTree.GetWithURL( event.partID ) || _nodeTree.GetWithURL( event.partID.substring(0, event.partID.lastIndexOf(&quot;#&quot;)) );
            self.DispatchEvent( new webvis.MouseEvent( {
                type: webvis.EventType.CLICK,
                mouseX: event.clientX || event.layerX, mouseY: event.clientY || event.layerY,
                worldX: event.worldX, worldY: event.worldY, worldZ: event.worldZ,
                normalX: event.normalX, normalY: event.normalY, normalZ: event.normalZ,
                button: event.button,
                target: {node : node, id: event.partID}
            } ) );
        } );

        _viewer.AddEventListener(&quot;backgroundClicked&quot;, function ( event )
        {
<span id='webvis-WebVIS-event-BACKGROUND_CLICK'>            /**
</span>             * @event BACKGROUND_CLICK
             * Fired when the background is clicked.
             * @param {webvis.MouseEvent} event
             */
            self.DispatchEvent( new webvis.MouseEvent( {
                type: webvis.EventType.BACKGROUND_CLICK,
                mouseX: event.layerX, mouseY: event.layerY,
                button: event.button
            } ) );
        } );

        _viewer.AddEventListener( webvis.EventType.MEASUREMENT_CHANGED, function ( event )
        {
<span id='webvis-WebVIS-event-MEASUREMENT_CHANGED'>            /**
</span>             * @event MEASUREMENT_CHANGED
             * Fired when one of the measure points changed.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );

        _viewer.AddEventListener( webvis.EventType.MEASUREMENT_FINISHED, function ( event )
        {
<span id='webvis-WebVIS-event-MEASUREMENT_FINISHED'>            /**
</span>             * @event MEASUREMENT_FINISHED
             * Fired when the measurement is finished.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );

        _viewer.AddEventListener( webvis.EventType.CLIPPLANE_ADDED, function ( event )
        {
<span id='webvis-WebVIS-event-CLIPPLANE_ADDED'>            /**
</span>             * @event CLIPPLANE_ADDED
             * Fired when a clipplane is added
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );
    };

<span id='webvis-WebVIS-method-initializeNodeTree'>    /**
</span>     * @method initializeNodeTree
     * TODO Description
     * @private
     */
    var initializeNodeTree = function ()
    {
        _nodeTree = new webvis.NodeTree( { rootID: _rootID } );

        var rootNode = _nodeTree.Get(_rootID);

        rootNode.AddEventListener( webvis.EventType.VISIBLE_CHANGED, function ( event )
        {
            if ( event.Target.Visible == webvis.VisibleState.VISIBLE || event.Target.Visible == webvis.VisibleState.PARTIAL )
            {
                _viewer.Show( event.Target.ID );
            }
            else if( event.Target.Visible == webvis.VisibleState.INVISIBLE )
            {
                _viewer.Hide( event.Target.ID );
            }

<span id='webvis-WebVIS-event-VISIBLE_CHANGED'>            /**
</span>             * @event VISIBLE_CHANGED
             * Fired when the visibility of a part is changed.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );

        rootNode.AddEventListener( webvis.EventType.HIGHLIGHT_CHANGED, function ( event )
        {
            if ( event.Target.Highlight ) {
                _viewer.Highlight(event.Target.ID);
            }
            else {
                _viewer.Unhighlight(event.Target.ID);
            }

<span id='webvis-WebVIS-event-HIGHLIGHT_CHANGED'>            /**
</span>             * @event HIGHLIGHT_CHANGED
             * Fired when the highlight of a part is changed.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );

        rootNode.AddEventListener( webvis.EventType.COLOR_CHANGED, function ( event )
        {
            if ( event.Target.URL )
            {
                _viewer.Color( event.Target.ID, event.Target.Color );
            }

<span id='webvis-WebVIS-event-VISIBLE_CHANGED'>            /**
</span>             * @event VISIBLE_CHANGED
             * Fired when the visibility of a part is changed.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );


        //rootNode.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event )
        //{
        //    if ( event.Target.TranscoderJobState == webvis.TranscoderJobState.COMPLETE )
        //    {
        //        _viewer.AddNode( event.Target );
        //    }
        //
        //    /**
        //     * @event TRANSCODINGSTATE_CHANGED
        //     * Fired when the transcoding state of a node is changed.
        //     * @param {webvis.Event} event
        //     */
        //    self.DispatchEvent( event );
        //} );

        rootNode.AddEventListener( webvis.EventType.NODE_ADDED, function ( event )
        {
            _viewer.AddNode(event.Target);

<span id='webvis-WebVIS-event-NODE_ADDED'>            /**
</span>             * @event NODE_ADDED
             * Fired when assembly is added.
             * @param {webvis.Event} event
             */
            self.DispatchEvent( event );
        } );
    };


<span id='webvis-WebVIS-method-parseJSONTree'>    /**
</span>     * @method parseJSONTree
     * @param node
     * @param treeName
     * @param parentID
     * @param visible
     * @param baseUrl
     * @param modelUrl
     * @param geoNodeID
     * @param flatten
     * @private
     */
    var parseJSONTree = function ( node, treeName, parentID, visible, baseUrl, modelUrl, geoNodeID, flatten )
    {
        var geometryURL;
        var mimeType;
        var volume;
        var meta = (node.shape &amp;&amp; node.shape.meta) ? (node.shape.meta[&quot;&quot;] ? node.shape.meta[&quot;&quot;] : node.shape.meta) : null;
        var name = meta ? meta.pdmsName || meta.Name || meta.name || meta[&quot;__NODE_NAME&quot;] || (parentID == _rootID ? treeName : node.id) : node.id;
        name = decodeURIComponent(name);
        if(parentID == _rootID) //on root
        {
            _nodeTree._addModel( modelUrl );
        }
        if(node.data)
        {
            //Add Geometry
            var data;
            for (var d = 0; d &lt; node.data.length; d++) // search for a src
            {
                var dnode = node.data[d];
                //if(dnode.mimetype == &quot;model/x-src&quot;)
                {
                    data = dnode;
                }
            }
            if(data)
            {
                geometryURL = (baseUrl + &quot;/&quot; + decodeURIComponent(data.url)).replace(&quot;\\&quot;, &quot;/&quot;);
                mimeType = webvis.utils.DetectMimeType(geometryURL);
                //create volume
                var min = (node.shape.localAABB) ? node.shape.localAABB.min : null;
                var max = (node.shape.localAABB) ? node.shape.localAABB.max : null;

                if (min &amp;&amp; max)
                {
                    volume = new webvis.Volume({min: new webvis.Vector3(min[0], min[1], min[2]),
                        max: new webvis.Vector3(max[0], max[1], max[2])});
                }
                else
                {
                    volume = new webvis.Volume();
                }
                geoNodeID = name;
            }
        }

        var added = ( !flatten ||  ( !parentID || node.children.length &gt; 1 || geometryURL || ( node.shape.transform &amp;&amp; node.shape.transform.local ) ));

        if( added )
        {
            var id = _nodeTree.Get(name) ? webvis.utils.GenerateUniqueId() : name;
            addNode({
                id: id,
                name: name,
                localID: node.id,
                modelUrl: modelUrl,
                url: geometryURL,
                mimeType: mimeType,
                parentID: parentID,
                meta: meta,
                visible: false/*(node.mask &amp;&amp; node.mask.visible) ? node.mask.visible : visible*/,
                matrix: (node.shape &amp;&amp; node.shape.transform)? node.shape.transform.local : null,
                volume: volume,
                geoNodeID: geoNodeID
            }, false);
        }


        //traverse children
        if ( node.children != null &amp;&amp; node.children.length &gt; 0 )
        {
            for ( var c = 0; c &lt; node.children.length; c++ )
            {
                parseJSONTree( node.children[ c ], treeName, added ? id : parentID, visible, baseUrl, modelUrl, geoNodeID, flatten);
            }
        }
    };

<span id='webvis-WebVIS-method-addNode'>    /**
</span>     * @method addNode
     * Add a new assembly to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} params.name
     * @param {String} params.mimeType
     * @param {String} params.parent
     * @param {Boolean} params.visible
     * @param {String} params.matrix
     * @param {webvis.MetaData[]} [params.meta=null]
     * @private
     */
    var addNode = function ( params, checkVisibility )
    {
        //Check if the node needs transcoding
        params.needTranscoding = webvis.utils.needTranscoding( params.mimeType, _viewer.SupportedMimeTypes );


        if ( params.needTranscoding )
        {
            var job = new webvis.TranscoderJob( {
                id: params.id,
                jobType: webvis.TranscoderJobType.SECURECOMMANDBATCH,
                resource: params.url,
                commands: [&quot;aopt -i \&quot;&quot; + params.url + &quot;\&quot;:lod(1) -F Scene:alphaGeometry(true),cacheopt(true) -Y nodeType(Scene),collapseGraph(true),sharedSRCs(true),encodingPreset(CMP1) &quot;],
                //commands: [&quot;aopt -i \&quot;&quot; + params.url + &quot;\&quot;:lod(1) -F Scene:alphaGeometry(true),cacheOpt(true),mostUsedMaterial(true) -Y nodeType(Scene),collapseGraph(true),sharedSRCs(true),encodingPreset(CMP1) &quot;],
                replyType: webvis.ReplyType.PATH,
                env : [ [&quot;JTK_LAYER_FILTERS&quot;, &quot;DEFAULT&quot;] ],
                filename: &quot;src0.src&quot;,
                urlOnly: true
            } );

            job._callback = function () {
                job.ReplyLocation = this.responseText;
                job.CheckStatus();
                _transcoder.AddJob(job);
            };

            job.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {
                var node = _nodeTree.Get( event.Target.ID );

                if ( event.Target.State == webvis.TranscoderJobState.CLOSED ) {
                    node.URL = event.Target.Reply;
                    _viewer.updateNodeUrl(node);
                }

                node.TranscodingState = event.Target.State;
            } );

            _transcoder.AddToBatch( job );

            params.url = &quot;dummy&quot;;
            _nodeTree.AddNode( params, checkVisibility );

        }
        else
        {
            //Add Part to the assembly tree
            params.url = params.url || null;
            _nodeTree.AddNode( params, checkVisibility );
        }
    };


//----------------------------------------------------------------------------------------------------------------------
// Public Properties
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-WebVIS-property-RenderMode'>    /**
</span>     * @property RenderMode
     * Get or set the render mode.
     * @type {webvis.RenderMode}
     */
    Object.defineProperty( this, &quot;RenderMode&quot;, {
        get: function () {
            return _viewer.RenderMode;
        },
        set: function ( val ) {
            _viewer.RenderMode = val;
        }
    });


<span id='webvis-WebVIS-property-ExplorationMode'>    /**
</span>     * @property ExplorationMode
     * Get or set the exploration mode.
     * @type {webvis.ExplorationMode}
     */
    Object.defineProperty( this, &quot;ExplorationMode&quot;, {
        get: function () {
            return _viewer.ExplorationMode;
        },
        set: function ( val ) {
            _viewer.ExplorationMode = val;
        }
    });

<span id='webvis-WebVIS-property-FrustumCulling'>    /**
</span>     * @property FrustumCulling
     * Get or set the frustum culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;FrustumCulling&quot;, {
        get: function () {
            return _viewer.FrustumCulling;
        },
        set: function ( val ) {
            _viewer.FrustumCulling = val;
        }
    });


<span id='webvis-WebVIS-property-SmallFeatureCulling'>    /**
</span>     * @property SmallFeatureCulling
     * Get or set the small feature culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;SmallFeatureCulling&quot;, {
        get: function () {
            return _viewer.SmallFeatureCulling;
        },
        set: function ( val ) {
            _viewer.SmallFeatureCulling = val;
        }
    });

<span id='webvis-WebVIS-property-SmallFeatureThreshold'>    /**
</span>     * @property SmallFeatureThreshold
     * Get or set the small feature threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;SmallFeatureThreshold&quot;, {
        get: function () {
            return _viewer.SmallFeatureThreshold;
        },
        set: function ( val ) {
            _viewer.SmallFeatureThreshold = val;
        }
    });

<span id='webvis-WebVIS-property-LowPriorityCulling'>    /**
</span>     * @property LowPriorityCulling
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;LowPriorityCulling&quot;, {
        get: function () {
            return _viewer.LowPriorityCulling;
        },
        set: function ( val ) {
            _viewer.LowPriorityCulling = val;
        }
    });

<span id='webvis-WebVIS-property-LowPriorityThreshold'>    /**
</span>     * @property LowPriorityThreshold
     * Get or set the low priority threshold.
     * @type {Number}
     */
    Object.defineProperty( this, &quot;LowPriorityThreshold&quot;, {
        get: function () {
            return _viewer.LowPriorityThreshold;
        },
        set: function ( val ) {
            _viewer.LowPriorityThreshold = val;
        }
    });


<span id='webvis-WebVIS-property-AdaptiveRenderControl'>    /**
</span>     * @property AdaptiveRenderControl
     * Get or set the low priority culling.
     * @type {Boolean}
     */
    Object.defineProperty( this, &quot;AdaptiveRenderControl&quot;, {
        get: function () {
            return _viewer.AdaptiveRenderControl;
        },
        set: function ( val ) {
            _viewer.AdaptiveRenderControl = val;
        }
    });


<span id='webvis-WebVIS-property-OptimizationMode'>    /**
</span>     * @property OptimizationMode
     * Get or set the transcoder optimization mode.
     * @type {webvis.OptimizationMode}
     */
    Object.defineProperty( this, &quot;OptimizationMode&quot;, {
        get: function () {
            return _transcoder.OptimizationMode;
        },
        set: function ( val ) {
            _transcoder.OptimizationMode = val;
        }
    });

<span id='webvis-WebVIS-property-InteractionMode'>    /**
</span>     * @property InteractionMode
     * Get the active interaction mode..
     * @type {webvis.InteractionMode}
     * @readonly
     */
    Object.defineProperty( this, &quot;InteractionMode&quot;, {
        get: function () {
            return _viewer.InteractionMode;
        },
        set: function () {
            console.error( &quot;[Viewer16] InteractionMode is read only&quot;);
        }
    });

//----------------------------------------------------------------------------------------------------------------------
// Public Methods
//----------------------------------------------------------------------------------------------------------------------

<span id='webvis-WebVIS-method-Add'>    /**
</span>     * @method Add
     * Add a part or an assembly to the scene.
     * @param {Object} params
     * @param {String} [params.id=UUID]
     * @param {String} [params.name=id]
     * @param {String} [params.url=null]
     * @param {String} [params.parent=root]
     * @param {Boolean} [params.visible=true]
     * @param {String} [params.meta=null]
     * @param {String} [params.matrix=null]
     * @param {String} [params.mimeType=auto]
     */
    this.Add = function ( params )
    {
        var merge = false;
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: false, default: webvis.utils.GenerateUniqueId() },
            { key: &quot;url&quot;, required: false, default: null },
            { key: &quot;mimeType&quot;, required: false, default: webvis.utils.DetectMimeType( params.url ) },
            { key: &quot;name&quot;, required: false, default: params.id },
            { key: &quot;parentID&quot;, required: false, default: _rootID },
            { key: &quot;meta&quot;, required: false, default: null },
            { key: &quot;visible&quot;, required: false, default: true },
            { key: &quot;matrix&quot;, required: false, default: null },
            { key: &quot;volume&quot;, required: false, default: null },
            { key: &quot;geoNodeID&quot;, required: false, default: null },
            { key: &quot;flatten&quot;, required: false, default: false }
        ] );

        //Check if it's a AssemblyTree, Assembly or Part
        if ( !params.url ) //ASSEMBLY
        {
            addNode( params, true );
        }
        else //ASSEMBLYTREE OT PART
        {
            var baseUrl, json;

            if ( params.mimeType == webvis.MimeType.PLMXML || params.mimeType == webvis.MimeType.RVM  || params.mimeType == webvis.MimeType.X3D ||
                 params.mimeType == webvis.MimeType.JSON || params.mimeType == webvis.MimeType.HSI || params.mimeType == webvis.MimeType.X3DB) //ASSEMBLYTREE
            {
                //Check if transcoding is needed
                if ( params.mimeType != webvis.MimeType.HSI &amp;&amp; params.mimeType != webvis.MimeType.JSON )
                {
                    var job;

                    if ( params.mimeType == webvis.MimeType.PLMXML || params.mimeType == webvis.MimeType.X3D || params.mimeType == webvis.MimeType.X3DB )
                    {
                        //Create a transcoder job to create a default HSI tree

                        job = new webvis.TranscoderJob( {
                            id: params.id,
                            jobType: webvis.TranscoderJobType.SECURECOMMANDBATCH,
                            resource: params.url,
                            commands: merge?
                                [&quot;aopt -i \&quot;&quot; +  params.url + '\&quot; -F StaticGroup:oneGeometry(1),idmapInRoot(1):addAsChild -x opt.x3d -Y nodeType(StaticGroup),encodingPreset(CMP1),collapseGraph(true),tagParentGroups(true) -W ' + params.name + '.hsi:onlyDEFedNodes(true)']
                                : [&quot;aopt -i \&quot;&quot; +  params.url + &quot;\&quot; -W \&quot;&quot; + params.name + &quot;.hsi\&quot;&quot;],
                            replyType: webvis.ReplyType.PATH,
                            filename: params.name + &quot;.hsi&quot;
                        } );
                        job._callback = function () {
                            job.ReplyLocation = this.responseText;
                            job.CheckStatus();
                            _transcoder.AddJob(job);
                        };
                        //job = new webvis.TranscoderJob( {
                        //    id: params.id,
                        //    jobType: webvis.TranscoderJobType.CLASSIC,
                        //    resource: params.url,
                        //    replyType: webvis.ReplyType.RESULT,
                        //    deliveryFormat: webvis.DeliveryFormat.HSI,
                        //    conversionMode: webvis.ConversionMode.SRC_GEOMETRY
                        //} );

                        //Add the transcodingStateChanged event listener
                        job.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {

                            if ( event.Target.State == webvis.TranscoderJobState.CLOSED )
                            {
                                //Load the JSON file
                                json = JSON.parse(event.Target.Reply);

                                //Get BaseURL
                                baseUrl = merge?
                                    event.Target.ReplyLocation
                                    : params.url.substring(0, params.url.lastIndexOf(&quot;/&quot;));

                                //If JSON file is valid parse it
                                if (json) {
                                    parseJSONTree( json, params.name, params.parentID, params.visible, baseUrl, params.url, null, params.flatten );
                                    _transcoder.SendBatch();
                                }
                                self.DispatchEvent(webvis.EventType.LOAD);
                            }
                        } );
                        //job.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {
                        //
                        //    if ( event.Target.State == webvis.TranscoderJobState.CLOSED )
                        //    {
                        //        //Load the JSON file
                        //        json = JSON.parse(event.Target.Reply);
                        //
                        //        //Get BaseURL
                        //        baseUrl = job.ReplyLocation.substring(0, job.ReplyLocation.lastIndexOf(&quot;/&quot;));
                        //
                        //        //If JSON file is valid parse it
                        //        if (json) {
                        //            parseJSONTree( json, params.name, params.parentID, params.visible, baseUrl, params.url, null, params.flatten );
                        //            self.DispatchEvent(webvis.EventType.LOAD);
                        //        }
                        //    }
                        //} );

                        //Add the job

                        _transcoder.AddJob( job );
                        _transcoder.executeJob();
                        return params.id;
                    }
                    else if ( params.mimeType == webvis.MimeType.RVM )
                    {
                        //Create a transcoder job to create a custom HSI tree
                        job = new webvis.TranscoderJob( {
                            id: params.id,
                            jobType: webvis.TranscoderJobType.SECURECOMMANDBATCH,
                            resource: params.url,
                            commands: ['aopt -i ' + params.url + ':staticGroupsDepth(3) -F StaticGroup:&quot;oneGeometry(1),idmapInRoot(1)&quot;:addAsChild -Y &quot;nodeType(StaticGroup),encodingPreset(CMP1),collapseGraph(true),tagParentGroups(true)&quot; -W ' + params.name + '.hsi:onlyDEFedNodes(true)'],
                            //commands: ['aopt -i ' + params.url + ' -Y &quot;nodeType(Shape),encodingPreset(CMP1)&quot; -W ' + params.name + '.hsi:onlyDEFedNodes(true)'],
                            replyType: webvis.ReplyType.PATH,
                            filename: params.name + &quot;.hsi&quot;
                        } );

                        job._callback = function () {
                            job.ReplyLocation = this.responseText;
                            job.CheckStatus();
                            _transcoder.AddJob(job);
                        };

                        //Add the transcodingStateChanged event listener
                        job.AddEventListener( webvis.EventType.TRANSCODINGSTATE_CHANGED, function ( event ) {
                            if ( event.Target.State == webvis.TranscoderJobState.CLOSED )
                            {
                                //Load the JSON file
                                json = JSON.parse(event.Target.Reply);

                                //Get BaseURL
                                baseUrl = event.Target.ReplyLocation;

                                //If JSON file is valid parse it
                                if (json) {
                                    parseJSONTree( json, params.name, params.parentID, params.visible, baseUrl, params.url, null, params.flatten );
                                    self.DispatchEvent(webvis.EventType.LOAD);
                                }
                            }
                        } );

                        //Add the job
                        _transcoder.AddJob( job );
                        _transcoder.executeJob();
                        return params.id;
                    }
                }
                else
                {
                    //Load the HSI file
                    json = webvis.utils.LoadJSON( params.url );

                    //Get BaseURL
                    baseUrl = params.url.substring( 0, params.url.lastIndexOf( &quot;/&quot; ) );

                    //If X3D file is valid parse it and add it to the tree
                    if ( json ) {
                        parseJSONTree( json, params.name, params.parentID, params.visible, baseUrl, params.url, null, params.flatten );
                        _transcoder.SendBatch();
                    }
                    self.DispatchEvent(webvis.EventType.LOAD);
                }
            }
            else //PART
            {
                addNode( params, true );
            }
        }

        _transcoder.SendBatch();
        self.DispatchEvent( webvis.EventType.LOAD );

        return params.id;
    };


<span id='webvis-WebVIS-method-AddPart'>    /**
</span>     * @method AddPart
     * Add a part to the scene.
     * @param {Object} params
     * @param {String} [params.id=UUID]
     * @param {String} [params.name=id]
     * @param {String} [params.url=null]
     * @param {String} [params.parent=root]
     * @param {Boolean} [params.visible=true]
     * @param {String} [params.meta=null]
     * @param {String} [params.matrix=null]
     * @param {String} [params.mimeType=auto]
     * @deprecated
     */
    this.AddPart = function ( params )
    {
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;url&quot;, required: true, default: null },
            { key: &quot;mimeType&quot;, required: false, default: null },
            { key: &quot;name&quot;, required: false, default: params.id },
            { key: &quot;parentID&quot;, required: false, default: _rootID },
            { key: &quot;meta&quot;, required: false, default: null },
            { key: &quot;visible&quot;, required: false, default: true },
            { key: &quot;matrix&quot;, required: false, default: null },
            { key: &quot;volume&quot;, required: false, default: null },
            { key: &quot;geoNodeID&quot;, required: false, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; AddPart] Invalid parameters&quot; );
            return;
        }

        addNode( params, true );
    };

<span id='webvis-WebVIS-method-AddAssembly'>    /**
</span>     * @method AddAssembly
     * Add an assembly to the scene.
     * @param {Object} params
     * @param {String} [params.id=UUID]
     * @param {String} [params.name=id]
     * @param {String} [params.url=null]
     * @param {String} [params.parent=root]
     * @param {Boolean} [params.visible=true]
     * @param {String} [params.meta=null]
     * @param {String} [params.matrix=null]
     * @param {String} [params.mimeType=auto]
     * @deprecated
     */
    this.AddAssembly = function ( params )
    {
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;url&quot;, required: false, default: null },
            { key: &quot;mimeType&quot;, required: false, default: null },
            { key: &quot;name&quot;, required: false, default: params.id },
            { key: &quot;parentID&quot;, required: false, default: _rootID },
            { key: &quot;meta&quot;, required: false, default: null },
            { key: &quot;visible&quot;, required: false, default: true },
            { key: &quot;matrix&quot;, required: false, default: null },
            { key: &quot;volume&quot;, required: false, default: null },
            { key: &quot;geoNodeID&quot;, required: false, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; AddAssembly] Invalid parameters&quot; );
            return;
        }

        addNode( params, true );
    };
    
<span id='webvis-WebVIS-method-AddTree'>    /**
</span>     * @method AddTree
     * Add an assembly tree to the scene.
     * @param {Object} params
     * @param {String} [params.id=UUID]
     * @param {String} [params.name=id]
     * @param {String} [params.url=null]
     * @param {String} [params.parent=root]
     * @param {Boolean} [params.visible=true]
     * @param {String} [params.meta=null]
     * @param {String} [params.matrix=null]
     * @param {String} [params.mimeType=auto]
     * @deprecated
     */
    this.AddTree = function ( params, flatten )
    {
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;url&quot;, required: true, default: null },
            { key: &quot;mimeType&quot;, required: false, default: null },
            { key: &quot;name&quot;, required: false, default: params.id },
            { key: &quot;parentID&quot;, required: false, default: _rootID },
            { key: &quot;meta&quot;, required: false, default: null },
            { key: &quot;visible&quot;, required: false, default: true },
            { key: &quot;matrix&quot;, required: false, default: null },
            { key: &quot;volume&quot;, required: false, default: null },
            { key: &quot;geoNodeID&quot;, required: false, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; AddTree] Invalid parameters&quot; );
            return;
        }

        //If there is no mime type, try to auto detect it
        if ( ! params.mimeType )
        {
            params.mimeType = webvis.utils.DetectMimeType( params.url );
        }
        //TODO check for parse capabilities or transcode
        if ( params.mimeType == webvis.MimeType.JSONTREE || params.mimeType == webvis.MimeType.JSON )
        {
            //Load the X3D file
            var json    = webvis.utils.LoadJSON( params.url );
            var baseUrl = params.url.substring(0, params.url.lastIndexOf(&quot;/&quot;));

            //If X3D file is valid parse it and add it to the tree
            if ( json )
            {
                parseJSONTree( json, params.name, params.parentID, params.visible, baseUrl, params.url, null, flatten );
                self.DispatchEvent( webvis.EventType.LOAD );
            }
            //TODO  add error handling

        }
        else
        {
            console.error( &quot;[WebVIS -&gt; AddAssemblyTree] Unsupported mime type&quot; );
        }
    };


<span id='webvis-WebVIS-method-SearchTree'>    /**
</span>     * @method SearchTree
     * Search for Name in Database
     * @param {String} searchString
     * @param callback {function}
     */
    this.SearchTree = function (searchString, callback)
    {
        var result = {};
        var query_counter = 0;
        _uriList = _nodeTree.GetModels();
        var element_counter = 0;

        var hasResults = false;
        var nodeArray = [];

        var nodeObj = {};

        if(searchString.length &gt; 0)
        {
            for(var i=0; i &lt; _uriList.length; i++)
            {
                (function(index){
                    _searchService.SearchName(encodeURIComponent(searchString), _uriList[index], function(uri, data)
                    {
                        if(!uri)
                        {
                            ++query_counter;
                            return;
                        }
                        result[uri] = data;
                        element_counter += data.length;

                        for(var model in result){
                            var resultObj = result[model];
                            for(var j in resultObj){
                                var node = _nodeTree.GetFromModel(resultObj[j]['id'], uri);
                                if(node != null)
                                {
                                    nodeObj[node.ID] = true;
                                }
                            }
                        }

                        if( ++query_counter == ( _uriList.length ) )
                        {
                            callback(nodeObj, element_counter);
                        }
                    } );
                })(i)
            }
        } else
        {
            callback([]);
        }

    };

<span id='webvis-WebVIS-method-CalcCenterOfRotation'>    /**
</span>     * @method CalcCenterOfRotation
     * Return Status of Search Service
     * @param callback {function}
     */
    this.CalcCenterOfRotation = function ()
    {
       _viewer.CalcCenterOfRotation();
    }

<span id='webvis-WebVIS-method-CheckSearchAvailiability'>    /**
</span>     * @method CheckSearchAvailiability
     * Return Status of Search Service
     * @param callback {function}
     */
    this.CheckSearchAvailiability = function (callback)
    {
       _searchService.DatabaseStatus(function(status)
       {
           callback(status);
       });
    }






<span id='webvis-WebVIS-method-AddMeasure'>    /**
</span>     * @method AddMeasure
     * Add a measure to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {String} [params.Color=&quot;0 1 0&quot;]
     * @param {Number} [params.size=0.1]
     */
    this.AddMeasure = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;color&quot;, required: false, default: &quot;0 1 0&quot; },
            { key: &quot;size&quot;, required: false, default: 0.1 }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; AddMeasure] Invalid parameters&quot; );
        }
        else
        {
            _viewer.AddMeasure( params );
        }
    };

<span id='webvis-WebVIS-method-RemoveMeasure'>    /**
</span>     * @method RemoveMeasure
     * Remove a measure from the scene.
     * @param {String} id
     */
    this.RemoveMeasure = function ( id )
    {
        if ( !id )
        {
            console.error( &quot;[WebVIS -&gt; RemoveMeasure] Invalid parameters&quot; );
        }
        else
        {
            _viewer.RemoveMeasure( id );
        }
    };

<span id='webvis-WebVIS-method-AddClipPlane'>    /**
</span>     * @method AddClipPlane
     * Add a Clipping plane to the scene.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} [params.cappingStrength=0.0]
     * @param {String} [params.cappingColor=&quot;1 1 1&quot;]
     * @param {webvis.Axis} [params.axis=webvis.Axis.POSITIVE_X]
     */
    this.AddClipPlane = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;cappingStrength&quot;, required: false, default: 0.0 },
            { key: &quot;cappingColor&quot;, required: false, default: &quot;1 1 1&quot; },
            { key: &quot;axis&quot;, required: false, default: webvis.Axis.POSITIVE_X }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; AddClipPlane] Invalid parameters&quot; );
        }
        else
        {
            _viewer.AddClipPlane( params );
        }
    };

<span id='webvis-WebVIS-method-RemoveClipPlane'>    /**
</span>     * @method RemoveClipPlane
     * Remove a Clipping plane from the scene.
     * @param {String} id
     */
    this.RemoveClipPlane = function ( id )
    {
        if ( !id )
        {
            console.error( &quot;[WebVIS -&gt; RemoveClipPlane] Invalid parameters&quot; );
        }
        else
        {
            _viewer.RemoveClipPlane( id );
        }
    };

<span id='webvis-WebVIS-method-ClipPlaneAxis'>    /**
</span>     * @method ClipPlaneAxis
     * Set the Clipping plane axis.
     * @param {Object} params
     * @param {String} params.id
     * @param {webvis.Axis} params.axis
     */
    this.ClipPlaneAxis = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;axis&quot;, required: true, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; ClipPlaneAxis] Invalid parameters&quot; );
        }
        else
        {
            _viewer.ClipPlaneAxis( params );
        }
    };

<span id='webvis-WebVIS-method-ClipPlanePosition'>    /**
</span>     * @method ClipPlanePosition
     * Set the Clipping plane position.
     * @param {Object} params
     * @param {String} params.id
     * @param {Number} params.position
     */
    this.ClipPlanePosition = function ( params )
    {
        //Check parameters
        params = webvis.utils.CheckParameters( params, [
            { key: &quot;id&quot;, required: true, default: null },
            { key: &quot;position&quot;, required: true, default: null }
        ] );

        if ( !params.valid )
        {
            console.error( &quot;[WebVIS -&gt; ClipPlanePosition] Invalid parameters&quot; );
        }
        else
        {
            _viewer.ClipPlanePosition( params );
        }
    };


<span id='webvis-WebVIS-method-Hide'>    /**
</span>     * @method Hide
     * Hide a part or a assembly
     * @param {String} id
     */
    this.Hide = function ( id )
    {
        _nodeTree.Hide( id );
    };


<span id='webvis-WebVIS-method-Show'>    /**
</span>     * @method Show
     * Show a part or a assembly
     * @param {String} id
     */
    this.Show = function ( id )
    {
        _nodeTree.Show( id );
    };


<span id='webvis-WebVIS-method-FitMeasurement'>    /**
</span>     * @method FitMeasurement
     * Fit the view to a measurement geometry
     * @param {String} id
     */
    this.FitMeasurement = function ( id )
    {
        _viewer.FitMeasurement( id );
    };


<span id='webvis-WebVIS-method-ShowAll'>    /**
</span>     * @method ShowAll
     * Show all parts and assemblys
     */
    this.ShowAll = function ()
    {
        _nodeTree.ShowAll();
    };


<span id='webvis-WebVIS-method-HideAll'>    /**
</span>     * @method HideAll
     * Hide all parts and assemblys
     */
    this.HideAll = function ()
    {
        _nodeTree.HideAll();
    };


<span id='webvis-WebVIS-method-HideOpposite'>    /**
</span>     * @method HideOpposite
     * Hide all opposite parts and assemblys
     * @param {String} id
     */
    this.HideOpposite = function ( id )
    {
        _nodeTree.HideOpposite( id );
    };


<span id='webvis-WebVIS-method-Color'>    /**
</span>     * @method Color
     * Set the color of a assembly or part
     * @param {String} id
     * @param {String} color
     */
    this.Color = function ( id, color )
    {
        _nodeTree.Color( id, color );
        //_viewer.Color( id, color );
    };


<span id='webvis-WebVIS-method-Highlight'>    /**
</span>     * @method Highlight
     * Highlight a part or a assembly
     * @param {String} id
     */
    this.Highlight = function ( id )
    {
        //check if the id was found inside the node tree
        //if not, it might be a viewer- / renderer-specific ID fetched from picking, so directly notify the viewer
        //TODO: cleanup
        if (!_nodeTree.Highlight( id ))
        {
            _viewer.Highlight(id);
        }
    };


<span id='webvis-WebVIS-method-Unhighlight'>    /**
</span>     * @method Unhighlight
     * Unhighlight a part or a assembly
     * @param {String} id
     */
    this.Unhighlight = function ( id )
    {
        if (!_nodeTree.Unhighlight( id ))
        {
            _viewer.Unhighlight(id);
        }
        _viewer.Unhighlight( id );
    };

<span id='webvis-WebVIS-method-HighlightMeasure'>    /**
</span>     * @method HighlightMeasure
     * Highlight a measurement indicator
     * @param {String} id
     */
    this.HighlightMeasure = function ( id )
    {
        _viewer.Highlight( id );
    };


<span id='webvis-WebVIS-method-UnhighlightMeasure'>    /**
</span>     * @method UnhighlightMeasure
     * Unhighlight a part or a assembly
     * @param {String} id
     */
    this.UnhighlightMeasure = function ( id )
    {
        _viewer.Unhighlight( id );
    };

<span id='webvis-WebVIS-method-Fit'>    /**
</span>     * @method Fit
     * Fits the active parts to the screen without changing the orientation
     */
    this.Fit = function ()
    {
        _viewer.Fit();
    };


<span id='webvis-WebVIS-method-FitAxis'>    /**
</span>     * @method FitAxis
     * Fits the active parts with given axis to the screen
     * @param {webvis.Axis} axis
     */
    this.FitAxis = function ( axis )
    {
        _viewer.FitAxis( axis );
    };

<span id='webvis-WebVIS-method-FitPart'>    /**
</span>     * @method FitPart
     * Fits a single Part to the screen
     * @param {String} id
     */
    this.FitPart = function ( id )
    {
        _viewer.FitPart( id );
    };

<span id='webvis-WebVIS-method-Screenshot'>     /**
</span>     * @method Screenshot
     * Triggers a screenshot to be taken by the viewer
     * @param callback {function} the callback to handle the screenshot
     */
    this.Screenshot = function (callback)
    {
        _viewer.Screenshot(callback);
    };


<span id='webvis-WebVIS-method-GetContentURLFromURLParameters'>    /**
</span>     * @method GetContentURLFromURLParameters
     * Searches the URL parameters of this page for a contentURL parameter, and returns the result.
     * If no content URL is found, an empty string is returned.
     *
     * Note: The content URL can be specified as part of the HTML URL, using the contentURL key.
     * Example URL: .../WebVIS.html?contentURL=data%2Fmodels%2FMyModel%2Ftree.json
     * @return {string} The content URL.
     */
    this.GetContentURLFromURLParameters = function()
    {
        var contentURL = webvis.utils.GetURLParamValue( &quot;contentURL&quot; );

        if ( contentURL )
        {
            return contentURL;
        }
        else
        {
            return &quot;&quot;;
        }
    };


<span id='webvis-WebVIS-method-GetHubURLFromURLParameters'>    /**
</span>     * @method GetHubURLFromURLParameters
     * Searches the URL parameters of this page for a hubURL parameter, and returns the result.
     * If no hub URL is found, an empty string is returned.
     *
     * Note: The hub URL can be specified as part of the HTML URL, using the hubURL key.
     * Example URL: .../WebVIS.html?hubURL=http%3A%2F%2Fgpucloud08%3A8080
     * @return {string} The content URL.
     */
    this.GetHubURLFromURLParameters = function()
    {
        var hubURL = webvis.utils.GetURLParamValue( &quot;hubURL&quot; );

        if ( hubURL )
        {
            return hubURL;
        }
        else
        {
            return &quot;&quot;;
        }
    };

<span id='webvis-WebVIS-method-AddSnapshot'>    /**
</span>     * @method AddSnapshot
     * Returns a Base64 encoded png image consisting of the current rendering
     * @param {String} id
     */
    this.AddSnapshot = function ( id ) {
        _nodeTree.AddSnapshot( id );
        _viewer.AddSnapshot( id );
    };

<span id='webvis-WebVIS-method-ApplySnapshot'>    /**
</span>     * @method ApplySnapshot
     * Apply a snapshot with the given id.
     * @param {String} id
     */
    this.ApplySnapshot = function ( id ) {
        _nodeTree.ApplySnapshot( id );
        _viewer.ApplySnapshot( id );
    };

<span id='webvis-WebVIS-method-RemoveSnapshot'>    /**
</span>     * @method RemoveSnapshot
     * Remove a snapshot with the given id.
     * @param {String} id
     */
    this.RemoveSnapshot = function ( id ) {
        _nodeTree.RemoveSnapshot( id );
        _viewer.RemoveSnapshot( id );
    };

<span id='webvis-WebVIS-method-CreateClipPlanes'>    /**
</span>     * @method CreateClipPlanes
     * Create six clipplanes from the bounding box of the given node
     * @param {String} id
     */
    this.CreateClipPlanes = function ( id ) {
        _viewer.CreateClipPlanes(id);
    };


//----------------------------------------------------------------------------------------------------------------------
// Execute Constructor
//----------------------------------------------------------------------------------------------------------------------

    initialize();
};</pre>
</body>
</html>
