<!DOCTYPE html>
<html>
<head><title>mcweb file upload</title></head>
<body style="margin-left:auto;margin-right:auto;width:600px;">
<h3>mcweb file upload</h3>
<p>{{ message }}</p>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <table>
            <tr><td><label for=password>Password:</label></td>
            <td><input type="password" name="password" value="{{ password }}"></td></tr>

            <tr><td><div style="height:15px;"></div></td></tr>

            <tr><td><label>File:</label></td>
            <td><input type="file" name="up_file"></td></tr>

            <tr><td><label>Select group dir:</label></td>
            <td><select name="groupdir">
                {% for d in groupdirs %}
                <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
            </select></td></tr>
            <tr><td><label>OR create a new group dir:</label></td>
            <td><input type="text" name="new_group"></td></tr>
        </table>
    </fieldset>
    <fieldset style="margin:5px;">
        <table>
            <tr><td colspan="2"><em>NOTE:</em> The folder "datafiles" is not for instrument files. It is reserved for "extra" files required by some instruments. If your instrument requires extra files to run, put them in this folder. Also, please be aware that any files with matching names and group dir will be silently overwritten.</td></tr>

            <tr><td colspan="2" style="text-align:right;"><input type="submit" value="Upload" style="margin-right:20px;"></td></tr>
        </table>
    </fieldset>
</form>
</body>
</html>
