<!DOCTYPE html>
<head><title></title><script src='https://www.google.com/recaptcha/api.js'></script></head>
<body>
    <div class="g-recaptcha" data-sitekey="6LchGBUTAAAAAIMqKpBHZ4qWEGBdKxPT9rFd5yZW"></div>
    <p>{{ message }}</p>

    <form action="/contact/" method="POST">
        <table style="width:500px">
            <tr><td><label>Your email address:</label></td></tr>
            <tr><td><input type="text" name="replyto" cols="100" style="width:300px"></td></tr>
            <tr><td><label>Message to e-neutrons.org:</label></td></tr>
            <tr><td><textarea name="text" rows="30" cols="100"></textarea></td></tr>
            <tr><td style="text-align:right"><input type="submit" value="Send" style="width:100px;"></td></tr>
        </table>
    </form>
</body>
