<!DOCTYPE html>
<head><title>admin@pan-learning.org contact form</title>
</head>
<body style="background-color:#6472ae">
<center>
<table style="width:75%" bgcolor="#FFFFFF">
<tr><td>
  <a href="https://e-neutrons.esss.dk" target=_blank><img src="/static/PaNOSClogo_web_RGB_50px_high.jpeg" height=40></a>
  <a href="http://mcstas.org" target=_blank><img src="/static/mcstas_60x50.png" height=40></a>
  <a href="http://mcxtrace.org" target=_blank><img src="/static/mcxtrace_80x50.png" height=40></a>

<h1>admin@pan-learning.org contact form:</h1>

    <p>{{ message }}</p>

    <form action="/contact/" method="POST">
        <table style="width:500px">
            <tr><td><label>Your email address:</label></td></tr>
            <tr><td><input type="text" name="replyto" cols="100" style="width:300px"></td></tr>
            <tr><td><label>Message to admin@pan-learning.org:</label></td></tr>
            <tr><td><textarea name="text" rows="20" cols="80"></textarea></td></tr>
            <tr><td style="text-align:right"><input type="submit" value="Send" style="width:100px;"></td></tr>
        </table>
    </form>
</td>
</table
</center>
</body>
