{% extends 'man_base.html' %}
{% block content %}

<div style="margin-left:auto;margin-right:auto;width:600px;">
<form id="frm_course" enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}
    <fieldset style="margin:5px;">
        <legend>Select course template</legend>
        <table>
            <tr>
                <td style="text-align:center;" colspan="2">
                    <select name="tmpl_selector">
                        <option>-- select from the list below --</option>
                        {% for t in templates %}
                        <option value="{{ t }}" name="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset style="margin:5px;">
        <legend>Course info</legend>
        <table>
            <tr>
                <td style="text-align:left; width: 500px;"><label>Site</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_site" name="tbx_site" onkeyup="update_sn();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Shortname input</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_sn" name="tbx_sn" onkeyup="update_sn();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"></td>
                <td style="text-align:left;"><input type="checkbox" id="cbx_override" name="cbx_override" onchange="update_sn();"/>override sn (!)</td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>-></label></td>
                <td style="text-align:left;"><label id="lbl_sngen"></label></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Course title</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_title"/></td>
            </tr>
        </table>
        <input type="hidden" id="field_shortname" name="field_shortname"/>
    </fieldset>

    <fieldset style="margin:5px;">
        <legend>Assign teacher</legend>
        <table>
            <tr>
                <td style="text-align:left; width: 500px;"><label>Username*</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_username"/></td>
            </tr>
            <tr></tr>
            <tr>
                <td style="text-align:left;" colspan="2"><div style="margin-top:20px"><label>If teacher has no existing mcweb account, please enter below:</label></div><hr></td>
            </tr>

            <tr>
                <td style="text-align:left; width: 200px;"><label>First name</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_firstname"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Last name</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_lastname"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>Email</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_email"/></td>
            </tr>
        </table>
    </fieldset>

    <fieldset style="margin:5px; text-align:right;">
        <input type="button" value="Create course" style="margin-right:20px;" onclick="submit_check();">
    </fieldset>
</form>

<p style="margin-left: 5px;">NOTE: Course creation may take up to a few minutes.</p>

</div>

<script>
update_sn();

function submit_check() {
  if (document.getElementById('cbx_override').checked) {
    let sn = document.getElementById('tbx_sn').value.toLowerCase();
    let msg = 'This will override "' + sn + '" with the contents of the selected template. Are you sure?';
    if (confirm(msg)) document.getElementById('frm_course').submit();
  }
  else
    document.getElementById('frm_course').submit();
}
</script>

{% endblock %}
