<DOCTYPE="html">
<html>
<head>
    <title>mcweb user manage</title>
    <link type="text/css" rel="stylesheet" href="/static/signupper_style.css"/>
</head>
<body>
<script>
    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        if (mm < 10) mm = "0" + mm;
        var dd = this.getDate();
        if (dd < 10) dd = "0" + dd;
        return [this.getFullYear(), mm, dd].join('');
    };

    // TODO: string replace ' ' with '_'
    var update_sn = function()
    {
        tbx_site = document.getElementById('tbx_site');
        tbx_sn = document.getElementById('tbx_sn');
        var date = new Date();
        document.getElementById('lbl_sngen').innerHTML = tbx_site.value.toLowerCase() + "_" + tbx_sn.value.toLowerCase() + "_" + date.yyyymmdd();
        document.getElementById('field_shortname').value = tbx_site.value.toLowerCase() + "_" + tbx_sn.value.toLowerCase() + "_" + date.yyyymmdd();
    }
    var update_sn_tmpl = function()
    {
        tbx = document.getElementById('tbx_sn_tmpl');
        var date = new Date();
        document.getElementById('lbl_sngen_tmpl').innerHTML = tbx.value.toLowerCase() + "_" + date.yyyymmdd();
        document.getElementById('field_shortname_tmpl').value = tbx.value.toLowerCase() + "_" + date.yyyymmdd();
    }
    var update_cbxs = function()
    {
        master = document.getElementById('master_cbx');
        cbxs = document.getElementsByClassName('cbx');
        for (var i = 0; i < cbxs.length; i++) {
            cbxs[i].checked = master.checked;
        }
    }
</script>

<div id="wrapper">

    <table id="main_tbl"><tr>
        <td id="sidebar_td">
            <div id="sidebar">
                <div id="sidebar_menu">
                    <ul class="sidebar_ul">
                        {% for url, name in menu_items.items %}
                        {% if url == menu %}
                        <li class="sidebar_li" style="font-weight:bold;"><a href="/manage/{{ url }}">{{ name }}</a></li>
                        {% else %}
                        <li class="sidebar_li"><a href="/manage/{{ url }}">{{ name }}</a></li>
                        {% endif %}
                        {% endfor %}
			<li class="sidebar_li">---</li>
			<li class="sidebar_li"><a href="/static/compile_status.html" target=_blank>Instr compile status</a></li>
			<li class="sidebar_li"><a href="/static/mcweb_status.html" target=_blank>McWeb update status</a></li>
			<li class="sidebar_li"><a href="/static/moodle_status.html" target=_blank>Moodle update status</a></li>
			<li class="sidebar_li"><a href="/static/backup_status.html" target=_blank>Moodle backup status</a></li>
                    </ul>
                </div>
            </div>
        </td>
        <td>
            <table id="content_tbl">
            <tr>
                <td id="content_td">
                    <div id="content">
                        <p style="text-align:center">{{ message }}</p>

                        <div id="content_scrollarea">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="footer_td">
                </td>
            </tr>
            </table>
        </td>
    </tr></table>
</div>
</body>
</html>
