{% extends 'man_base.html' %}
{% block content %}

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <fieldset style="margin:10px;">
        <legend>Actions</legend>
        <select style="min-width:200px;" name="bulk_actions">
            <option>-- select bulk action --</option>
            {% for a in bulk_actions %}
            <option value="{{ a }}" name="{{ a }}">{{ a }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit" style="margin-right:20px;">
    </fieldset>

    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}
    <fieldset style="margin:10px;">
        <legend>Users {{ entries_str }}</legend>
        <table>
            <!-- create headers -->
            <tr>
                <th><input type="checkbox" id="master_cbx" onclick="update_cbxs();"/></td>
                <th><label>date</label></td>
                <th style="min-width:220px;"><label>first name</label></td>
                <th style="min-width:220px;"><label>last name</label></td>
                <th style="min-width:220px;"><label>email</label></td>
                <th style="min-width:220px;"><label>username</label></td>
                <th style="min-width:220px;"><label>password</label></td>
                <th style="min-width:220px;"><label>institution</label></td>
                <th style="min-width:220px;"><label>country</label></td>
                <th style="min-width:220px;"><label>description</label></td>
            </tr>
            <!-- create rows -->
            {% for row, id in rows_ids %}
                <tr>
                <td><input type="checkbox" class="cbx" name="{{ id }}_cbx"/></td>
                {% for cell in row %}
                    {% if cell.txt %}
                    <td style="text-align:center;"><input style="text-align:center;" type="text" name="{{ id }}_{{ cell.idx }}" value="{{ cell.data }}"/></td>
                    {% else %}
                    <td style="text-align:center;"><label>{{ cell.data }}</label></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </fieldset>
</form>

{% endblock %}
