{% extends 'man_base.html' %}
{% block content %}

<div style="margin-left:auto; margin-right:auto; width:600px;">

<fieldset style="margin:5px;">
    <legend>Existing templates</legend>
    <ul style="list-style-type: none; padding: 3px; margin: 0px; margin-top: 5px;">
      {% for t in templates %}
        <li><label>{{ t }}</label></li>
    {% endfor %}
  </ul>
</fieldset>

<form enctype="multipart/form-data" method="POST" action="{{ next }}">
    <input type="hidden" name="ids" value="{{ ids }}">
    {% csrf_token %}

    <fieldset style="margin:5px;">
        <table>
            <legend>New template</legend>
            <tr>
              <td style="width:500px;"><label>Source</label></td>
                <td style="text-align:left;">
                    <select style="min-width:200px;" name="course_selector">
                        <option>-- select from the list below --</option>
                        {% for t in courses %}
                        <option value="{{ t }}" name="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Template name</label></td>
                <td style="text-align:left;"><input type="text" id="tbx_sn_tmpl" name="tbx_sn_tmpl" onkeyup="update_sn_tmpl();"/></td>
            </tr>
            <tr>
                <td style="text-align:left;"><label>-></label></td>
                <td style="text-align:left;"><label id="lbl_sngen_tmpl" name="lbl_sngen_tmpl"></label></td>
            </tr>
            <tr>
                <td><label>Comments</label></td>
                <td style="text-align:left;"><input type="text" name="tbx_comments" id="tbx_comments"/></td>
            </tr>
        </table>
        <input type="hidden" id="field_shortname_tmpl" name="field_shortname_tmpl"/>
    </fieldset>

    <fieldset style="margin:5px; text-align:right;">
        <input type="checkbox" name="cbx_release" id="cbx_release" onchange="update_sn_tmpl();"><label style="margin-right:50px;">Release</label><br>
        <input type="submit" value="Create template" style="margin-right:20px;">
    </fieldset>
</form>

<p style="margin-left: 5px;">NOTE: Template creation may take up to a few minutes.</p>

</div>

<script>update_sn_tmpl();</script>


{% endblock %}
