<!-- {% extends "mcsimulator/layout.html" %} -->
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript"
            src="{% static 'jquery.js' %}"></script>
    <title>VNT: Single Login Page</title>
    <link rel="stylesheet" href="style.css">
    <script language="javascript">
        function OnButton1(){
            document.Form1.action = "/moodle/login/index.php" ;    // First target
            document.Form1.target = "iframe1" ;                    // Open in a iframe
            document.Form1.submit() ;                              // Submit the page
            document.Form1.action = "/login/try/" ;
            document.Form1.target = "iframe2" ;                    // Open in a iframe
            document.Form1.submit() ;                              // Submit the page
            return true;
        }
    </script>
</head>
<body>
<h1>Login</h1>
<!-- {% csrf_token %} -->
<form name=Form1 action= "login1.php" method=post>
    <ol>
        <input type='hidden' name='csrfmiddlewaretoken' value='<?php echo $_SESSION["token"]; ?>' />
                                                   <!-- value='UyIcAfYJcopZgjeSdw70NuZsJnP6GlZV' /> -->
        <li>
            <label for=username>Username:</label>
            <input type="text" name="username" id="username"><br>
        </li>
        <li>
            <label for=username>Password :</label>
            <input type="password" name="password"><br>
        </li>
    </ol>

    <input type="submit" value="Send" name="button1" onclick="return OnButton1();"><br>
</form>

<iframe NAME="iframe1" WIDTH="800" HEIGHT="160"></iframe><br>
<iframe NAME="iframe2" WIDTH="800" HEIGHT="160"></iframe>

</body>
<!-- See https://www.mediawiki.org/wiki/API:Login wrt. to possible -->
<!-- mediawiki solution -->

