{% load static %}

<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript"
            src="{% static 'jquery.js' %}"></script>
    <title>McStas: {% block title %}{% endblock %}</title>
    {% block head_extra %}
    {% endblock %}
    {% endblock %}
  </head>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//vntwiki.mcstas.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://vntwiki.mcstas.org/extensions/owa/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', 'eb08f225bed3a30e94acfc58ebfd02c4']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);
owa_cmds.push(['trackDomStream']);

(function() {
var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<!-- End Open Web Analytics Code -->
<noscript><p><img src="//vntwiki.mcstas.org/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<body>
  <!-- Begin information messages //-->
  <!-- <div id="messages"> //-->
<!--     { % with messages = get_flashed_messages() % } //-->
<!--     { % if messages % } //-->
<!--     { % for message in messages % } //-->
<!--     <p id="flash">{{ message }}</p> //-->
<!--     { % endfor % } //-->
<!--     { % endif % } //-->
<!--     { % endwith % } //-->
<!--   </div> //-->
  <!-- End information messages //-->
  <!-- Begin page content //-->
  <div id="content">{% block content %}{% endblock %}</div>
  <!-- End page content //-->
  <!-- begin footer //-->
  <div id="footer">{% block footer %}
    An web-based interface for <a href="http://mcstas.org/">McStas</a>.
    {% endblock %}</div>
  <!-- end footer //-->
</body>
